page-groupbuy {


.shangp_lieb_k_er li .lieb_txt p {
    color: #555;
    font-size: 0.28rem;
    line-height: 0.35rem;
    text-align: justify;
    padding-bottom:0;
}

.shangp_lieb_k_er li .lieb_txt p.px26 {
    font-size: 0.23rem;
    color: #e10601;
}

}
