


<ion-content >
		  <div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="javascript:;"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a href="javascript:;" class="px24 zyyge">拼团热卖</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>
<div id="yemnr">

<!--商品列表--> 

	
	<ul class="shangp_lieb_k_er">
		<li *ngFor="let item of list" [navPush]='GroupdetailPage' [navParams]="{id:item['id']}">
			<a href="javascript:;">
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao" style="white-space:nowrap">{{item.title}}</p>
          			<p class="bend"><span>{{item.num}}人团</span>   已售出：{{item.soldnum}}件</p>
					<p class="px23">团购惊喜价：<span style="color:#e10601">¥{{item.price}}</span></p>
		  <!--<p class="px26">{{item.recommend | pipeMultiple}}</p>-->
				</div>
			</a>
		</li>
	</ul>
</div>
<ion-row>
    <ion-col class="nodata" text-center *ngIf="!hasmore">
      没有更多啦 ♪(^∇^*)
    </ion-col>
  </ion-row>

</ion-content>
