page-shopmalllist {
.zhongj_k {
    height: 0.9rem;
}
.shangp_lieb_k_er li{
    height: inherit;
}
.shangp_lieb_k_er li .lieb_img img{
    height:100%;
    width:100%;
}
.shangp_lieb_k_er li .lieb_img{
    width: 2rem;
    height: 2rem;
}
.biao{
    height: 1.35rem;
}
.logo_k_fanh{
  width: auto;
  position: absolute;
}
.zhongjain_daoh{
  width: 100%;
}
.jiu_feo{
  width: 100%;
}
}
