page-login{
#web_bg{
  position:fixed;
  top: 0;
  left: 0;
  width:100%;
  height:100%;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
#web_bg_white{
    z-index: 2;
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
#web_bg_logo{
    position:fixed;
    top: 0;
    left: 0;
    width:100%;
    height:100%;
    zoom: 1;
    background-repeat: no-repeat;
    background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-position: center 0;
}
ion-item{
    z-index: 5;
    width: 8rem;
    font-size: 5rem;
    background-color:rgba(255,255,255,0.2) !important;
}
.input_box{
    z-index: 4;
    margin-top: 13%;
    margin-bottom: 13%;
    width: 90%;
    margin-left:auto;
    margin-right:auto;
    left: 0; right: 0;
}
.ensure_button{
   z-index: 5;
   font-size: 0.4rem;
   height: 0.7rem;
   color: #535353;
   background-color: #D7EAFE;
   border-radius: 0.1rem;
   margin-top: 1rem;
   width: 85%;
    margin-left: 7.5%;
    margin-bottom: 10px;
    span{
        font-size: 0.3rem;
    }
}
.div_a{
    font-size: 0.25rem;
    color: rgba(255,255,255,1);
    float: right;
    margin-top: 0.2rem;
    margin-right: 15%;
}
.div_a_pass{
    font-size: 0.25rem;
    margin-top: 0.2rem;
    margin-bottom: 0.15rem;
    color: rgba(255,255,255,1);
    float:left;
    margin-left: 15%;
}
a{
    font-size: 2rem !important;
}

.login_box { 
    width: 85%;
    margin:auto;
    margin-top: 0.15rem;
    height: 0.7rem; 
    border:1px solid #87B2EC;
    border-radius: 5px;
    ion-icon{
        margin-top: 0.1rem;
            font-size:0.5rem;
            margin-left: 0.2rem;
            float:left;
            color:white;
            position: absolute;
        }
    form{
        width:85%;
        height:100%;
        margin-left: 0.7rem;
        input{
            height: 100%;
            width:100%;
            background-color: rgba(0,0,0,0);
            color:white;
            font-size: 0.3rem;
        }
    }
} 
.login_box #s { 
    float: left; 
    padding: 0; 
    margin: 6px 0 0 6px; 
    border: 0; 
    background: none; 
    font-size: 2rem;
    height:3rem;
    width: 50%
} 
.login-box #go { 
    float: right; 
    margin: 3px 4px 0 0; 
}
.search_form button{
    padding: 0.13rem;
    float: right;
    font-size: 0.23rem;
    margin-top: 0.08rem;
    background: rgb(135, 178, 236) none repeat scroll 0% 0%;
    color: white;
}

.timer{
        width: 8rem;
        height: 3.6rem;
        line-height: 3.6rem;
        margin-left: 1rem;
        text-align: center;
        background: #eee;
        color:#666;
        
    }


    ion-item{
        background-color: rgba(0,0,0,0) !important;
    }
    ion-label{
        color:white;
        font-size: 0.3rem;
    }
    input{
        color:white;
    }
    .login_title{
        color: white;
        text-align: center;
        font-size: 0.8rem;
        font-weight: 600;
        margin-bottom: 0.5rem
    }
    .footer{
        text-align: center;
        color: white;
        font-size: 0.28rem;
        line-height: 0.5rem;
        margin-top: 2rem;
    }
    .footer.register{
        font-weight: bold;
    }
    .footerdiv{
        margin-top: 20%;
        width: 100%;
    }
    .password.item-ios.item-block .item-inner{
        border-bottom: none;
    }
    .getregister{
        color: white;
        font-size: 0.28rem;
        margin-top: -0.35rem;
        position: absolute;
        right: 0;
        z-index: 500;
        margin-right: 0.4rem
    }
    .content{
        border-bottom: 0.55px solid #c8c7cc;
        border-top: 0.55px solid #c8c7cc;
    }
    .logo{
        width: 60%;
    margin-left: 20%;
    }
        
}
