  <ion-navbar>

  </ion-navbar>
<div class="wrapper">
    <!--背景图片-->
    <div id="web_bg" style="background-image: url(assets/imgs/Login.png);"></div>
    <div id="web_bg_white" style="background-image: url(assets/imgs/Login_white.png);"></div>
    <div id="web_bg_logo" style="background-image: url(assets/imgs/Login_logo.png);"></div>
</div>
<div class="input_box">
  <ion-item>
    <ion-input type="number" placeholder="请输入手机号码" clearInput></ion-input>
  </ion-item>

  <ion-item>
    <ion-input *ngIf="loginNum" type="password" placeholder="请输入登录密码" clearInput></ion-input>
    <ion-input *ngIf="!loginNum" type="password" placeholder="请输入动态验证码" clearInput></ion-input>
  </ion-item>

  <button class="ensure_button" ion-button block>登录</button>
  <div class="div_a">
    <div>
      <a *ngIf="loginNum" (click)="getLoginNum()">验证码登录</a>
      <a *ngIf="!loginNum" (click)="getLoginNum()">密码登录</a> 
    </div>
    <div><a>找回登录密码</a></div>
  </div>
</div>
