<!--<ion-content>
    <div class="toub_beij toub_beij_zy"  style="background-color:rgba(1,1,1,0)">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh" (click)="backTo()">
        <a href="#"><img style="float:left" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24"></a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<div class="wrapper">
    <div id="web_bg"><img src="assets/imgs/background.png"></div>
</div>

<div class="input_box">
<img class="logo" src="assets/imgs/logo.png">
<div class="content">
  <ion-item>
    <ion-label color="rgba(0,0,0,0)" floating>请输入用户名</ion-label>
    <ion-input [(ngModel)]='userinfo.userName' name='userName' type="text"></ion-input>
  </ion-item>

  <ion-item class="password" *ngIf="loginNum">
    <ion-label color="rgba(0,0,0,0)" floating>请输入密码</ion-label>
    <ion-input [(ngModel)]='userinfo.userPwd' name='userPwd' type="password"></ion-input>
  </ion-item>

<div *ngIf="!loginNum">
  <ion-item class="password">
    <ion-label color="rgba(0,0,0,0)" floating>请输入验证码</ion-label>
    <ion-input [(ngModel)]='userinfo.userPwd' name='userPwd' type="password"></ion-input>
  </ion-item>
  <span class="getregister" *ngIf="isShowSend" (click)="ownRegist()">获取验证码</span>
  <span *ngIf="!isShowSend" class="getregister" style="color:gray">{{num}}秒后重新发送</span>
</div>
</div>

  <div class="div_a_pass" *ngIf="loginNum" (click)="getLoginNum()">验证码登录</div>
  <div class="div_a_pass" *ngIf="!loginNum" (click)="getLoginNum()">密码登录</div>
  <div class="div_a">忘记密码</div>

  <button (click)="doLogin()" class="ensure_button" ion-button block>登&nbsp;录</button>

  </div>
  <div style="clear:both"></div>
  <div class="footerdiv">
    <div class="footer register" [navPush]="RegisterpasswordPage">没有账号？点击这里注册></div>
    <div class="footer">Copyright©2018深圳市汇生活科技技术有限公司</div>
  </div>
</ion-content>-->

<ion-content>
 <div class="toub_beij toub_beij_zy"  style="background-color:rgba(1,1,1,0)">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh" (click)="backTo()">
        <a href="#"><img style="float:left" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24"></a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<div class="wrapper">
    <div id="web_bg"><img src="assets/imgs/background.png"></div>
</div>

<div class="input_box">
<img class="logo" src="assets/imgs/logo.png">
</div>


<div class="inputbox">
<div class="login_box">
  <ion-icon name="person-outline"></ion-icon>
  <form class="search_form">
    <input [(ngModel)]='userinfo.userName' name='userName' type="text"  placeholder="请输入手机号码" class="swap_value" />
  </form>
</div>

  <div *ngIf="!loginNum" class="login_box">
    <ion-icon name="unlock-outline"></ion-icon>
    <form class="search_form">
      <input [(ngModel)]='regist' name='regist' type="text"  placeholder="请输入验证码" class="swap_value" style="width:60%"/>
      <button *ngIf="isShowSend" (click)="ownRegist()">获取验证码</button>
      <button *ngIf="!isShowSend" style="color:gray">{{num}}秒后重新发送</button>
    </form>
  </div>
  <div *ngIf="loginNum" class="login_box">
      <ion-icon name="unlock-outline"></ion-icon>
    <form class="search_form">
      <input [(ngModel)]='userinfo.userPwd' name='userPwd' type="password" placeholder="请输入密码" class="swap_value" />
    </form>
  </div>
  <div class="div_a_build">
    <div class="div_a_pass" *ngIf="!loginNum" (click)="getLoginNum()">密码登录</div> 
    <div class="div_a_pass" *ngIf="loginNum" (click)="getLoginNum()">验证码登录</div>
    <div class="div_a" [navPush]="RebuildpassPage">忘记密码？</div>
    <div style="clear:both"></div>
    <div style="margin-top:0" class="div_a_pass" *ngIf="loginNum">
      <input type=checkbox class="inputcheck" [(ngModel)]='remeberNum'>
      <p>记住密码</p></div>
  </div>
</div>

  <button (click)="doLogin()" class="ensure_button" ion-button block>登&nbsp;录</button>
  <button style="margin-top:0;" [navPush]="RegisterpasswordPage" class="ensure_button" ion-button block>注&nbsp;册</button>
<div class="footer">—&nbsp;&nbsp;深圳市汇生活科技技术有限公司&nbsp;&nbsp;—</div>
  </ion-content>

