page-shopsort {

  .item-block{
    min-height: 3rem;
  }
  .cate_content{
    padding-top: 10px;
    overflow-y: hidden;
    position: relative;
    height:100%;
    width:100%;
    background-color: #f5f5f5;
  }
  .cate_left{
    width: 23%;
    position: absolute;
    overflow-y: auto;
    height: -webkit-fill-available;
    padding-bottom: 30px;
    z-index: 9;
    padding-top: 0.96rem;
    background-color: #f5f5f5;
    ul{
      margin-right: 5px;
      li{
        line-height: 0.69rem;
        font-size: 0.24rem;
        vertical-align: middle;
        text-align: center;
        color: #808080;
        background-color: white;
        margin-bottom: 5px;
      }
    }
  }
  .cate_left ul li:last-child{
    margin-bottom: 1rem;
  }
  .label-ios{
    padding-left:8px;
    text-align: center;
  }
  .item-ios{
    padding-left:0;
  }
  .list-ios{
    float: left;
  }
.list-ios[no-lines] ion-list-header, .list-ios[no-lines] ion-item-options, .list-ios[no-lines] .item, .list-ios[no-lines] .item .item-inner{
  min-height:0;
  background-color:#f5f5f5
}
.cate_right{
  height: -webkit-fill-available;
  margin-left: 23%;
  overflow-y: auto;
  overflow-x: hidden;
}
.scroll{
  margin-left: 23%;
  overflow-y: auto;
  overflow-x: hidden;
  padding-top: 10px;
  overflow-y: hidden;
  position: relative;
  background-color: #f5f5f5;
  //min-height: -webkit-fill-available; //新增
}
.activety {
  border-left: 2px solid #FF971C;
  color:#FF971C !important;
}
.shangp_lieb_k li .lieb_img{
  width:100%;
  padding-left: 0;
}

.shangp_lieb_k li:nth-child(odd){
  padding:0;
  margin-left: 0;
  width:47.7%;
  background-color: white;
  margin: 0 1.5% 0 1.5%;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  position: relative;
}

.shangp_lieb_k li:nth-child(even){
  padding:0;
  margin-left: 0;
  width:47.7%;
  background-color: white;
  margin: 0 1.5% 0 0;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
  position: relative;
}

.shangp_lieb_k li .lieb_txt p{
  font-size: 0.18rem;
  color: #333333;
}
.shangp_lieb_k li .lieb_txt p.px26{
  color: #FF730F;
  font-size:0.24rem;
  margin-top: 0.1rem;
}
.shangp_lieb_k li .lieb_txt{
  margin:0.15rem;
}
.shangp_lieb_k_er li .lieb_img{
  width:35%
}
.shangp_lieb_k_er li .lieb_txt{
   width:64%
}
.logo_k_fanh{
  width: auto;
  position: absolute;
}
.zhongjain_daoh{
  width: 100%;
}
.jiu_feo{
  width: 100%;
}
.shopnomore{
    display: -webkit-box; 
    -webkit-box-orient: horizontal; 
    -webkit-box-pack: center; 
    display: -moz-box; 
    -moz-box-orient: horizontal; 
    -moz-box-pack: center; 
    display: -o-box; 
    -o-box-orient: horizontal; 
    -o-box-pack: center; 
    display: -ms-box; 
    -ms-box-orient: horizontal; 
    -ms-box-pack: center; 
    display: box; 
    box-orient: horizontal; 
    box-pack: center;
}
.dibu{
    display: -webkit-box; 
    -webkit-box-orient: horizontal; 
    -webkit-box-pack: center; 
    display: -moz-box; 
    -moz-box-orient: horizontal; 
    -moz-box-pack: center; 
    display: -o-box; 
    -o-box-orient: horizontal; 
    -o-box-pack: center; 
    display: -ms-box; 
    -ms-box-orient: horizontal; 
    -ms-box-pack: center; 
    display: box; 
    box-orient: horizontal; 
    box-pack: center;
}

.shangp_lieb_k li .lieb_txt p.biao {
  height: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size:0.18rem;
    line-height: 0.35rem;
    color: #333333;
}
.infinite-loading-text{
      margin-left: 23%;
}
.infinite-loading{
  margin: 0;
}
ion-spinner{
  margin-left: 18%;
}
}

.chacha{
    float: right;
    width: 0.35rem;
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
}
