
<ion-content>

  	  <div style="background-color:#ff971c;height:0.96rem;" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="javascript:;"><img  *ngIf="fanhui" (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a href="javascript:;" class="px24 zyyge">更多商品分类</a></li>  
				</ul>
			</div>
			<div class="chacha"><a href="javascript:;"><img (click)="backToHome()" class="fanh_ann" src="assets/imgs/closearea.png"></a></div>
		</div> 
	</div>
</div>

  <div class="cate_content">
      <div class="cate_left">
          <ul id="cate_left">
            <li *ngFor="let item of list;let i = index" (tap)="getRightCateData(item['id'],i)">
              {{item.name}}</li>
          </ul>
      </div>

      <div class="cate_right">
          <!--<ul class="shangp_lieb_k_er">
            <li *ngFor="let item of fenllist" [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
                <div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao">{{item.title | cutSPipe}}</p>
					<p class="px26">￥{{item.goodspricemin}}</p>
                </div>
	        </li>
	    </ul>
		<div class="nomore">没有更多数据了...</div>-->
<div id="yemnr">
<!--商品列表--> 
<ul class="shangp_lieb_k">
		<li *ngFor="let item of fenllist"  [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
			<a href="javascript:;">
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao">{{item.title | cutPipe}}</p>
					<p class="px26">¥ {{item.goodspricemin}}</p>				
				</div>
			</a>
		</li>
	</ul>
</div>
<div class="nomore" style="display: block">没有更多数据了...</div>
      </div>
	 
  </div>
  
</ion-content>
