<ion-header>
	<div style="background-color:#ff971c;height:0.96rem;" class="toub_beij toub_beij_zy">
		<div class="zhongj_k zhongj_k_z">
			<div class="jiu_feo">
				<div (click)="backTo()" class="logo_k logo_k_fanh"><a href="javascript:;">
				<img class="fanh_ann" src="assets/imgs/fanh.png">
				<!--<img (click)="backToHome()" class="fanh_ann closearea" src="assets/imgs/closearea.png">--></a>
				</div>
				<div class="zhongjain_daoh">
					<ul>
						<li><a href="javascript:;" class="px24 zyyge">全部分类</a></li>
					</ul>
				</div>
				<div class="chacha"><a href="javascript:;"><img (click)="backToHome()" class="fanh_ann" src="assets/imgs/closearea.png"></a></div>
			</div>
		</div>
	</div>
</ion-header>

<div class="cate_content">
	<div class="cate_left">
		<ul id="cate_left">
			<li class="activety" (tap)="getRightCateData(list1['id'],0,list1.name)">
				{{list1.name}}</li>
			<li *ngFor="let item of list2;let i = index" (tap)="getRightCateData(item['id'],i+1,item.name)">
				{{item.name}}</li>
		</ul>
	</div>
</div>

<ion-content>

	<div class="spinnerbox"></div>
	<div style="margin-left:11%" class="spinner">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
		<div class="bar9"></div>
		<div class="bar10"></div>
		<div class="bar11"></div>
		<div class="bar12"></div>
	</div>

	<ion-refresher (ionRefresh)="doRefresh($event)" pullMax=500>
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="释放刷新"
        refreshingSpinner="circles"
        refreshingText="正在更新"
        top="1rem;">
      </ion-refresher-content>
  	</ion-refresher>

	<div class="scroll" *ngFor="let item of listTotal;">
		<!--商品列表-->
		<ul class="shangp_lieb_k" id="{{item.pid}}">
			<div class="shopnomore" style="margin:0 0 5px 0;z-index:0">
				<img src="assets/imgs/leftbar.png">
				<span style="font-size:0.17rem;color:#FF971C">{{item.name}}</span>
				<img src="assets/imgs/rightbar.png">
			</div>
			<li *ngFor="let item of item.fenllist" (click)="gotoGood(item['id'])">
				<a href="javascript:;">
					<div class="lieb_img"><img src={{item.img}}></div>
					<div class="lieb_txt">
						<p class="biao">{{item.title}}</p>
						<p class="px26">¥ {{item.goodspricemin}}</p>
					</div>
				</a>
			</li>			
		</ul>
		<div *ngIf = "dibu" class="dibu" style="margin:0 0 5px 0;z-index:0;">
				<img src="assets/imgs/leftbar.png">
				<span style="font-size:0.17rem;color:#FF971C">{{item.name}}已售完</span>
				<img src="assets/imgs/rightbar.png">
			</div>	
	</div>

	<ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
		<ion-infinite-scroll-content
		loadingSpinner="circles"
		distance = -2rem
		loadingText="正在加载中，请稍候..."></ion-infinite-scroll-content>
	</ion-infinite-scroll>
</ion-content>