<<ion-header>

  <ion-navbar>
    <ion-title>更多商品分类</ion-title>
  </ion-navbar>

</ion-header>



<ion-content>
  <div class="cate_content">
      <div class="cate_left">
          <ion-list no-lines>
            <ion-item *ngFor="let item of list" (tap)="getRightCateData(item['id'])">
              {{item.name}}</ion-item>
          </ion-list>
      </div>

      <div class="cate_right">
          <ul class="shangp_lieb_k_er">
            <li *ngFor="let item of fenllist">
              <a>
                <div class="lieb_img"><img src={{item.img}}></div>
				        <div class="lieb_txt">
					        <p class="biao">{{item.title | cutSPipe}}</p>
				        	<p class="px26">￥{{item.goodspricemin}}</p>
                </div>
			        </a>
		        </li>
	        </ul>
      </div>
  </div>
</ion-content>
