page-shopsort {

  .item-block{
    min-height: 3rem;
  }
  .cate_left{
    width: 25%;
    border-right: 1px solid gainsboro;
  }
  .label-ios{
    padding-left:8px;
    text-align: center;
  }
  .item-ios{
    padding-left:0;
  }

}
