page-shoppingdetail {
#goods-content .swipper-container img{
    width: 100%;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#goods-content .information{
    padding: 1rem 0.5555555555555556rem;
    background-color: #fff;
    word-break: break-all;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#goods-content .information .name{
    font-size: 1.7777777777777777rem;
    color: rgb(42, 42, 42);
}

#goods-content .information .tip{
    margin-top: 0.4444444444444444rem;
    font-size: 1.3333333333333333rem;
    color: red;
}

#goods-content .information .price{
    margin-top: 0.6666666666666666rem;
    font-size: 2rem;
    color: red;
}

#goods-content .information .o-price{
    margin-top: 0.1111111111111111rem;
    font-size: 1.5555555555555556rem;
    color: gray;
}

#goods-content .information .o-price span{
    text-decoration: line-through;
}

#goods-content .spec{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    margin-top: 0.1111111111111111rem;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    vertical-align: middle;
}

#goods-content .spec span{
    float: left;
    font-size: 1.5555555555555556rem;
    line-height: 1.7777777777777777rem;
    color: gray;
}

#goods-content .spec ul{
    float: left;
}

#goods-content .spec ul li{
    font-size: 1.5555555555555556rem;
    height: 2.5rem;
    float: left;
    padding: 0.2222222222222222rem 0.3333333333333333rem;
    margin-right: 0.6666666666666666rem;
    border: 1px solid gray;
}


#goods-content .address{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    color: gray;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    font-size: 1.5555555555555556rem;
}

#goods-content .address span{
    color: #000;
}

#goods-content .tags{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    background-color: #fff;
}

#goods-content .tags .tag{
    float: left;
    margin-right: 1.3333333333333333rem;
}

#goods-content .tags .tag span{
    float: left;
    color: #000;
    line-height: 1.1111111111111112rem;
    font-size: 1.1111111111111112rem;
}

#goods-content .tags .tag img{
    width: 1.1111111111111112rem;
    height: 1.1111111111111112rem;
    float: left;
    margin: 0 0.2222222222222222rem 0 0 ;
}

#goods-content .seller-inf{
    padding: 1.7777777777777777rem 0.5555555555555556rem;
    margin-top: 0.8888888888888888rem;
    position: relative;
    background-color: #fff;
}

#goods-content .seller-inf img{
    width: 6.666666666666667rem;
    height: 5.555555555555555rem;
    float: left;
}

#goods-content .seller-inf .inf{
    margin: 0.4444444444444444rem 0 0 0.6666666666666666rem;
    float: left;
}

#goods-content .seller-inf .name{
    height: 1.5555555555555556rem;
    font-size: 1.5555555555555556rem;
    color: #000;
    font-weight: bold;
}

#goods-content .seller-inf .sales-count{
    height: 1.5555555555555556rem;
    margin-top: 0.8888888888888888rem;
    font-size: 1.5555555555555556rem;
    color: #000;
}



#goods-content .goods-detial{
    margin-top: 0.8888888888888888rem;
    background-color: #fff;
}

#goods-content .goods-detial .nav{
    padding: 1.3333333333333333rem 0;
}

#goods-content .goods-detial .nav li{
    height: 1.5555555555555556rem;
    width: 49%;
    text-align: center;
    line-height: 1.5555555555555556rem;
    font-size: 1.5555555555555556rem;
    color: #000;
    float: left;
}

#goods-content .goods-detial .nav li:first-child{
    border-right: 1px solid gray;
}

#goods-content .goods-detial .nav li.active{
    color: red;
}

.recommend-title{
    padding: 0.8888888888888888rem 0;
    font-size: 1.6666666666666667rem;
    font-weight: bold;
    color: #555;
    background-color: rgb(240, 240, 240);
    text-align: center;
}

.recommend-list .recommend-item{
    width: 20rem;
    height: 29rem;
    float: left;
    margin-bottom: 0.3333333333333333rem;
    background-color: #fff;
}


.recommend-list .recommend-item:nth-child(odd){
    margin-right: 0.3333333333333333rem;
}

.recommend-list .recommend-item img{
    width: 19.5rem;
    height: 19.5rem;
}

.recommend-list .recommend-item .name{
    margin: 0.5555555555555556rem 0.5555555555555556rem;
    font-size: 1.7777777777777777rem;
    word-break:break-all;
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    overflow: hidden;
}

.recommend-list .recommend-item .price{
    margin: 0.5555555555555556rem 0.5555555555555556rem;
    font-size: 1.5555555555555556rem;
    color: red;
}
}


