page-rentsalelist {
#test{
     position:sticky;
    z-index: 500;
    background-color: white;
}
#group-content ul{
    padding: 0 0.2rem;
    border-bottom: 1px solid #dedede;
}
#group-content .order-nav .type{
    height:0.7rem;
    width: 33.3%;
    text-align: center;
    float: left;
    height:0.8rem;
    font-family: Roboto;
}

#group-content .order-nav .type a{
    padding: 0.3rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #818181;
    font-size: 0.28rem;
}
#group-content .order-nav .type img{
    width: 0.15rem;
    float: right;
    padding-top: 0.32rem;
    margin-right: 0.5rem;
}
#group-content .order-nav .type.current a{
    color: #2979FF;
}
#group-content .order-nav .type.current{
    border-bottom: 1px solid #2979FF;
}
.zixun_content{
    width:100%;
    height:auto;
    background-color:rgba(255,255,255,1);
}
 .zixun_content .zixun_li{
    padding:0rem 0.2rem 0.1rem 0.35rem;
    height:1.5rem;
}
 .zixun_content .zixun_li img{
    float:left;
    margin-top:0.15rem;
    width:20%;
}
 .zixun_content .zixun_li .content{
    float:left;
    color:#646464;
    font-size:0.28rem;
    line-height:0.38rem;
    width:75%;
    margin-left:0.23rem;
    margin-top:0.15rem;
}
.zixun_content .zixun_li .line{
    float:left;
    margin-top:0.15rem;
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    border-bottom:1px ridge rgba(245,245,245,1);
}
.shangp_lieb_k_er li{
    height:auto;
}
.shangp_lieb_k_er li .lieb_txt{
    padding-left: 0.2rem;
}
.showMore{
    padding: 0.2rem;
    font-size: 0.3rem;
    font-family: sans-serif;
    text-align: center;
    color: gray;
    display:none;
}

    .nomore{
        display:none;
        font-size: 0.2rem;
        text-align: center;
        color: gray;
    }

    .shangp_lieb_k_er li{
    height:auto;
}
.shangp_lieb_k_er li .lieb_txt{
    padding-left: 0.2rem;
    width:65%;
}
.shangp_lieb_k_er li .lieb_img{
    width:35%;
}
.shangp_lieb_k_er li .lieb_txt p.biao{
    height:0.7rem;
    color: #818181;
}
.shangp_lieb_k_er li .lieb_txt p.bend{
    font-size: 0.17rem;
    color: #818181;
}

}
