<!--王慧敏-->
<ion-header>
	<div class="toub_beij toub_beij_zy">
	<div  style="background-color:#ff971c;height:0.96rem" class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div (click)="backTo()" class="logo_k logo_k_fanh"><a href="#">
								<img class="fanh_ann" src="assets/imgs/fanh.png">
				<!--<img (click)="backToHome()" class="fanh_ann closearea" src="assets/imgs/closearea.png">-->
				</a></div>
			<div class="zhongjain_daoh">
				<ul id="title">
					<li class="qbdd qbdd_you" (click)="gotoOrder()"><a class="zyyge">商城订单</a></li>
          <li class="qbdd no" (click)="gotoGroup()"><a class="zyyge">团购订单</a></li>
				</ul>
			</div>
			<div class="chacha"><a href="javascript:;"><img (click)="backToHome()" class="fanh_ann" src="assets/imgs/closearea.png"></a></div>
		</div>
	</div>
</div>
</ion-header>
<ion-content style="background-color:#f5f5f5">
<div class="spinnerbox"></div>
<div class="spinner">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
</div>
<ion-refresher (ionRefresh)="doRefresh($event)" pullMax=500>
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="释放刷新"
        refreshingSpinner="circles"
        refreshingText="正在更新"
        top="1rem;">
      </ion-refresher-content>
  </ion-refresher>
	    <!--团购列表--> 
  <div id="group-content" class="group-content">
        <ul class="order-nav clearfix" id="test2">
            <li class={{tab_test.li00}} data-nav="waitGroup" (click)="groupEvent(0)"><a href="javascript:void(0);">待开团</a></li>
            <li class={{tab_test.li01}} data-nav="groupIng" (click)="groupEvent(1)"><a href="javascript:void(0);">组团中</a></li>
            <li class={{tab_test.li02}} data-nav="groupFailure" (click)="groupEvent(2)"><a href="javascript:void(0);">组团成功</a></li>
            <li class={{tab_test.li03}} data-nav="groupSuccess" (click)="groupEvent(3)"><a href="javascript:void(0);">组团失败</a></li>
        </ul>

    <div class="gouwuc_kk gouwuc_kk_ddxq">
	 	<ul>
	 		<li *ngFor="let item of groupBuyList">
				<div class="dingd_hao"><p>{{item.buy_state1|pipeTime}}</p><p class="ensurestate">{{item.buy_state | pipeGroup}}</p></div>

	 			<div class="diannao_shanp" (click)="groupbuyEvent(item.groupbuy_Id)"> 
	 				<a href="javascript:;"><h1><img src="{{item.img}}"></h1></a>
	 				<div class="you">
	 					<p class="px24 bt">{{item.title}}</p>
	 					<p class="xh" style="float:left;">{{item.size_name}}</p>

						<div class="youjfy" style="float: right;">
							<div class="goum_sl"> 
								<div class="counter_box">
									<span>x{{item.goods_num}}</span>
								</div>
							</div>
						</div>
						<div style="clear:both"></div>
						<p class="xh" style="float:left;margin:0.07rem 0 0 0;color:#FF730F;font-size:0.24rem;">￥{{item.preprice}}</p>
	 				</div>
	 			</div>

	 			<div class="qqq_jia">

	 				<div class="zuo">
						<p>共计{{item.goods_num}}件商品</p>
	 					<p class="totalmoney">合计：<em style="color:#FF730F">￥{{item.pretotalprice}}</em></p>
	 				</div>
					 <div style="clear:both"></div>
	 				<div class="you">
	 					<p *ngIf="item.buy_state==0">
	 					</p>
                        <p *ngIf="item.buy_state==1">
	 					</p>
                        <p *ngIf="item.buy_state==2">
		 					<a href="javascript:;">去评价</a>
		 					<a href="javascript:;" class="color_1">再次购买</a>
	 					</p>
                        <p *ngIf="item.buy_state==3">
		 					<!--<a href="javascript:;">去评价</a>-->
		 					<a href="javascript:;" class="color_1">再次购买</a>
	 					</p>
	 				</div>
	 			</div>
	 		</li>
	 	</ul>
    </div>

    </div>

    <!--商品订单列表--> 
  <div id="order-content" class="order-content" style="display:none">
        <ul class="order-nav clearfix" id="test">
            <li class={{tabTest.li00}} data-nav="all" (click)="paymentEvent(0)"><a href="javascript:void(0);">全部</a></li>
            <li class={{tabTest.li01}} data-nav="payment" (click)="paymentEvent(1)" ><a href="javascript:void(0);">待付款</a></li>
            <li class={{tabTest.li02}} data-nav="receive" (click)="paymentEvent(2)"><a href="javascript:void(0);">待发货</a></li>
            <li class={{tabTest.li03}} data-nav="done" (click)="paymentEvent(3)"><a href="javascript:void(0);">待收货</a></li>
            <li class={{tabTest.li04}} data-nav="cancel" (click)="paymentEvent(4)"><a href="javascript:void(0);">待评价</a></li>
        </ul>
        <div class="order-list">
            <div class="order-item">
	<div class="gouwuc_kk gouwuc_kk_ddxq">
            <ul class="offent">
	 		<li *ngFor="let item of list">
	 			<div class="dingd_hao"><p>{{item.trade_time}}</p><p class="ensurestate">{{item.statename}}</p></div>
				 <ul  class="goodsul">

					 <li *ngFor ="let goodsList of item.goods_list">
	 			<div class="diannao_shanp" [navPush]="GoodsoderdetailPage" [navParams]="{id:item['trade_id'],tradegoodsId:goodsList['tradegoods_id']}"> 
	 				<h1><img src="{{goodsList.img}}"></h1>
	 				<div class="you">
	 					<a href="javascript:void(0)"><p class="px24 bt">{{goodsList.goods_title}}</p></a>
	 					<p class="xh" style="float:left;">{{goodsList.size_name}}</p>
	 					<div class="youjfy" style="float: right;">
							<div class="goum_sl"> 
								<div class="counter_box">
									<span>x{{goodsList.goods_num}}</span>
								</div>
							</div>
	 					</div>
						 <div style="clear:both"></div>
						<p class="xh" style="float:left;margin:0.07rem 0 0 0;color:#FF730F;font-size:0.24rem;">￥{{goodsList.preprice}}</p>
	 				</div>
	 			</div>
					 </li>
				 </ul>
	 			<div class="qqq_jia">
	 				<div class="zuo">
						<p>共计{{item.goodsNum}}件商品</p>
	 					<p class="totalmoney">合计：<em style="color:#FF730F">￥{{item.pretotalprice}}</em></p>
	 				</div>
					 <div style="clear:both"></div>
	 				<div class="you">

                        <p *ngIf="item.trade_state==3">
		 					<a (click)="receiveEvent(item.trade_id)" class="color_1">确认收货</a>
	 					</p>
	 					<p *ngIf="item.trade_state==4">
		 					<a (click)="evaluationEvent(item.trade_id,item.goods_list[0].tradegoods_id)">去评价</a>
		 					<a href="javascript:void(0)" class="color_1">再次购买</a>
	 					</p>

                        <p *ngIf="item.trade_state==1">
                            <a (click)="cancelpaymentEvent(item.trade_id)">取消付款</a>
		 					<a (click)="obligationEvent(item.trade_id)" class="color_1">确认付款</a>
	 					</p>

                        <p *ngIf="item.trade_state==2">
                            <!--<a (click)="refundEvent(item.goods_list[0].tradegoods_id)">退款</a>-->
	 					</p>
	 				</div>
	 			</div>
	 		</li>
            </ul>
	</div>
            </div>
        </div>

    </div>

<div class="shopnomore"><img src="assets/imgs/leftbar.png"><span style="font-size:0.17rem;color:#FF971C">&nbsp;&nbsp;到底了&nbsp;&nbsp;</span><img src="assets/imgs/rightbar.png"></div>

  <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
