
<ion-content >
   

<div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">订单详情</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<div class="shez_toux">

	<div class="dd_xiangq_sp_k">
		<dl>
			<dd>
				<a href="#">
					<h1><img src="{{list.img}}"></h1>
					<div class="wenz">
						<p>{{list.goods_title}}</p>
						<span>{{list.size_name}}</span>
					</div>
				</a>
				<div class="ddxq_jiaq">
					<p>¥{{list.preprice}}</p>
					<span>x{{list.goods_num}}</span>
				</div>
			</dd>
		</dl>
	</div>
	<div class="min_xi">
		<p><em>收货信息：</em>{{model.tradeaddress}}</p>
		<p><em>订单时间：</em>{{model.trade_time}}</p>
		<p><em>订单状态：</em>{{model.consignmodename}}</p>
	</div>
	<div class="zuizong_jies">
		<p><em>商品总额</em><span>¥{{model.pretotalprice}}</span></p>
		<p><em>积分抵扣</em><span>¥0.00</span></p>
		<p><em>运费</em><span>¥0.00</span></p> 
	</div>
	<div class="xiangq_liang_ann">
      <a *ngIf="model.tradestate==1" (click)="cancelpaymentEvent(item.trade_id)" href="javascript:;">取消付款</a>
		  <a *ngIf="model.tradestate==1" (click)="obligationEvent(item.trade_id)" href="javascript:;" style="background-color:#ff971c">确认付款</a>

      <a *ngIf="model.tradestate==2" (click)="refundEvent(item.goods_list[0].tradegoods_id)" href="javascript:;" class="sc">退款</a>

      <a *ngIf="model.tradestate==3" (click)="receiveEvent(item.trade_id)" href="javascript:;" style="background-color:#ff971c">确认收货</a>

      <a *ngIf="model.tradestate==4" (click)="evaluationEvent(item.trade_id,item.goods_list[0].tradegoods_id)">去评价</a>
		 	<a *ngIf="model.tradestate==4" (click)="buyagainEvent(item.goods_list[0].goods_id)" style="background-color:#ff971c">再次购买</a>
	</div>
</div>

</ion-content>