<ion-header>


  <div class="toub_beij toub_beij_zy" style="background-color:#448AFF">

    <div class="zhongj_k shouye">
      <div class="logo_k logo_k_fanh"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></div>
      <div class="shous_k">


        <div class="searchTool">
          <form class="choose">
            <img src="assets/imgs/jiantou.png" style="position: absolute;margin-top:0.25rem;right:5px;width:0.2rem;height:0.1rem;margin-right: 0.08rem;">
            <select name="type" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 16px;" [(ngModel)]="houseType" (ngModelChange)="changeType()">
              <option class = "11" value="1">出售</option>
              <option selected class = "22" value="2">出租</option>
              <option class = "33" value="3">求购</option>
              <option class = "44" value="4">求租</option>
            </select>
          </form>
          <input type="search" [(ngModel)]="search" (keyup)="onSearchKeyUp($event)" class="searchTextInit">
          <input type="button" value class="searchBtn">
          <ion-icon (click)="getSaleList()" class="searchicon" name="ios-search-outline"></ion-icon>
        </div>
      </div>
    </div>
  </div>

</ion-header>

<ion-content style="background-color:#f5f5f5">

  <ion-menu side="right" type="overlay" [content]="content">
    <ion-content>
      <div class="menu-list">
        <div class="blockdiv">
          <div class="blocktit">价格区间</div>
          <div class="blockcon"><input class="blockinp" type="number" [(ngModel)]="pricemin" /> - <input class="blockinp" type="number" [(ngModel)]="pricemax" />&nbsp;元</div>
        </div>
        <div class="blockdiv">
          <div class="blocktit">房屋性质</div>
          <div class="blockcon" *ngIf="houseType == 1 || houseType == 3" ><span class="blockspan nature" data-value="1">一手房</span><span class="blockspan nature" data-value="2">二手房</span></div>
          <div class="blockcon" *ngIf="houseType == 2 || houseType == 4" ><span class="blockspan nature">整租</span><span class="blockspan nature" data-value="2">合租</span></div>
        </div>
        <div class="blockdiv">
          <div class="blocktit">面积</div>
          <div class="blockcon"><input class="blockinp" type="number" [(ngModel)]="spacemin" /> - <input class="blockinp" type="number" [(ngModel)]="spacemax" />&nbsp;㎡</div>
        </div>
        <div class="blockdiv" >
          <div class="blocktit">户型</div>
          <div class="blockcon" ><span class="blockspan room" data-value="0">不限户型</span> <span data-value="1" class="blockspan room">1室</span>
          <span class="blockspan room" data-value="2">2室</span><span class="blockspan room"data-value="3" >3室</span>
            
          </div>
        </div>
        <!--<div class="blockdiv">
          <div class="blocktit">区域</div>
          <div class="blockcon"></div>
        </div>-->

      </div>
    </ion-content>

    <!--footer： 是这个菜单页面的底部也可以省略 -->
    <ion-footer>
      <span class="ensure" (click)="ensureSearch()">确认</span>
      <span class="reset" (click)="resetSearch()">重置</span>
    </ion-footer>
  </ion-menu>

  <div class="spinnerbox"></div>
  <div class="spinner">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
  </div>

  <div id="group-content" style="background-color:white">
    <ul class="order-nav clearfix" id="test" #content>
      <li class="type" id="time"><a href="javascript:;">时间</a><img src="assets/imgs/gray.png"></li>
      <li class="type" id="space"><a href="javascript:;">面积</a><img src="assets/imgs/gray.png"></li>
      <li class="type" id="price"><a href="javascript:;">售价</a><img src="assets/imgs/gray.png"></li>
<li class="type" style="border-left: 1px solid #eeeeee;"><a href="javascript:;" style="margin-right:0.25rem">筛选</a>
  <button style="padding-left:1rem;" ion-button menuToggle icon-only class="toggle">  
     <ion-icon style="color:#818181;font-size: 0.3rem;margin-bottom: 0.1rem;" name='ios-funnel-outline'></ion-icon>  
   </button></li>
    </ul>



    <ul id="testcontent" class="shangp_lieb_k_er">
      <li *ngFor="let house of houseInfo" (tap)="goRentsaleInfo(house.id,house.type)">
        <div class="lieb_img"><img src="{{house.imgurl}}"></div>
        <div class="lieb_txt">
          <p class="biao">【{{house.district}}】 &nbsp;{{house.title}}</p>
          <p class="bend areatop">{{house.room}}室{{house.halls}}厅{{house.restroom}}卫&nbsp;&nbsp;{{house.space}}㎡</p>
          <div style="clear:both"></div>
          <p class="bend" style="float:left">{{house.area}}</p>
          <p class="px26" *ngIf="houseType ==1 || houseType ==3" style="float:right;font-size:0.22rem;color:#2979FF">¥ {{house.pricemin}}~{{house.pricemax | pipeMoney}}万<span> </span></p>
          <p class="px26" *ngIf="houseType ==2 || houseType ==4" style="float:right;font-size:0.22rem;color:#2979FF">¥ {{house.pricemin}}~{{house.pricemax}}元<span> </span></p>
        </div>
      </li>
    </ul>
  </div>

  <ion-refresher (ionRefresh)="doRefresh($event)" pullMax=500>
    <ion-refresher-content pullingIcon="arrow-dropdown" pullingText="释放刷新" refreshingSpinner="circles" refreshingText="正在更新" top="1rem;">
    </ion-refresher-content>
  </ion-refresher>

  <div class="nomore">没有更多数据了...</div>

  <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>