page-rentsearch {

     .searchdiv{ 
        background:#fff;
        // border-top:1px solid #3e3e3e;
         border-bottom:1px solid #f5f5f5;
        text-align:center;
        // position: sticky;
        top: 0.78rem;
        z-index: 100;
    }
    .shous_k{
           width: 80%; 
           background-color: rgba(0,0,0,0)
    }
    .logo_k_fanh .fanh_ann{
        margin: 0.2rem 0 0 0.3rem;
    }
    /*.footerSearch .searchBar{margin:0 auto;}*/
    .searchTool{
        height:32px;
        line-height:32px;
        margin:0px auto 0 auto; 
        text-align:left; 
        background:#fff;
        border-radius: 5px;
    }
    .choose{
        float:left;
        cursor:pointer;
        height:32px;
        width:29%; 
        display:inline-block;
        position:relative;
        line-height:32px;
        font-size:18px; 
        text-align:center;
        padding-right:10px;
    }

    .choose select{
        height: 30px;
        width:100%;
        background-color: #fff;
        color: #aaaaaa;
    }

    .searchTextInit{
        height:32px;
        line-height:30px;
        border-radius:0;
        border-left:2px solid #f5f5f5;
        padding:0 8px;
        font-size:12px;
        color:#333;
        color:gray;
        width:60%; 
        background:#fff;
        float:left
    }
    .searchTextInput{
        height:32px;
        line-height:32px;
        border:0;
        border-left:1px solid #448aff;
        padding:0 8px; /*上 右 下 左*/
        font-size:18px;
        color:black;
        width:250px; 
        background:#fff;
        float:left
    }
    .searchBtn{
        float:left;
        height:24px;
        width:24px; 
        background:#fff 
        url(assets/imgs/fee.png) no-repeat center 0px;
        cursor:pointer;
        border:0;
        margin:4px 0 0 4px;
    }
    .searchBtn:hover{
        background:#fff url(assets/imgs/fee.png) 
        no-repeat center -24px;
    }
    .choose ul{
        border-bottom:1px solid #448aff;
        list-style:none;
        width:100%;
        z-index: 100;
        position: absolute;
        background-color: #fff ;
    }
    .choose ul li{
        padding: 5px 0;
    }
        .item-ios h4{
        font-size:0.23rem;
        line-height: 0.3rem;
        margin-left: 0.3rem;
    }
    .item-ios p{
        font-size:0.23rem;
        line-height: 0.35rem;
        margin-left: 0.3rem;
    }
    .item-ios{
        padding:0
    }
    .button[icon-only]{
        min-width:0;
    }
    .dengl .caid_img{
        width: 80%;
    }
    .title_a{
        font-size: 0.3rem;
        margin: 0.1rem 0 0.1rem 0.3rem;
        line-height: 0.5rem;
        float: left;
    }
    .searchicon{
    font-size: 0.45rem;
    position: absolute;
    right: 0.7rem;
    margin-top: 0.09rem;
    }
    .right{
        position: absolute;
        right: 0.5rem;
        line-height: 0.65rem !important;
    }
    .list-ios{
        margin-top: 10px;
    }
    .list-ios > .item-block:first-child{
        border-top: none;
    }
    ion-label img{
            position: absolute;
    right: 0.5rem;
    top: 0.75rem;
    height: 0.8rem;
    }

#test{
     position:sticky;
    z-index: 500;
    background-color: white;
}
#group-content ul{
    padding: 0 0.2rem;
    border-bottom: 1px solid #dedede;
}
#group-content .order-nav .type{
    height:0.7rem;
    // width: 25%;
    width: 33.3%;
    text-align: center;
    float: left;
    height:0.8rem;
    font-family: Roboto;
}

#group-content .order-nav .type a{
    padding: 0.3rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #818181;
    font-size: 0.28rem;
}
#group-content .order-nav .type img{
    width: 0.15rem;
    float: right;
    padding-top: 0.32rem;
    margin-right: 0.5rem;
}
#group-content .order-nav .type.current a{
    color: #2979FF;
}
#group-content .order-nav .type.current{
    border-bottom: 1px solid #2979FF;
}
.zixun_content{
    width:100%;
    height:auto;
    background-color:rgba(255,255,255,1);
}
 .zixun_content .zixun_li{
    padding:0rem 0.2rem 0.1rem 0.35rem;
    height:1.5rem;
}
 .zixun_content .zixun_li img{
    float:left;
    margin-top:0.15rem;
    width:20%;
}
 .zixun_content .zixun_li .content{
    float:left;
    color:#646464;
    font-size:0.28rem;
    line-height:0.38rem;
    width:75%;
    margin-left:0.23rem;
    margin-top:0.15rem;
}
.zixun_content .zixun_li .line{
    float:left;
    margin-top:0.15rem;
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    border-bottom:1px ridge rgba(245,245,245,1);
}
.shangp_lieb_k_er li{
    height:auto;
}
.shangp_lieb_k_er li .lieb_txt{
    padding-left: 0.2rem;
}
.showMore{
    padding: 0.2rem;
    font-size: 0.3rem;
    font-family: sans-serif;
    text-align: center;
    color: gray;
    display:none;
}

    .nomore{
        display:none;
        font-size: 0.2rem;
        text-align: center;
        color: gray;
    }

    .shangp_lieb_k_er li{
    height:auto;
}
.shangp_lieb_k_er li .lieb_txt{
    padding-left: 0.2rem;
    width:65%;
}
.shangp_lieb_k_er li .lieb_img{
    width:35%;
}
.shangp_lieb_k_er li .lieb_txt p.biao{
    height:0.7rem;
    color: #818181;
}
.shangp_lieb_k_er li .lieb_txt p.bend{
    font-size: 0.17rem;
    color: #818181;
}

.toggle{
    background: rgba(0,0,0,0);
    position: absolute;
    height: 0.96rem;
    padding: 0;
    margin: 0;
    right: 0.2rem;
    top: 0;
}

.menu-list{
    padding: 0.4rem;
    margin-top: 0.6rem;
}
.blocktit{
    font-size: 0.23rem;
    line-height: 0.5rem;
    color: #333333;
}
.blockinp{
    border: 1px solid #666666;
    border-radius: 2px;
    width: 25%;
    height: 0.4rem;  
}
.blockspan{
    padding: 0.1rem 0.2rem;
    background-color: #eeeeee;
    border-radius: 2px;
    border: 1px solid #cccccc;
    display: inline-table;
    margin-right: 0.2rem;
    color: #666666;
}
.blockcon{
    padding: 0.1rem;
}
.reset{
    padding: 0.2rem 0.5rem;
    background:rgba(4, 100, 255, 0.5);
    border-left: 50%;
    border-top-left-radius: 0.28rem;
    border-bottom-left-radius: 0.28rem;
    float: right;
    color: white
}
.ensure{
    padding: 0.2rem 0.5rem;
    background:  rgb(68, 138, 255);
    border-right: 50%;
    border-top-right-radius: 0.285rem;
    border-bottom-right-radius: 0.28rem;
    float: right;
    color: white;
}
ion-footer{
    padding: 0.4rem;
}
.activety{
    padding: 0.1rem 0.2rem;
    background-color: rgb(68, 160, 255);
    border-radius: 2px;
    border: 1px solid rgba(4, 100, 255, 0.5);;
    display: inline-table;
    margin-right: 0.2rem;
    color: white
}
// .radio-ios .radio-checked .radio-inner{
//     border-style: none;
//     background-color: yellowgreen;
//     left: 0px;
//     top: 0px;
//     height: 100%;
//     width: 100%;
//     transform: rotate(0deg);
//     border-radius: 3px;
// }
// .radio-ios .radio-icon{
//     height: 0.4rem;
//     width: 1rem;
//     background-color: rgba(1,1,1,0.1);
//     border-radius: 3px;
// }
// .radiocon{
//     position: absolute;
//     margin: 8px 11px 8px 8px;
//     font-size: 0.2rem;
//     height: 0.4rem;
//     width: 1rem;
//     text-align: center;
//     line-height: 0.3rem;
//     top:0;
// }
// .radioblo{
//     position: relative;
//     display: inline;
//     width: 1.2rem;
//     float: left;
//     ion-item{
//         display: inline;
//         margin-top: -0.05rem;
//     }
//}

}
