
<ion-header>
	<div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#">
				<img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png">
				<img (click)="backToHome()" class="fanh_ann closearea" src="assets/imgs/closearea.png"></a>
			</div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">购物车</a></li>  
				</ul>
			</div>
			<!--<div class="chacha"><a href="javascript:;"><img (click)="backToHome()" class="fanh_ann" src="assets/imgs/closearea.png"></a></div>-->
		</div> 
	</div>
</div>
</ion-header>
<ion-content style="background-color:#f5f5f5">
	<div class="spinnerbox"></div>
	<div class="spinner">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
		<div class="bar9"></div>
		<div class="bar10"></div>
		<div class="bar11"></div>
		<div class="bar12"></div>
	</div>

	<ion-refresher (ionRefresh)="doRefresh($event)" pullMax=500>
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="释放刷新"
        refreshingSpinner="circles"
        refreshingText="正在更新"
        top="1rem;"
        >
      </ion-refresher-content>
  </ion-refresher>

 <p style="text-align:center;padding-top: 0.2rem;font-size: 0.28rem" *ngIf="!hasData">您还没有添加商品到购物车~</p>

 <div class="gouwuc_kk">
	<ul>
 		<li *ngFor="let item of list">
 			<div class="diannao_shanp">
 				<i class="i1 i1-i" (tap)="changeCarts()">
					<dt>
					<ion-checkbox color="danger" [(ngModel)]="item.checked" (ionChange)="changeCarts()"></ion-checkbox>
					<img [src]=""/>
					</dt> 
				 </i>
				 <div (click)="goshopInfo(item.good_id)">
 				<h1><img [src]="item.img"></h1>
				 </div>
 				<div class="you">
					 <div (click) = "goshopInfo(item.good_id)">
 					<p class="px22 bt">{{item.title}}</p>
					 <p class="px22" style="padding: 0.07rem 0 0 0;color:#FF730F;float: right;margin-right: 0.2rem;">￥{{item.preprice}}</p>
					 <div style="clear:both"></div>
					 <p class="cxh">{{item.size_name}}</p>
					 </div>
 					<!--<p class="xh">{{item.size_name}}</p>-->
					 <!--<img class="sizetra" src="assets/imgs/jiantou.png">-->
					 	<div class="goum_sl">
							<div class="counter_box">
								<!--数量-->
								<i class="jian" (tap)="decCount(item)">-</i>
								<input type="text" readonly="readonly" [(ngModel)]="item.num" name="num" id="num">
								<i class="jia" (tap)="incCount(item)">+</i>
							</div>
						</div>
					 <img (tap)="delCartsData(item)" src="assets/imgs/delete.png">
 					<div class="youjfy">
 					</div>
 				</div>
 			</div>
  		</li>
	</ul>
</div>

	  <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
      <ion-infinite-scroll-content></ion-infinite-scroll-content>
  	  </ion-infinite-scroll>
	
</ion-content>
	
<div class="dib_daoh_b">
	<div class="gouwuc_ gouwuc_yem">
		<div class="zuo" >
			 
			<i class="i1" (tap)="checkAll()">
				<ion-checkbox style="padding:0.25rem" disabled="true" color="danger" [(ngModel)]='isChencked'></ion-checkbox>
			</i>
			
		</div>
		<div class="zhong"><p style="float:left;margin-left:2px">全选</p><p>总计：<em>{{allPrice}}</em></p></div>
		<div class="you">
			<div class="goum">
				<a (click)="buy()">去结算</a>  
			</div>
		</div>
	</div>


</div>


