page-cart{
    .dib_daoh_b{
    margin-bottom: 0.8rem;
    }
    dt{
        margin-top: 0.45rem;
        margin-left: 0.1rem;
    }
    .toub_beij{
        position:sticky;
    }
    .icondiv{
            float: right;
    margin-right: 0.3rem;
    font-size: 0.4rem;
    margin-top: 0.15rem;
    }
}
