page-tradegoods-groupbuydetail {
.dd_xiangq_sp_k dl dd .wenz p{
    height:initial;
}
.dd_xiangq_sp_k dl dd{
    padding: 0;
}
em{
    color: #333333;
}
.zuizong_jies p span{
    color: #999999;
}
.zuizong_jies p span em{
    color: #FF730F;
}
.zuizong_jies p{
    line-height: 0.45rem;
}
.dd_xiangq_sp_k dl dd h1{
    width: 1.7rem;
    height: 1.7rem;
}
.dd_xiangq_sp_k dl dd h1 img{
    width: 100%;
    height: 100%;
}
.wenz{
   position: relative;
    height: 1.7rem; 
}
}
