page-goodsoderevaluate {
//         .toolbar-title-ios {
//     text-align: center;
//     font-size: 0.5rem;
//     font-weight: 600;
//     color: #000;
//     pointer-events: auto;
// }

div.dk{
    background: #ff971c;
    height:0.8rem;
}
div.dk a{
    font-size:0.3rem;
    line-height: 0.8rem;
}
.shouh_dange_beijin{
    padding:0;
}
}
