<ion-header>

  <ion-navbar>
    <ion-title>绑定房屋</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
<ion-list>

    <ion-item>
      <ion-label>请选择小区</ion-label>
      <ion-select [(ngModel)]="bindRoom.projectId" (ngModelChange)="getEdifice()" cancelText="取消" okText="确认">
        <ion-option *ngFor="let project of project" value={{project.Id}}>{{project.Name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>请选择楼栋</ion-label>
      <ion-select [(ngModel)]="bindRoom.edificeId" cancelText="取消" okText="确认">
        <ion-option *ngFor="let edifice of edifice" value={{edifice.Id}}>{{edifice.Name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-label>请选择房间</ion-label>
      <ion-select [(ngModel)]="bindRoom.roomId" cancelText="取消" okText="确认">
        <ion-option *ngFor="let room of room" value={{room.Id}}>{{room.Name}}</ion-option>
      </ion-select>
    </ion-item>

    <ion-item>
      <ion-input [(ngModel)]="bindRoom.relation" placeholder="请描述与业主关系"></ion-input>
    </ion-item>

    <ion-item>
      <ion-textarea class="add-some" placeholder="添加备注，会方便管理员快速审核哦！"></ion-textarea>
    </ion-item>

    <div class="add_address" [navPush]='AddaddressPage'>
       确认提交
    </div>

 </ion-list>
      
</ion-content>
