<ion-content style="background-color:#f5f5f5">
    <div class="toub_beij toub_beij_zy"  style="background-color:#448AFF">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">绑定房屋</a></li>  
				</ul>
			</div>
		</div>
	</div>
  </div>

<div class="addressdiv">
  <div class="denglu_k" id="base">

	<div class="denglk denglk_l">
		<div class="mz px24">请选择小区：</div>
    <form class="choose">
        <img src="assets/imgs/jiantou.png" class="chooseimg">
        <select name="project" [(ngModel)]="bindRoom.projectId" (ngModelChange)="getEdifice()" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option *ngFor="let pro of project" value={{pro.id}}>{{pro.name}}</option>
        </select>
    </form>
	</div>
  	<div class="denglk denglk_l">
		<div class="mz px24">请选择楼栋：</div>
    <form class="choose">
        <img src="assets/imgs/jiantou.png" class="chooseimg">
        <select name="edifice" [(ngModel)]="bindRoom.edificeId"  (ngModelChange)="getRoom()" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option *ngFor="let edi of edifice" value={{edi.id}}>{{edi.name}}</option>
        </select>
    </form>
	</div>
  	<div class="denglk denglk_l">
		<div class="mz px24">请选择房间：</div>
    <form class="choose">
        <img src="assets/imgs/jiantou.png" class="chooseimg">
        <select name="room" [(ngModel)]="bindRoom.roomId" (ngModelChange)="getEdifice()" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option *ngFor="let myroom of room" value={{myroom.id}}>{{myroom.code}}</option>
        </select>
    </form>
	</div>
	<div class="denglk denglk_l">
		<div class="mz px24">与业主关系：</div>
		<form class="choose">
		<img src="assets/imgs/jiantou.png" class="chooseimg">
		<select name="room" [(ngModel)]="bindRoom.relation" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option value="0">家庭成员</option>
					<option value="1">朋友</option>
					<option value="2">亲戚</option>
					<option value="3">租户</option>
					<option value="4">公司</option>
    </select>
		</form>
		</div>

  	<div class="denglk denglk_l" style="height:auto">
		<div class="mz px24 addSome">备&ensp;&ensp;&ensp;&ensp;&ensp;&ensp;注：</div>
		<textarea placeholder="添加备注有助于快速审核哦！" [(ngModel)]="bindRoom.memo"></textarea>
	</div>
</div>
</div>
	<div class="dengl_anniu" (click)="addBindInfo()"><a href="#">立即提交</a></div> 
      
</ion-content>
