page-bindroom {
    .denglu_k{
        margin: 0.4rem 0.2rem;
    }
    .dengl_anniu a{
        background-color: #448AFF;
        border: solid #448AFF 1px;
    }
    .choose {
        float: right;
        cursor: pointer;
        height: 32px;
        width: 70%;
        display: inline-block;
        position: relative;
        line-height: 32px;
        font-size: 18px;
        text-align: center;
        padding-right: 10px;
    }
    .denglu_k .denglk_l .mz{
        width:28%;
    }
    .addSome{
        display: block; 
        float: left;
    }
    textarea{
        width: 70%;
        height:2rem;
        padding: 0.18rem;
        line-height: 0.3rem;
    }
}
