<ion-content>

   <ion-slides *ngIf="focusList.length>0" class="focus" pager  loop="true" autoplay="3000">    
      <ion-slide *ngFor="let item of focusList">
          <img [src]="item" />
      </ion-slide>         
   </ion-slides>

    <div class="bangding" ng-if=false>
      <p class="p_bangding">您还没有绑定房屋&nbsp;</p>
      <button ion-button [navPush]="BindroomPage" class="button_bangding">立即绑定</button>
    </div>

    <div id="main-container">
        <ul class="main-nav clearfix">
            <li class="variaty nav-item">
                <a [navPush]="RepairaddPage"></a>
                <p>房屋报修</p>
            </li>
            <li class="favourable nav-item">
                <a href="javascript:;"></a>
                <p>投诉建议</p>
            </li>
            <li class="variaty nav-item">
                <a href="javascript:;"></a>
                <p>房屋租售</p>
            </li>
            <li class="investment nav-item">
                <a href="javascript:;"></a>
                <p>物业缴费</p>
            </li>
        </ul>
    </div>

    <div class="bangding">
      <p class="p_bangding">最新资讯</p>
    </div>

      <ion-list inset class="user_list">
      </ion-list>

    <div class="bangding">
      <p class="p_bangding">公告公示</p>
    </div>
      <ion-list inset class="user_list">
      </ion-list>
</ion-content>
