page-home{
    margin: 0px;
    padding:0px;
    .daohang_bd ul li p{ 
     font-size: 0.23rem;
    }
.zixun{
    background-color: white;
}
.item-block{
    height:27px;
}
.select-item{
    background-color:#2979FF;
    color:#F5F5F5;
}
.shous_div{
    margin-left:10% !important;
    background-color:#2979FF;
    width:80%
}
.select-goal{
    max-width:80%;
}
//下拉框修改ionic原始样式
.toub_beij_zy{
    border-bottom: solid 1px #2979FF !important;
}
.item-ios.item-block .item-inner{
    border-bottom: 0.55px solid #2979FF !important;
}
//修改ionic原始样式

 .lunbo_item{
     width:100%;
     height:3.0rem;
 }

.zixun_div{
width:100%;
height:1rem;
background-color:rgba(255,255,255,1);
}
.zixun_div .zixun_title{
float:left;
margin-left:0.22rem;
height:100%;width:100%;
}
.zixun_div .zixun_title img{
float:left;
margin-top:0.2rem
}

.zixun_div .zixun_title .p_title{
float:left;
font-size:0.32rem;
color:rgba(100,100,100,1);
font-family:MicrosoftYaHei;
margin-left:0.2rem;
margin-top:0.22rem;
font-weight: bold;
}
.zixun_div .zixun_title .zixun_more{
margin-right:0.5rem;
float:right;height:100%;
}

.zixun_div .zixun_title .zixun_more img{
float:right;
margin-top:0.24rem
}
.zixun_div .zixun_title .zixun_more .p_more{
float:right;
font-size:0.22rem;
color:rgba(100,100,100,1);
font-family:MicrosoftYaHei;
margin-right:0.1rem;margin-top:0.24rem
}

 .zixun_content{
width:100%;
height:auto;
background-color:rgba(255,255,255,1);
}
 .zixun_content .zixun_li{
padding:0rem 0.2rem 0.1rem 0.35rem;
height:1.5rem;
}
 .zixun_content .zixun_li img{
float:left;
margin-top:0.15rem;
height:1.2rem;
width:1.2rem;
}
 .zixun_content .zixun_li .content{
float:left;
margin-top:0.15rem;
color:#646464;
font-size:0.28rem;
line-height:0.38rem;
width:70%;
margin-left:0.23rem;
}
.zixun_content .zixun_li .line{
float:left;
margin-top:0.15rem;
width:95%;
margin-left:2.5%;
margin-right:2.5%;
border-bottom:1px ridge rgba(245,245,245,1);
}
.title_p{
    font-family:MicrosoftYaHei;
    color:white;
    font-weight: bold;
    font-size: 18px;
    line-height: 40px;
}
.bangding_p{
    float: right;
    margin-top: -20px;
    font-size: 13px;
    color: white;
}
}



.bangding{
    text-align: center;
    background-color: white;
    padding-bottom: 0.02rem;
    border-bottom: 1px solid #efeded;
}
.p_bangding{
    margin-top: 0.05rem;
    color: grey;
    text-align: center;
    font-size: 0.03rem;
}
.new_zixun{
    margin-top: 0.02rem;
    background-color: white;
    padding-top: 0.02rem;
}

.bangding_title{
    background-color: white;
    padding: 0.3rem 0 0.1rem 0.2rem;
}
.bangding_title p{
    display: inline;
}
.bangding_title button{

    height: 0.5rem;
    margin: 0;
    width: 20%;
    margin-top: -0.2rem;

}

body {font-family: Microsoft YaHei;}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;font-family: Microsoft YaHei;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;font-family: Microsoft YaHei;}
.item-block{
    min-height: 0;
}
.tabs-ios .tab-button-text{
    font-size: 12px;
    min-height: 15px;
}
.select .item-ios.item-block .item-inner{
    border-bottom:none;
}
.select-ios .select-icon{
    margin-right: 12px;
}
.fee11{
width:100%;
height:1rem;
margin-top:0.28rem;
margin-left:0.35rem;
font-size:0.28rem;
color:#646464
}
.fee11 img{
float:left;
}
.fee11 .fee11_p1{
float:left;
margin-left:0.1rem;
margin-top:0.04rem;
font-size: 0.23rem;
}
.fee11 .fee11_p2{
float:left;
margin-left:0.3rem;
margin-top:0.04rem;
font-size: 0.23rem;
}
.fee21{
width:100%;
height:1rem;
margin-top:0.28rem;
margin-left:0.35rem;
font-size:0.28rem;
color:#646464
}
.fee21 .fee21_p1{
float:left;
margin-left:0.1rem;
margin-top:0.02rem;
font-size: 0.23rem;
}
.fee21 .fee21_p2{
float:left;
margin-left:0.3rem;
margin-top:0.02rem;
font-size: 0.23rem;
}
.fee{
    height: 1rem;
    margin-top:10px;
    margin-bottom:10px;
    background-color: white;
    text-align: center;
}
.fee1{
    height: 1rem;
    width: 50%;
    float:left;
    margin-top: 0.1rem;
}
.fee2{
    margin-top: 0.1rem;
    width: 50%;
    float:left;
    height: 0.8rem;
    border-left:1px ridge gainsboro;
}
