<ion-content style="background-color:#F5F5F5">

	<div class="toub_beij toub_beij_zy"  *ngIf="iof_defList.length !=0 || roomidlist.length !=0" style="background-color:#448AFF;height:48px;">
		<div class="zhongj_k">
			<div class="shous_k  shous_div">
				<ion-item class="select-item">
					<ion-label>请选择房屋</ion-label>
					<ion-select class="select-goal" (ionChange)="changeRoom(roomid)" [(ngModel)]='roomid' cancelText="取消" okText="确认">
						<ion-option selected  value="defId">{{iof_defList.House_Room_Name}}</ion-option>
						<ion-option *ngFor="let room of roomidlist" value="{{room.id}}">{{room.name}}</ion-option>
						<ion-option value="add">--添加房屋--</ion-option>
					</ion-select>
				</ion-item>
			</div>
		</div>
	</div>

	<div class="toub_beij toub_beij_zy" *ngIf="iof_defList.length ==0 && roomidlist.length ==0" style="background-color:#448AFF;height:48px;">
		<div class="zhongj_k" style="text-align:center;">
			<p class="title_p">公元物业</p>
			<p class="bangding_p" [navPush]="BindroomPage">请绑定房屋</p>
		</div>
	</div>

	<div class="lunbo_item">
		<ion-slides *ngIf="focusList.length>0" pager loop="true" autoplay="3000">
			<ion-slide *ngFor="let item of focusList">
				<img [src]="item" />
			</ion-slide>
		</ion-slides>
	</div>


	<div class="daohang_bd" style="background-color:white;margin:10px 0 0 0;color:#646464">
		<ul>
			<li [navPush]="PayfeePage">
				<a>
					<h1><img src="assets/imgs/propertyPage/fee.png"></h1>
					<p>物业缴费</p>
				</a>
			</li>
			<li [navPush]="RepairlistPage">
				<a>
					<h1><img src="assets/imgs/propertyPage/suggest.png"></h1>
					<p>投诉建议</p>
				</a>
			</li>
			<li [navPush]="HouseinfolistPage">
				<a>
					<h1><img src="assets/imgs/propertyPage/roommanger.png"></h1>
					<p>房屋管理</p>
				</a>
			</li>
			<li [navPush]="RepairaddPage">
				<a>
					<h1><img src="assets/imgs/propertyPage/repair2.png"></h1>
					<p>在线报修</p>
				</a>
			</li>
			<li [navPush]="PayprefeePage">
				<a>
					<h1><img src="assets/imgs/propertyPage/prefee.png"></h1>
					<p>费用预存</p>
				</a>
			</li>
			<li [navPush]="ShoppinglistPage">
				<a>
					<h1><img src="assets/imgs/propertyPage/shop.png"></h1>
					<p>我的订单</p>
				</a>
			</li>

			<li [navPush]="LoadingPage">
				<a>
					<h1><img src="assets/imgs/propertyPage/pushroom.png"></h1>
					<p>房源发布</p>
				</a>
			</li>
			<li [navPush]="LoadingPage">
				<a>
					<h1><img src="assets/imgs/propertyPage/opendoor.png"></h1>
					<p>一键开门</p>
				</a>
			</li>
		
		<li [navPush]="NewslistPage">
			<a>
				<h1><img src="assets/imgs/complain.png"></h1>
				<p>社区资讯</p>
			</a>
		</li>
		<li>
			<a>
				<h1><img src="assets/imgs/massage.png"></h1>
				<p>公示公告</p>
			</a>
		</li>
		</ul>
	</div>

	<div class="fee">
		<div class="fee1">
			<div class="fee11">
				<img src="assets/imgs/propertyPage/oweNum.png" style="float:left">
				<p class="fee11_p1">欠费总计</p>
				<p class="fee11_p2">￥{{paymentList.totalFee}}</p>
			</div>
		</div>
		<div class="fee2">
			<div class="fee21" >
				<img src="assets/imgs/propertyPage/prefeeNum.png" style="float:left">
				<p class="fee21_p1">预存款总计</p>
				<p class="fee21_p2">￥{{paymentList.totalPrepay}}</p>
			</div>
		</div>
	</div>

	<div class="zixun">
	<div class="zixun_div">
		<div class="zixun_title">
			<img src="assets/imgs/propertyPage/zixun.png">
			<span class="p_title">最新资讯</span>
			<div class="zixun_more" (click)="getNewsList(1)">
				<img src="assets/imgs/propertyPage/more.png">
				<span class="p_more">查看更多</span>

			</div>
		</div>
	</div>
	<div class="zixun_content" *ngFor="let newList of newsList">
		<div (click)="getNewInfo(newList.id)" class="zixun_li">
			<img src="{{config.apiUrl}}{{newList.imgurl}}">
			<span class="content">{{newList.topic}} <br />{{newList.adddate | pipeTime}}</span>
			<span class="line"></span>
		</div>
	</div>
	</div>
	<div style="clear:both"></div>

<div class="zixun">
	<div class="zixun_div" style="margin-top:10px;">
		<div class="zixun_title">
			<img src="assets/imgs/propertyPage/public.png">
			<span class="p_title">公示公告</span>
			<div class="zixun_more" (click)="getNewsList(3)">
				<img src="assets/imgs/propertyPage/more.png">
				<span class="p_more">查看更多</span>
			</div>
		</div>
	</div>
		<div class="zixun_content" *ngFor="let publicget of publicget">
		<div (click)="getNewInfo(publicget.id)" class="zixun_li">
			<img src="{{config.apiUrl}}{{publicget.imgurl}}">
			<span class="content">{{publicget.topic}} <br />{{publicget.adddate | pipeTime}}</span>
			<span class="line"></span>
		</div>
	</div>
	</div>
	<div style="clear:both"></div>


















	<!--<div *ngIf="!enSureLogin"  class="bangding_title" ng-if=false>
      <p>您还没有绑定房屋&nbsp;</p>
      <button ion-button [navPush]="BindroomPage" class="button_bangding">立即绑定</button>
    </div>
<div *ngIf="enSureLogin" style="background-color:white">
    <ion-item>
		<ion-label>请选择房屋</ion-label>
        <ion-select (ionChange)="changeRoom()" style="max-width:74%;" [(ngModel)]='roomid' cancelText="取消" okText="确认">
        <ion-option *ngFor="let room of roomname" value="{{room.Id}}" >{{room.Project_Name}}-{{room.Edifice_Name}}-{{Code}}</ion-option>
        <ion-option value="add">--添加房屋--</ion-option>
        </ion-select>
    </ion-item>
</div>

<div #map id="map_container"></div>

   <ion-slides *ngIf="focusList.length>0" class="focus" pager  loop="true" autoplay="3000">    
      <ion-slide *ngFor="let item of focusList">
          <img [src]="item" />
      </ion-slide>         
   </ion-slides>

    <div class="fee">
        <div class="fee1"><p>￥{{paymentList.totalFee}}</p><p>欠费总计</p></div>
        <div class="fee2"><p>￥{{paymentList.totalPrepay}}</p><p>预存款总计</p></div>
    </div>






<div class="daohang_bd" style="background-color:white;margin:0;">
	<ul>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/fee.png"></h1>
				<p>物业缴费</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/prefee.png"></h1>
				<p>费用预存</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/repair2.png"></h1>
				<p>在线报修</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/suggest.png"></h1>
				<p>投诉建议</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/pushroom.png"></h1>
				<p>房源发布</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/myorder.png"></h1>
				<p>我的订单</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/roommanger.png"></h1>
				<p>房屋管理</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/massage.png"></h1>
				<p>社区资讯</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/public.png"></h1>
				<p>公示公告</p>
			</a>
		</li>
		<li>
			<a href="#">
				<h1><img src="assets/imgs/opendoor.png"></h1>
				<p>一键开门</p>
			</a>
		</li>
	</ul>
</div>


    <div class="new_zixun">
        <div class="bangding">
            <span class="p_bangding">—————&nbsp;&nbsp;&nbsp;最新资讯&nbsp;&nbsp;&nbsp;—————</span>
        </div>
        <div id="order-content">
            <div class="order-list">
                    <div class="order-item" *ngFor="let newList of newsList">
                        <div (click)="getNewInfo(newList.id)" class="goods clearfix zixun">
                            <img src="{{config.apiUrl}}{{newList.imgurl}}" alt="">
                            <p>{{newList.topic}}{{newList.addDate}}</p>
                        </div>
                    </div>
            </div>
        </div>

        <div class="bangding" (click)="getNews()">
            <span class="p_more">查看更多</span>
        </div>
    </div>
      <ion-list inset class="user_list">
      </ion-list>

    <div class="new_zixun">
        <div class="bangding">
            <span class="p_bangding">—————&nbsp;&nbsp;&nbsp;公示公告&nbsp;&nbsp;&nbsp;—————</span>
        </div>
        <div id="order-content">
            <div class="order-list">
                    <div class="order-item" *ngFor="let newList of newList">
                        <div class="goods clearfix zixun">
                            <img src="{{config.apiUrl}}" alt="">
                            <p>{{newList.topic}}{{newList.addDate}}</p>
                        </div>
                    </div>

            </div>
        </div>

        <div class="bangding">
            <span class="p_more">查看更多</span>
        </div>
    </div>
      <ion-list inset class="user_list">
      </ion-list>-->
</ion-content>