page-home{
    margin: 0px;
    padding:0px;
    .price{
    color:red;
}
.old_price{
    text-decoration: line-through;
}
.focus{
    width:100%;
    height: 4rem;

    img{
        width:100%;
        height: 4rem;
    }
}

.plist{
    list-style: none;
    padding:4rem;
    
    li{
        width: 6.6rem;
        height: 14.8rem;
        float: left;
        margin-right: 6rem;
        .rec_shop_detial{
            padding:4rem 0rem;
            margin:0px;
            height: 302rem;
            overflow: hidden;
        }
        img{
            width:60rem;
            height: 60rem;
            display: block;
            margin:0 auto;
        }
        p{
            padding:2rem 0px;
            text-align: center;
        }
        
    }
}

.rec_shop {
    ion-scroll{
        width: 100%;
        height: 14.8rem;
        overflow-x: auto;
    }
    .plist{
        width:auto;
    }
    .rec_shop_detial{
        font-size: 12rem;
    }
}



.bangding{
    text-align: center;
    background-color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid #efeded;
}
.p_bangding{
    margin-top: 0.5rem;
    color: grey;
    text-align: center;
    font-size: 1.7rem;
}
.p_more{
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
    color: grey;
    text-align: center;
    font-size: 1.7rem;
}
.smallnav{
     font-size:2rem;
}
.smallnav img{
    max-width:6rem;
}
.am-u-sm-3{
     display: table-cell;
     text-align:center;
}


area{outline:none;}
.clearfix:after {
    content: ".";
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#main-container{
    padding: 0.1rem 0 0.25rem 0;
    background-color: white;
}

#main-container .main-nav{
    font-size: 0.2rem;
}

#main-container .main-nav:first-child{
    margin: 0 auto 0.2rem auto;
    padding-top: 0.1rem;
    font-size: 0.3rem;
}

#main-container .main-nav .nav-item{
    float: left;
    width: 1rem;
    height: 1.1rem;
    margin: 0 0.1rem 0rem 0.03rem;
}

#main-container .main-nav img{
    margin-left: 0.1rem;
    width: 0.8rem;
    height: 0.8rem;
}

#main-container .main-nav p{
    text-align: center;
}

.zixun img{
    width: 5rem !important;
    height: 4rem !important;
}

.zixun p{
    width: 80% !important;
    font-size: 1.5rem;
    color: #0082ca;
    float: right;
}
.new_zixun{
    margin-top: 1rem;
    background-color: white;
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.fee{
    height: 1rem;
    margin-top:0.1rem;
    margin-bottom:0.1rem;
    background-color: white;
    text-align: center;
}
.fee1{
    height: 1rem;
    width: 50%;
    float:left;
    margin-top: 0.1rem;
}
.fee2{
    margin-top: 0.1rem;
    width: 50%;
    float:left;
    height: 0.8rem;
    border-left:1px ridge gainsboro;
}
.fee1 p:nth-of-type(1){
    color :red;
    font-size: 0.4rem;
    margin-top: 0.1rem;
}
.fee2 p:nth-of-type(1){
    color :blue;
    font-size: 0.4rem;
    margin-top: 0.1rem;
}
.fee2 p:nth-of-type(2),.fee1 p:nth-of-type(2){
    margin-top: 0.1rem;
    bottom: 0.1rem;
    color :grey;
    font-size: 0.2rem;
}
.bangding_title{
    background-color: white;
    padding: 0.2rem;
}
.bangding_title p{
    display: inline;
}
.bangding_title button{

    height: 0.5rem;
    margin: 0;
    width: 20%;
    margin-top: -0.2rem;

}
#order-content{
    padding: 0 1rem;
}
.item-block{
    min-height: 0;
}

}
div,p,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,h5,h6,form,input,select,textarea,table,td{ margin:0; padding:0;}
h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}
