page-rentsale {

    
.shous_k{
    background: #2979FF;
    border-radius: 0.07rem;
    width: 68%;
    height: 0.6rem;
    line-height: 0.6rem;
}
.logo_k{
    width:20%;
    margin-top: 0.07rem;
    padding-left: 0.07rem;
}
.dengl{
    margin-top: 0.04rem;
}
.logo_k img{
    height: 0.31rem;
    width: 0.23rem;
    margin-top: 0.17rem;
    margin-right: 0.07rem;
    float: left;
}
.logo_k p{
    color: #ffffff;
    font-size: 0.26rem;
    margin-top: 0.2rem;
    margin-left: 0.1rem;
    word-break: keep-all;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 0.28rem;
}
.shous_k img{
    float: right;
    height:0.4rem;
    width:0.4rem;
    margin-top:0.1rem;
    margin-right:0.04rem;
}
.shous_k input{
    width: 80%;
    height:0.45rem;
    margin-left: 3%;
}
.dengl .caid_img {
    width: 100%;
    float: left;
}
.dengl .caid_img img{
    height: 0.5rem;
    width: 0.5rem;
}
.lunbo_item{
    background-color: white
}
.titleIcon{
    padding: 0 0.2rem;
    li{
        width: 25%; 
    }
}
// .daohang_bd{
//     margin-top: 10px !important;
// }
#test{
     position:sticky;
    z-index: 500;
    background-color: white;
}
#group-content ul{
    padding: 0 0.2rem;
    z-index: 1001;
}
#group-content .order-nav .type{
    height:0.7rem;
    width: 23%;
    text-align: center;
    float: left;
    height:0.8rem;
    font-family: Roboto;
}

#group-content .order-nav .type a{
    height:0.7rem;
    padding: 0.3rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #333333;
    font-size: 0.28rem;
}
// #group-content .order-nav .type.current a{
//     color: #2979FF;
// }
// #group-content .order-nav .type.current{
//     border-bottom: 2px solid #2979FF;
// }
.type.current{
    border-bottom: 2px solid #2979FF;
}
#group-content{
    background-color: white;
    margin-top: 10px;
}

.zixun_content{
    width:100%;
    height:auto;
    background-color:rgba(255,255,255,1);
}
 .zixun_content .zixun_li{
    padding:0rem 0.2rem 0.1rem 0.35rem;
    height:1.5rem;
}
 .zixun_content .zixun_li img{
    float:left;
    margin-top:0.15rem;
    width:20%;
}
 .zixun_content .zixun_li .content{
    float:left;
    color:#646464;
    font-size:0.28rem;
    line-height:0.38rem;
    width:75%;
    margin-left:0.23rem;
    margin-top:0.15rem;
}
.zixun_content .zixun_li .line{
    float:left;
    margin-top:0.15rem;
    width:95%;
    margin-left:2.5%;
    margin-right:2.5%;
    border-bottom:1px ridge rgba(245,245,245,1);
}
.shangp_lieb_k_er li{
    height:auto;
}
.shangp_lieb_k_er li .lieb_txt{
    padding-left: 0.2rem;
    width:65%;
}
.shangp_lieb_k_er li .lieb_img{
    width:35%;
    height: 1.45rem;
}
.showMore{
    padding: 0.2rem;
    font-size: 0.3rem;
    font-family: sans-serif;
    text-align: center;
    color: gray;
    display:none;
}
ion-slides{
    height: 3.25rem;
}
.shangp_lieb_k_er li .lieb_txt p.biao{
    height:0.7rem;
    color: #818181;
}
.shangp_lieb_k_er li .lieb_txt p.bend{
    font-size: 0.17rem;
    color: #818181;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {   
 /* WebKit browsers */   
color: #F5F5F5;   
}   
input:-moz-placeholder, textarea:-moz-placeholder {   
/* Mozilla Firefox 4 to 18 */   
color: #F5F5F5;   
}   
input::-moz-placeholder, textarea::-moz-placeholder {   
 /* Mozilla Firefox 19+ */   
color: #F5F5F5;   
}   
input:-ms-input-placeholder, textarea:-ms-input-placeholder {   
 /* Internet Explorer 10+ */   
color: #F5F5F5;   
}

input[placeholder], [placeholder], *[placeholder] {   
color:#F5F5F5 !important;   
}

.showMore{
    font-size: 0.2rem;
}
ion-fab-list button{
    border-radius: 0
}

#group-content .order-nav .type img {
    width: 0.15rem;
    float: right;
    // padding-top: 0.32rem;
    padding-top: 0.38rem;
    margin-right: 0.5rem;
}
.fab-ios-light{
    margin-top: -0.07rem;
}

    .choose{
        float:left;
        cursor:pointer;
        height:32px;
        width:23%; 
        display:inline-block;
        position:relative;
        line-height:32px;
        font-size:18px; 
        text-align:center;
        padding-right:10px;
    }

    .choose select{
        height: 30px;
        width:100%;
        background-color: #fff;
        color: #aaaaaa;
    }
    .display{
        display: block !important;
    }
    .renttype{
        display: none;
        padding: 0.2rem;
        position: relative;
        z-index: 1001;
                background: white;
                    position: sticky;
    top: 0.8rem;
    }
    .rentmoney{
        display: none;
            padding: 0.2rem;
                    position: relative;
        z-index: 1001;
                background: white;
                    position: sticky;
    top: 0.8rem;
    }
    .rentroom{
        display: none;
            padding: 0.2rem;
                    position: relative;
        z-index: 1001;
                background: white;
                    position: sticky;
    top: 0.8rem;
    }
    .rentmore1{
        display: none;
            padding: 0.2rem;
                    position: relative;
        z-index: 1001;
                background: white;
                    position: sticky;
    top: 0.8rem;
    }
    .rentmore2{
        display: none;
            padding: 0.2rem;
                    position: relative;
        z-index: 1001;
                background: white;
                    position: sticky;
    top: 0.8rem;
    }
    .rentorder{
        display: none;
            padding: 0.2rem;
                    position: relative;
        z-index: 1001;
        background: white;
            position: sticky;
    top: 0.8rem;
    }
    .rentli{
        font-size: 0.23rem;
        font-family: Microsoft Yahei;
        line-height: 0.5rem;
        padding-left: 0.2rem;
        border-bottom: 1px solid #f5f5f5;
    }
    .blockinp{
    border: 1px solid #999999;
    border-radius: 2px;
    width: 35%;
    height: 0.4rem;  
}
.blockspan{
    padding: 0.1rem 0.2rem;
    background-color: #eeeeee;
    border-radius: 2px;
    border: 1px solid #cccccc;
    display: inline-table;
    margin: 0.1rem 0.2rem 0.1rem 0;
    color: #999999;
}
.reset{
    padding: 0.2rem 0.5rem;
    background:#2979FF;
   
    border-left: 50%;
    color: white;
    display: inline-block;
    width: 49%;
    float: right;
    text-align: center;
    font-size: 0.23rem;
}
.ensure{
    padding: 0.2rem 0.5rem;
     background:#eeeeee;
    border-right: 50%;
    color: #666666;
    display: inline-block;
    width: 49%;
    text-align: center;
    font-size: 0.23rem;
}
.rentdiv{
    margin-top: 0.2rem;
    padding-top: 0.2rem;
    border-top: 1px solid #f5f5f5;
}
.blockcon{
    margin: 0.1rem 0;
}
.order-nav{
    position: sticky;
    top: 0;

}
}

.areatop{
    margin-top: 0.1rem !important;
}
