<ion-content>
<div class="toub_beij toub_beij_zy" style="background-color:#448AFF;z-index: 10000;">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh" (click)="backTo()">
        <a href="#"><img class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24">我的房屋</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<!--内容-->
	<div style="height:20px;width:100%;background-color:#448AFF;position: absolute;"></div>
<div class="shouhdz_hk">
	<div class="shouh_zk" *ngFor="let list of houseList">
		<div class="shouh_dange_beijin"  >
			<div class="shang">
				<div class="mz" style="width:98%">
					<p (click)="getHouseInfo(list.id)"><em>项目名称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list.projectname}}</em></p>
					<p (click)="getHouseInfo(list.id)"><em>楼栋名称：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list.edificename}}</em></p>
					<p (click)="getHouseInfo(list.id)"><em>房间号码：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list.code}}</em></p>
					<!--<p><em>业主姓名：{{list.name}}</em></p>-->
					<p (click)="getHouseInfo(list.id)"><em>当前状态：&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;{{list.state | pipeRelation}}</em></p>
					
        			<div *ngIf="!list.default" class="def"><input type="radio" (change)="setDefaultHouse(list.id)"/>&nbsp;&nbsp;&nbsp;&nbsp;设为默认房屋</div>
				</div>
			</div>
			<!--<div class="boanjk">
        		<div *ngIf="item.default" class="def">默认房屋</div>
        			<div *ngIf="!item.default" class="def"><input type="radio" (change)="setDefaultHouse(item.id)"/>设为默认</div>
        		<a style="display:inline;" (click)="deleteAddress()">删除</a>
      		</div>-->
		</div>
	</div>
</div>
<div style="clear:both;">
</div>
<div style="height:1rem;">
</div>
<div class="dib_daoh_b">
	<div class="gouwuc_ Xinz" style="background-color:#488aff">
		 <a [navPush]='BindroomPage'>新添房屋</a>
	</div>
</div>
</ion-content>
