page-rentsaleinfo {
 .housename{
        text-align: center;
        width: 80%;
        margin-left: 10%;
        height: 0.6rem;
        font-size: 0.25rem;
        padding-top: 0.15rem;
        background-color: white;
        border-radius: 0.1rem;
        margin-top: -0.3rem;
        z-index: 100;
        position: relative;
    }
.imgdiv{
    // margin-top: 10px;
}
.detail{
    margin-top: 0.2rem;
    background-color: white;
    padding:0.1rem;
    min-height:1.2rem;
   
}
.hrdiv{
        background: radial-gradient(black -30%, white 100%);
        height: 1px;
    }
.title{
    padding:0.2rem 0.2rem 0.1rem 0.2rem;
    width: 94%;
    margin-left: 3%;
    margin-top: -20px;
    background-color: white;
    border-radius: 3px;
    z-index: 5;
    position: relative;
    line-height: 0.4rem;
    font-size: 0.27rem;
}
.title .biao{
    font-size: 0.22rem;
    line-height: 0.4rem;
    font-family:Roboto;
    color: #818181;
    height:0.7rem;
    padding-left: 0.3rem;
}
.bend{
    float:left;
    margin-left:0.3rem;
    font-size:0.18rem;
    color:#818181;
}
.price{
    float:right;
    margin-right:0.3rem;
    color:#2979FF;
    font-size:0.28rem;
}
.roomType{
     width:50%;
    text-align:center;
    float:left;
    border-right:solid 1px #F5F5F5;
}
.detail .title{
   
font-size:0.18rem;
color:#818181;
}
.detail .content{
    font-size:0.28rem;
    color:#2979FF;
}
.roomSize{
     width:50%;
    float:right;
     text-align:center;
}

.detail_info{
    margin-top: 0.03rem;
    background-color: white;
    padding:0.1rem;
    min-height:0.5rem;
   
}
.detail_info img{
    margin-left:0.5rem;
    margin-top: -0.02rem;
}
.detail_info .content{
    color:#818181;
    font-size:0.18rem;
    margin:0 0 0 0.25rem;
        position: absolute;
}

.room_info{
    margin-top: 0.2rem;
    background-color: white;
    padding:0.2rem;
    min-height:0.5rem;
   
}
.room_info .title{
    margin-left: 6%;
    margin-top:0rem;
    text-align:center;
    width:88%;
    color:#818181;
    border-bottom:solid 2px #F5F5F5;
}
.room_info .title span{
font-size:0.28rem;
}
.room_info .content{
    margin-top:0.1rem;
    margin-left: 6%;
     width:88%;
     line-height:0.28rem;
    font-size:0.18rem;
    color:#818181;
}
.tel_info{
   margin-top:0.2rem;
    background-color: #2979FF;
    padding:0.35rem;
    min-height:0.8rem;
   
}
.tel_info img{
    float:right;
    
}
.tel_info span{
    float:left;
   
    color:white;
    font-size:0.22rem;
}
.iondiv{
    color:white;
    float:right;
    font-size: 1.8em !important;
    margin:0.05rem 0.1rem 0 0;
}
}
