<ion-content>

      <div class="toub_beij toub_beij_zy"  style="background-color:#448AFF">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">重置登录密码</a></li>  
				</ul>
			</div>
		</div>
	</div>
  </div>

   <div class="xiugmim_k">
 	<p class="px26" style="text-align: center;">已绑定手机：<em>1827******710</em></p>
 	<div class="yanzm_k">
 		<input type="text" name="" placeholder="输入验证码">
 		<a style="color:black;float:right;" *ngIf="isShowSend" (click)="ownRegist()">获取验证码</a>
    <a *ngIf="!isShowSend">{{num}}秒后重新发送</a>
 	</div>
    	<div class="yanzm_k">
 		<input style="width:100%" type="text" name="" placeholder="输入新密码">
 	</div>
    	<div class="yanzm_k">
 		<input style="width:100%" type="text" name="" placeholder="确认新密码">
 	</div>
 	<div class="querenann" (click)="addAddress()"><a>确认密码</a></div>
 </div>

</ion-content>
