
<ion-content style="background-color:#F5F5F5">
  <!--头部--> 
<div class="toub_beij toub_beij_zy"  style="background-color:#448AFF">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">房屋基本信息</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>
<div class="content">
  <div class="imgdiv"><img src="assets/imgs/house.jpg" /></div>
  <div class="housename">{{projectinfo.projectname}}-{{projectinfo.edificename}}|{{projectinfo.roomcode}}</div>
  <div class="content_info">
  <div class="content_info_title">
    <p class="title">是否默认：</p>        
    <p class="title">绑定日期:</p>     
    <p class="title">与业主关系：</p>  
    <p class="title">绑定状态：</p>    
  </div>
  <div class="content_info_content">
    <p *ngIf="houseInfo.default" class="title_content">不是默认房屋</p>
    <p *ngIf="!houseInfo.default" class="title_content">是默认房屋</p>
     <p class="title_content">{{houseInfo.date }}</p>

     <p *ngIf="houseInfo.relation ==0" class="title_content">家庭成员</p>
     <p *ngIf="houseInfo.relation ==1" class="title_content">朋友</p>
     <p *ngIf="houseInfo.relation ==2" class="title_content">亲戚</p>
     <p *ngIf="houseInfo.relation ==3" class="title_content">租户</p>
     <p *ngIf="houseInfo.relation ==4" class="title_content">公司</p>

     <p class="title_content">{{houseInfo.state}}</p>
  </div>
  </div>
  <div *ngIf="houseUser.length!=0" class="otherUser_title">
    <div class="user_titlediv">
      <div class="user_title">其他绑定此房屋用户</div>
      <div class="appear" (click)="appearOtherUser()"><img src="assets/imgs/back.png"></div>
    </div>
    <div class="otherUser_content" style="display:none">
      <div class="hrdiv"></div>
      <div class="otherUser" style="margin:0.1rem 0;" *ngFor="let house of houseUser">
        <p style="width:20%;float:left;margin-left:5%">{{house.name}}</p>
        <p style="width:30%;float:left">{{house.customertype}}</p>
        <p>{{house.mobile}}</p>
      </div>
    </div>
  </div>

  <div *ngIf="houseUser.length==0" class="otherUser_title">
    <div class="user_titlediv">
      <div class="user_title">没有其他用户绑定此房屋</div>
    </div>
  </div>

  
    <div class="otherUser_title">
    <div class="user_titlediv" (click)="delUserRoom()">
      <div class="user_title">解除与此房屋的绑定</div>
    </div>
  </div>

  <div class="otherUser_title">
    <div class="user_titlediv" (click)="setDefaultHouse()">
      <div class="user_title">设置默认房屋</div>
    </div>
  </div>
</div>
</ion-content>

