page-houseinfo {
    color: #101010 100%;
    .imgdiv{
        margin-top: 10px;
    }
    .housename{
        text-align: center;
        width: 80%;
        margin-left: 10%;
        height: 0.6rem;
        font-size: 0.25rem;
        padding-top: 0.15rem;
        background-color: white;
        border-radius: 0.1rem;
        margin-top: -0.3rem;
        z-index: 100;
        position: relative;
    }
    .content_info{
        background-color: white;
        margin-top: 10px;
        padding: 0.3rem;
        font-size: 0.25rem;
    }
    .content_info_title{
        float: left;
    }
    .content_info_title p{
        margin: 0.2rem;
    }
    .content_info_content p{
        margin: 0.2rem 0 0.2rem 2rem; 
    }
    .user_titlediv{
        margin: 0.2rem;
    }
    .otherUser_title{
        margin-top: 10px;
        background-color: white;
        padding: 0.2rem;
    }
    .user_title{
        display: inline;
    }
    .appear{
        float: right;
        img{
            width: 0.15rem;
            height:0.25rem;
            transform: rotate(180deg);
            margin-right: 0.25rem;
        }
    }
    .hrdiv{
        background: radial-gradient(black -30%, white 100%);
        height: 1px;
        margin: 0.4rem 0;
    }
}
