
<ion-content style="background-color:#f5f5f5">

	  <div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="javascript:;"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a href="javascript:;" class="px24 zyyge">抢购列表</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<div id="yemnr">
<!--商品列表--> 
<div class="shangp_lieb_beij">
	<div class="sp_daoh" id="typediv">
		<ul>
			<li class="activety" data-nav="all" (click)="ifontime(0)"><a href="javascript:;">全部</a></li>
      <li data-nav="payment" (click)="ifontime(1)"><a href="javascript:;">进行中</a></li>
      <li data-nav="receive" (click)="ifontime(2)"><a href="javascript:;">即将开始</a></li>
      <li data-nav="done" (click)="ifontime(3)"><a href="javascript:;">已结束</a></li>
			
		</ul>
	</div>
	<ul class="shangp_lieb_k_er">
		<li   *ngFor="let item of list"   [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
			<a>
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao" style="white-space:nowrap">{{item.title}}</p>
					<p *ngIf="mode!=3" class="bend">抢购价：<span>¥&nbsp;{{item.pricewhen}}</span>&nbsp;&nbsp;<span style="text-decoration:line-through;color:#979797;">¥{{item.pricemin}}</span></p>
          <p *ngIf="mode==3" class="bend" style="color:#979797">单价：<span>¥&nbsp;{{item.pricemin}}</span></p>
					<p class="bend">已售：<span>{{item.whennum}}</span>份</p>
					<p class="wp01" style="text-align:left">	团购结束时间：{{item.endtime | pipeTime}}</p>
		  <!--<p class="px26">{{item.recommend | pipeMultiple}}</p>-->
				</div>

			</a>
				
		<!--</li>
		<li *ngFor="let item of list" *ngIf="mode==3" [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
			<a>
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao" style="white-space:nowrap">{{item.title}}</p>
					<p class="bend">价格：<span>¥{{item.pricemin}}</span></p>
          <p class="bend">已售：<span>{{item.whennum}}</span>份</p>
					<p class="wp01" style="text-align:left">	团购结束时间：{{item.endtime | pipeTime}}</p>
		  <!--<p class="px26">{{item.recommend | pipeMultiple}}</p>-->
				<!--</div>

			</a>
				
		</li>-->
		
	</ul>
</div>
</div>
<ion-row>
    <ion-col class="nodata" text-center *ngIf="!hasmore">
      没有更多啦 ♪(^∇^*)
    </ion-col>
  </ion-row>

</ion-content>
