
<!--内容--> 
<div class="pingl_xuanz">
	<ul>
		<li><a href="#" class="a">全部</a></li>
		<li><a href="#">好评<em>(52)</em></a></li>
		<li><a href="#">中评<em>(12)</em></a></li>
		<li><a href="#">差评<em>(0)</em></a></li>
		<li><a href="#">有图<em>(5)</em></a></li>
	</ul>
	<div class="haopd">
		<h1>好评度</h1>
		<p>100%</p>
	</div>
</div>
<div class="pengl_k">
	<ul>


		<li>
			<div class="pj_k"> 
				<div class="toux_k"><h1><img src="images/web/6565.jpg"></h1>
					<span>Aa***hg</span>
					<div class="sd"><p></p><p></p><p></p><p></p></div>
				</div>
				<div class="pjtp_img">
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
				</div>
				<p class="px22">收到后用了几天才来评价，联想的机子确实不错，秒开机，没噪音，外观也漂亮，完美的一次购物。五分</p>
				<p class="guig px22">规格：玫瑰金 I5/8G 256G固态</p>
			</div>
		</li>
		<li>
			<div class="pj_k"> 
				<div class="toux_k"><h1><img src="images/web/6565.jpg"></h1>
					<span>Aa***hg</span>
					<div class="sd"><p></p><p></p><p></p><p></p></div>
				</div>
				<p class="px22">收到后用了几天才来评价，联想的机子确实不错，秒开机，没噪音，外观也漂亮，完美的一次购物。五分</p>
				<p class="guig px22">规格：玫瑰金 I5/8G 256G固态</p>
			</div>
		</li>
		<li>
			<div class="pj_k"> 
				<div class="toux_k"><h1><img src="images/web/6565.jpg"></h1>
					<span>Aa***hg</span>
					<div class="sd"><p></p><p></p><p></p><p></p></div>
				</div>
				<div class="pjtp_img">
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
					<p><img src="images/web/21465.jpg"></p>
				</div>
				<p class="px22">收到后用了几天才来评价，联想的机子确实不错，秒开机，没噪音，外观也漂亮，完美的一次购物。五分</p>
				<p class="guig px22">规格：玫瑰金 I5/8G 256G固态</p>
			</div>
		</li>

	</ul>
</div>
