page-shopbuy {
.toolbar-title-ios {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
.button-ios {
    border-radius: 4px;
    // height: 2em;
    font-size: 0.2rem;
    color: #fff;
    background-color: #FF730F;
    bottom: 0;
    position: absolute;
    margin: 0;
    height: 0.8rem;
    // margin: 0.4rem 0.2rem;
    // padding: 0 1em;
}

///
.jie_diz p {
    color: #222;
    font-size: 0.28rem;
    line-height: 0.4rem;
}
.jie_diz p em{
    color: #222;
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-left: 2.6rem;
}
.jie_diz p.p {
    color: #7d7d7d;
    font-size: 0.26rem;
}

.gouwuc_kk .diannao_shanp .you .bt {
    color: #222;
    line-height: 0.35rem;
    height: 0.5rem;
    font-size: 0.26rem;
    
}
.gouwuc_kk .diannao_shanp .you .xh {
    color: #9a9a9a;
    line-height: 0.4rem;
    font-size: 0.24rem;
    height: 0.3rem;
    margin-bottom: 0.1rem;
}
.gouwuc_kk .diannao_shanp .you .youjfy .jiaq {
    color: #e10601;
    font-size: 0.26rem;
    margin-top: 0.05rem;
}
.goum_sl .counter_box i {
    display: inline-block;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    border: none;
    margin: 0.1rem;
    font-size: 0.24rem;
    color: gray;
}
.gei_shangj_ly p{
    font-size:0.24rem;
}
///
.px26 {
    font-size: .26rem;
    height: 0.5rem;
}
.gouwuc_kk .diannao_shanp .you .youjfy .goum_sl{
    
     margin-top: -0.15rem;
}


.goum_sl .counter_box i {
    display: inline-block;
    width: 1.5rem;
    height: 0.45rem;
    line-height: 0.45rem;
    border: none;
}
.goum_sl .counter_box input{
    border: none;
}
.gouwuc_ .you .goum a{
    // height:0.8rem !important;
    // line-height: 0.8rem !important;
    border:1px solid #FF730F;
}
.goum a{
    background-color: #FF730F;
}
.gouwuc_yem .zhong{
    // height:0.8rem;
}
.dib_daoh_b{
    //height:0.8rem;
}

.min_xi{
    border: none;
    background-color: white;
    margin-top: 10px;
}
.dd_xiangq_sp_k dl dd{
    padding:0;
    position: relative;
}
.dd_xiangq_sp_k dl dd a{
    width: 100%
}
.dd_xiangq_sp_k dl dd .wenz p{
    color: #333333;
}
.dd_xiangq_sp_k dl dd h1{
    width: 1.7rem;
    height: 1.7rem;
}
.dd_xiangq_sp_k dl dd h1 img{
    width: 100%;
    height: 100%;
}
.dd_xiangq_sp_k dl dd .wenz span{
    line-height: 0.5rem;
    color: #666666;
}
.dd_xiangq_sp_k dl dd .wenz{
    height: 1.7rem;
}
.dd_xiangq_sp_k{
    background-color: white;
    padding: 0;
}
.addsomething{
    height: 0.7rem;
    font-size: 0.22rem;
    border-top: 4px solid #f5f5f5; 
    padding: 0.19rem 0.15rem;
    background-color: white;
    color: #666666;
    h1{
        float: left;
        font-size: 0.22rem;
    }
}
dl{
    padding: 0.2rem;
}
.dingwei{
    height: 0.23rem;
    margin-top: 0.15rem;
}
input{
    width: 75%;
}
.yunfee{
    text-align: right;
    margin-right: 0.2rem;
}
ion-checkbox{
   float: right;
   margin-right: 0.2rem; 
}
.addsome{
    height: 0.7rem;
    font-size: 0.22rem;
    margin-top: 20px;
    padding: 0.19rem 0.15rem;
    background-color: white;
    color: #666666;
    h1{
        float: left;
        font-size: 0.22rem;
    }
}
.gouwuc_yem .zhong p em{
        color: #FF730F;
}
.gouwuc_yem .zhong p{
    color: #333333;
    font-size: 0.3rem;
}
:-moz-placeholder
{
  text-align: right;
}
::-moz-placeholder
{
  text-align: right;
}
:-ms-input-placeholder
{
   text-align: right;
}
::-webkit-input-placeholder
{
    text-align: right;
}
.checkbox-ios-danger .checkbox-checked{
        border-color: #FF730F;
    background-color: #FF730F;
}
.logo_k_fanh{
  width: auto;
  position: absolute;
}
.zhongjain_daoh{
  width: 100%;
}
.jiu_feo{
  width: 100%;
}
.dib_daoh_b{
    z-index: 0;
}
    .button-inner{
        font-size: 0.3rem;
    }

}
.mengban{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    background-color: rgba(129,129,129,0.7);
}
.enSureMon{
    background-color: white;
    z-index: 100;
    position: absolute;
    width: 100%;
    height: 60%;
    bottom: 0;
}
.enSureMon_con_ti{
    width: 92%;
    margin: 0 auto;
    height: 0.92rem;
    border-bottom: 1px solid #E5E5E5;
    padding: 0.31rem 0;
    div{
        margin: 0 auto;
        font-size: 0.29rem;
        color: #333333;
        text-align: center;
    }
    img:nth-of-type(1){
        height: 0.3rem;
        float: left;
    }
    img:nth-of-type(2){
        height: 0.37rem;
        float: right;
        margin-top: -0.33rem;
    }
}
.enSureMon_con_co{
    font-family: Microsoft YaHei;
    position: relative;
    width: 92%;
    margin: 0 auto;
    div{
        font-size: 0.22rem;
        padding: 0.22rem 0.15rem;
        border-bottom: 1px solid #E5E5E5;
        color: #666666;
        span{
            float: right;
            color: #333333;
            text-align: right;
            word-break:keep-all;
            white-space:nowrap;
            overflow:hidden;
            text-overflow:ellipsis;
            width: 70%;
            line-height: 0.3rem;
        }
    }
    div:nth-of-type(1){
        padding: 0.7rem 0 0.5rem 0;
        margin: 0 auto;
        position: relative;
        text-align: center;
        font-size: 0.36rem;
        color: rgba(51,51,51,1);
        border-bottom: none;
    }
}
