page-shopbuy {
.toolbar-title-ios {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
.button-ios {
    border-radius: 4px;
    height: 2em;
    font-size: 0.2rem;
    color: #fff;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}

///
.jie_diz p {
    color: #222;
    font-size: 0.28rem;
    line-height: 0.4rem;
}
.jie_diz p em{
    color: #222;
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-left: 2.6rem;
}
.jie_diz p.p {
    color: #7d7d7d;
    font-size: 0.26rem;
}

.gouwuc_kk .diannao_shanp .you .bt {
    color: #222;
    line-height: 0.35rem;
    height: 0.5rem;
    font-size: 0.26rem;
    
}
.gouwuc_kk .diannao_shanp .you .xh {
    color: #9a9a9a;
    line-height: 0.4rem;
    font-size: 0.24rem;
    height: 0.3rem;
    margin-bottom: 0.1rem;
}
.gouwuc_kk .diannao_shanp .you .youjfy .jiaq {
    color: #e10601;
    font-size: 0.26rem;
    margin-top: 0.05rem;
}
.goum_sl .counter_box i {
    display: inline-block;
    width: 100%;
    height: 0.45rem;
    line-height: 0.45rem;
    border: none;
    margin: 0.1rem;
    font-size: 0.24rem;
    color: gray;
}
.gei_shangj_ly p{
    font-size:0.24rem;
}
///
.px26 {
    font-size: .26rem;
    height: 0.5rem;
}
.gouwuc_kk .diannao_shanp .you .youjfy .goum_sl{
    
     margin-top: -0.15rem;
}


.goum_sl .counter_box i {
    display: inline-block;
    width: 1.5rem;
    height: 0.45rem;
    line-height: 0.45rem;
    border: none;
}
.goum_sl .counter_box input{
    border: none;
}
.gouwuc_ .you .goum a{
    height:0.8rem !important;
    line-height: 0.8rem !important;
    border:1px solid #FF730F;
}
.goum a{
    background-color: #FF730F;
}
.gouwuc_yem .zhong{
    height:0.8rem;
}
.dib_daoh_b{
    height:0.8rem;
}

.min_xi{
    border: none;
    background-color: white;
    margin-top: 10px;
}
.dd_xiangq_sp_k dl dd{
    padding:0;
    position: relative;
}
.dd_xiangq_sp_k dl dd a{
    width: 100%
}
.dd_xiangq_sp_k dl dd .wenz p{
    color: #333333;
}
.dd_xiangq_sp_k dl dd h1{
    width: 1.7rem;
    height: 1.7rem;
}
.dd_xiangq_sp_k dl dd h1 img{
    width: 100%;
    height: 100%;
}
.dd_xiangq_sp_k dl dd .wenz span{
    line-height: 0.5rem;
    color: #666666;
}
.dd_xiangq_sp_k dl dd .wenz{
    height: 1.7rem;
}
.dd_xiangq_sp_k{
    background-color: white;
    padding: 0;
}
.addsomething{
    height: 0.7rem;
    font-size: 0.22rem;
    border-top: 4px solid #f5f5f5; 
    padding: 0.19rem 0.15rem;
    background-color: white;
    color: #666666;
    h1{
        float: left;
        font-size: 0.22rem;
    }
}
dl{
    padding: 0.2rem;
}
.dingwei{
    margin-top: 0.5rem;
}
input{
    width: 75%;
}
.yunfee{
    text-align: right;
    margin-right: 0.2rem;
}
ion-checkbox{
   float: right;
   margin-right: 0.2rem; 
}
.addsome{
    height: 0.7rem;
    font-size: 0.22rem;
    margin-top: 20px;
    padding: 0.19rem 0.15rem;
    background-color: white;
    color: #666666;
    h1{
        float: left;
        font-size: 0.22rem;
    }
}
.gouwuc_yem .zhong p em{
        color: #FF730F;
}
.gouwuc_yem .zhong p{
    color: #333333;
    font-size: 0.3rem;
}
:-moz-placeholder
{
  text-align: right;
}
::-moz-placeholder
{
  text-align: right;
}
:-ms-input-placeholder
{
   text-align: right;
}
::-webkit-input-placeholder
{
    text-align: right;
}
.checkbox-ios-danger .checkbox-checked{
        border-color: #FF730F;
    background-color: #FF730F;
}
}
