page-shopbuy {
.toolbar-title-ios {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
.button-ios {
    border-radius: 4px;
    height: 2em;
    font-size: 0.2rem;
    color: #fff;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}

///
.jie_diz p {
    color: #222;
    font-size: 0.28rem;
    line-height: 0.4rem;
}
.jie_diz p em{
    color: #222;
    font-size: 0.28rem;
    line-height: 0.4rem;
    margin-left: 2.6rem;
}
.jie_diz p.p {
    color: #7d7d7d;
    font-size: 0.26rem;
}

.gouwuc_kk .diannao_shanp .you .bt {
    color: #222;
    line-height: 0.35rem;
    height: 0.5rem;
    font-size: 0.28rem;
    
}
.gouwuc_kk .diannao_shanp .you .xh {
    color: #9a9a9a;
    line-height: 0.4rem;
    font-size: 0.26rem;
    height: 0.4rem;
    margin-bottom: 0.1rem;
}
///
.px26 {
    font-size: .26rem;
    height: 0.5rem;
}
.gouwuc_kk .diannao_shanp .you .youjfy .goum_sl{
    
     margin-top: -0.15rem;
}


.goum_sl .counter_box i {
    display: inline-block;
    width: 1.5rem;
    height: 0.45rem;
    line-height: 0.45rem;
    border: none;
}
.goum_sl .counter_box input{
    border: none;
}
.gouwuc_ .you .goum a{
    height:0.8rem !important;
    line-height: 0.8rem !important;
    border:1px solid #ff971c;
}
.goum a{
    background-color: #ff971c;
}
.gouwuc_yem .zhong{
    height:0.8rem;
}
.dib_daoh_b{
    height:0.8rem;
}
}
