page-shopbuy {
.toolbar-title-ios {
    text-align: center;
    font-size: 0.8rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
.button-ios {
    border-radius: 4px;
    height: 2em;
    font-size: 0.2rem;
    color: #fff;
    background-color: #488aff;
    margin: 0.4rem 0.2rem;
    padding: 0 1em;
}

.px26 {
    font-size: .26rem;
    height: 0.5rem;
}
.gouwuc_kk .diannao_shanp .you .youjfy .goum_sl{
    
     margin-top: -0.15rem;
}
}
