page-rentsalemy {
#test{
     position:sticky;
    z-index: 500;
    background-color: white;
}
#group-content ul{
    padding: 0 0.2rem;
}
#group-content .order-nav .type{
    height:0.7rem;
    width: 25%;
    text-align: center;
    float: left;
    height:0.8rem;
}

#group-content .order-nav .type a{
    height:0.7rem;
    padding: 0.3rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    font-size: 0.28rem;
}
#group-content .order-nav .type.current a{
    color: #2979FF;
}
#group-content .order-nav .type.current{
    border-bottom: 2px solid #2979FF;
}
#group-content{
    background-color: white;
}
    .nomore{
        margin-top: 0.1rem;
        font-size: 0.28rem;
        text-align: center;
        color: gray;
    }

    .clearfix{
            border-bottom: solid 1px #dedede;
    }

    .biao{
        font-size:0.22rem !important;
        height:0.7rem;
    }
    .shangp_lieb_k_er li{
        padding-bottom:0rem !important;
        height:1.6rem !important;
    }
    .shangp_lieb_k_er{
        padding:0 !important;
    }

    .shangp_lieb_k_er li .lieb_img img {
        height:1.34rem;
    }
    .chacha{
        float: right;
        position: absolute;
        right: 0.2rem;
        font-size: 0.2rem;
        color: white;
        line-height: 0.4rem;
        height: 0.68rem;
        width: auto;
    }
}
