page-repairlist {
    .searchdiv{ 
        height:50px;
        padding:8px 0 0 0;
        background:#448aff;
        border-top:1px solid #3e3e3e;
        border-bottom:1px solid #3e3e3e;
        text-align:center;
        position: sticky;
        top: 0.78rem;
        z-index: 100;
    }
    /*.footerSearch .searchBar{margin:0 auto;}*/
    .searchTool{ 
        width:95%;
        height:32px;
        line-height:32px;
        margin:0px auto 0 auto; 
        text-align:left; 
        background:#fff;
        border-radius: 5px;
    }
    .choose{
        float:left;
        cursor:pointer;
        height:32px;
        width:29%; 
        display:inline-block;
        position:relative;
        line-height:32px;
        font-size:18px; 
        text-align:center;
        padding-right:10px;
    }

    .choose select{
        height: 30px;
        width:100%;
        background-color: #fff;
    }

    .searchTextInit{
        height:32px;
        line-height:30px;
        border-radius:0;
        border-left:1px solid #448aff;
        padding:0 8px;
        font-size:12px;
        color:#333;
        color:gray;
        width:60%; 
        background:#fff;
        float:left
    }
    .searchTextInput{
        height:32px;
        line-height:32px;
        border:0;
        border-left:1px solid #448aff;
        padding:0 8px; /*上 右 下 左*/
        font-size:18px;
        color:black;
        width:250px; 
        background:#fff;
        float:left
    }
    .searchBtn{
        float:left;
        height:24px;
        width:24px; 
        background:#fff 
        url(assets/imgs/fee.png) no-repeat center 0px;
        cursor:pointer;
        border:0;
        margin:4px 0 0 4px;
    }
    .searchBtn:hover{
        background:#fff url(assets/imgs/fee.png) 
        no-repeat center -24px;
    }
    .choose ul{
        border-bottom:1px solid #448aff;
        list-style:none;
        width:100%;
        z-index: 100;
        position: absolute;
        background-color: #fff ;
    }
    .choose ul li{
        padding: 5px 0;
    }
    .nomore{
        font-size: 0.2rem;
        text-align: center;
        color: gray;
    }
    .item-ios h4{
        font-size:0.23rem;
        line-height: 0.3rem;
        margin-left: 0.3rem;
    }
    .item-ios p{
        font-size:0.23rem;
        line-height: 0.35rem;
        margin-left: 0.3rem;
    }
    .item-ios{
        padding:0
    }
    .button[icon-only]{
        min-width:0;
    }
    .dengl .caid_img{
        width: 80%;
    }
    .title_a{
        font-size: 0.3rem;
        margin: 0.2rem 0 0.2rem 0.3rem;
        line-height: 0.5rem; 
    }
}

