page-personal{
    .shous_k{
    background: white;
    border-radius: 0.25rem;
    width: 70%;
}
    .shous_k img{
    float: right;
    height:0.4rem;
    width:0.4rem;
    margin-top:0.04rem;
    margin-right:0.04rem;
}
.shous_k input{
    width: 80%;
    height:0.45rem;
    margin-left: 3%;
}
#current{
    font-size: 15px;
    margin: 0.3rem 0;
    border-bottom: none;
    em{
        color:#afafaf;
        margin-left: 0.2rem;
    }
}
.city{
    padding: 0 0 0 0;
    width: 100%;
    }
.city-list {
    width: 100%;
    margin-top: 10px;
    background-color: white;
    padding: 0 20px;
}
        .hidden{
            display: none;
        }
}
