page-user{
    .user_list>ion-item{
    font-size: 1.8rem
}
.user_list span{
    position: absolute;
    left: 0.8rem;
    font-size: 0.25rem;
    margin-top: 0.08rem;
    color:#646464;
}
.user_bg{
  position:absolute;
  top: -4rem;
  left: 0;
  width:100%;
  height:100%;
  z-index:-10;
  zoom: 1;
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  background-position: center 0;
}
.login{
    
    padding:3rem;
    .userimg{
        text-align: center;
        
    }
    .userimg img{
        width:10rem;
        height: 10rem;
        border-radius: 50%;
    }
    .login_reg{
        margin-top: 1rem; 
        text-align: center;
        font-size: 2.5rem;
    }
}

.list-ios[inset]{
    margin:0px!important;
}        
ion-item-divider{
    min-height: .6rem;
}
.icon-left{
    position: absolute;
    right: 0.2rem;
}
.topdiv{
    padding: 0.7rem;
    font-size: 1.9rem;
    color: royalblue;
}
.edit_per{
    margin-top: 0.5rem;
    font-size: 1.9rem;
    color: royalblue;
}
.out_login{
    
    float: right;

}
.item-block{
    min-height: 0;
}
.input-wrapper{
    border-bottom: 1px solid #F5F5F5;
}
.list-ios[inset] .item {
     border-bottom: none; 
}
.button-ios{
    height: 0.5rem;
}

.gerenzhonhx{
  height:3.5rem;
  background: -webkit-linear-gradient(#2979FF, #3FA2F9); /* Safari 5.1 - 6.0 */
  background: -o-linear-gradient(#2979FF, #3FA2F9); /* Opera 11.1 - 12.0 */
  background: -moz-linear-gradient(#2979FF, #3FA2F9); /* Firefox 3.6 - 15 */
  background: linear-gradient(#2979FF, #3FA2F9); /* 标准的语法 */
}
.jifen{
    height:0.7rem;
    background-color: white;
    padding: 0.2rem 0.4rem;
    color:#646464;
    img{
        width:0.4rem;
        height:0.3rem;
        float: left;
    }
    p{
        font-size: 0.28rem;
        margin-left: 0.2rem;
        float:left;
    }
    span{
        font-size: 0.28rem;
        position: absolute;
        right:0.8rem;
    }
}
.item-ios{
    padding-left: 0;
}
.label-ios{
    margin: 11px 8px 11px 16px;
}
.iondiv{
    font-size: 0.4rem;
    position: absolute;
    right: 0.4rem;
    top: 0.2rem;
    color: white;
    z-index: 100;
}
.blockdiv{
    margin-top: 10px;
    background-color: white;
    padding: 0.2rem 0 0 0.2rem;
    p{
        font-size: 0.3rem;
        padding-bottom: 0.1rem;
        color: #646464;
    }
}

.buttondiv{
    background-color: #008CBA;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

ion-item img{
    height: 0.38rem;
    width: 0.38rem;
}
}