<ion-content style="background-color:#f5f5f5">
<div class="spinnerbox"></div>
<div class="spinner">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
</div>
    

<!--内容--> 
<div class="gerenzhonhx">
    <div class="iondiv" [navPush]="EditorinfoPage"> <ion-icon name="create-outline"></ion-icon></div>
	<h1 class="grzx_toub_beij"></h1>
	<div class="grzx_toux_fus">
		<div class="of"><h2><img src="assets/imgs/user.png"></h2>
            <p *ngIf="enSureLogin">您好，{{userLoginName}}</p>
        </div>
	</div>
</div>
	<div><img class="huimgdiv" src="assets/imgs/title.png" ></div>
<div class="jifen"><img src="assets/imgs/jifen.png"><p>剩余积分</p><span>0</span></div>

<button style="height:0.8rem;width:98%;font-size:0.3rem" ion-button block color="#f53d3d" *ngIf="!enSureLogin" [navPush]="LoginPage">登录</button>


  <ion-list inset class="user_list">
     <div class="blockdiv">
        <p>物业管理</p>
        <ion-item [navPush]="HouseinfolistPage">
            <img src="assets/imgs/myhouse.png">
            <span>关联房屋信息</span>
        </ion-item>
        
        <ion-item [navPush]="PayfeePage">
            <img src="assets/imgs/myfee.png">
            <span>费用明细</span>
        </ion-item>
        <ion-item [navPush]="RepairlistPage">
            <img src="assets/imgs/myserve.png">
            <span>我的工单</span>
            
        </ion-item>
        <ion-item [navPush]="LoadingPage">
            <img src="assets/imgs/mynum.png">
            <span>积分收支明细</span>
        </ion-item>
    </div>

    <div class="blockdiv">
        <p>我的商城</p>
        <ion-item [navPush]="ShoppinglistPage" [navParams]="{id:0}">
            <img src="assets/imgs/myshop.png">
            <span>商城订单</span>
        </ion-item>
        <ion-item [navPush]="TradegoodsGroupbuyingPage" [navParams]="{id:0}">
            <img src="assets/imgs/mytuan.png">
            <span>团购订单</span>
        </ion-item>
        <ion-item (click)="gotoAddressPage()">
            <img src="assets/imgs/myplace.png">
            <span>收货地址管理</span>
        </ion-item>
    </div>

    <div class="blockdiv">
        <p>房屋租售</p>
        <ion-item [navPush]="RentsalemyPage">
            <img src="assets/imgs/mypublic.png">
            <span>我的发布信息</span>
        </ion-item>
        <ion-item [navPush]="LoadingPage">
            <img src="assets/imgs/mymanger.png">
            <span>我的预约信息</span>
        </ion-item>
    </div>

    <div class="blockdiv">
        <p>设置</p>
        <ion-item [navPush]="RebuildpassPage">
            <img src="assets/imgs/mymiss.png">
            <span>账户安全</span>
        </ion-item>
        <ion-item (click)="outLogin()">
            <img src="assets/imgs/myout.png">
            <span>退出登录</span>
        </ion-item>

        <ion-item [navPush]="JPushTestPage">
        </ion-item>

    </div>

        <ion-item-divider >
        </ion-item-divider>

  </ion-list>

</ion-content>
