

<ion-content  style="background-color:#f5f5f5">
		  <div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a href="javascript:;" class="px24 zyyge">热卖列表</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>
<div id="yemnr">
<!--头部--> 

<!--商品列表--> 
<ul class="shangp_lieb_k">
		<li *ngFor="let item of list"  [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
			<a href="javascript:;">
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao">{{item.title | cutPipe}}</p>
					<p class="bend">已售数量：{{item.soldnum}}</p>
					<p class="px26">¥ {{item.preprice}}<span>   ¥ {{item.price}}</span></p>
					
				</div>
			</a>
		</li>
		
	</ul>

</div>
<ion-row>
    <ion-col class="nodata" text-center *ngIf="!hasmore">
      没有更多啦 ♪(^∇^*)
    </ion-col>
  </ion-row>
</ion-content>
