page-bigsale {
.toolbar-title-ios {
    text-align: center;
    font-size: 0.3rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
.shangp_lieb_k li .lieb_txt p.biao {
    height: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size:0.18rem;
    line-height: 0.35rem;
    color: #333333;
}

.shangp_lieb_k li .lieb_txt p {
    color: #555;
    font-size: 0.28rem;
    line-height: 0.35rem;
}

.shangp_lieb_k li .lieb_txt p.bend {
    color: #979797;
    font-size: 0.17rem;
    float: right;
    margin-top: 0.1rem;
}
.shangp_lieb_k li .lieb_txt p.px26 {
    font-size: 0.28rem;
    color: #e10601;
}

.shangp_lieb_k li .lieb_img img {
    width: 100%;
    min-height: 1.14rem;
}

.shangp_lieb_k li .lieb_img{
  height:2rem;
  width:100%;
  padding-left: 0;
}
.shangp_lieb_k li{
  padding:0;
  margin-left: 0;
  width:48%;
  background-color: white;
  margin: 0 1%;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}
.shangp_lieb_k li .lieb_txt p{
  font-size: 0.18rem;
  color: #808080;
}
.shangp_lieb_k li .lieb_txt p.px26{
  color: #FF730F;
  font-size:0.24rem;
  margin-top: 0.1rem;
}
.shangp_lieb_k li .lieb_txt{
  margin:0.15rem;
}
.shangp_lieb_k_er li .lieb_img{
  width:35%
}
.shangp_lieb_k_er li .lieb_txt{
   width:64%
}

.shangp_lieb_k li .lieb_txt p.px26 span{
    font-size: 0.14rem;
}

.logo_k_fanh{
  width: auto;
  position: absolute;
}
.zhongjain_daoh{
  width: 100%;
}
.jiu_feo{
  width: 100%;
}

}
