.address_list h2{
    font-size:1.7rem;

}
.add_address{
    background: #488aff;
    width:90%;
    height: 5rem;
    line-height: 5rem;
    color:#fff;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    margin: 1rem auto;
}
.middle_h2{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.def{
    float: left;
}