<ion-content>
  	<div class="spinnerbox"></div>
	<div class="spinner">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
		<div class="bar9"></div>
		<div class="bar10"></div>
		<div class="bar11"></div>
		<div class="bar12"></div>
	</div>
<div class="toub_beij toub_beij_zy" style="background-color:#ff971c">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh" (click)="backTo()">
        <a href="#"><img class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24">收货地址</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<!--内容-->
<div class="shouhdz_hk">
	<div class="shouh_zk" *ngFor="let item of addresslist">
		<div class="shouh_dange_beijin">
			<div class="shang">
				<div class="mz" style="width:98%">
					<p style="margin-top:0.2rem;font-family: SimHei;"><em>{{item.name}}</em>&nbsp;&nbsp;&nbsp;<em>{{item.mobile}}</em></p>
					<p style="margin:0.1rem 0;">{{item.address}}</p>
				</div>
			</div>
			<div class="boanjk">
        <div *ngIf="item.cbdefault" class="def" style="margin-left:0.05rem;">默认地址</div>
        <div *ngIf="!item.cbdefault" class="def"><input type="radio" (change)="clickToDef(item.id)"/>设为默认地址</div>
                <a style="display:inline;"  (click)="editAddress(item)" href="#">编辑&nbsp;<ion-icon style="color:#999999" name="create-outline"></ion-icon></a>&nbsp;&nbsp;&nbsp;&nbsp;
        <a style="display:inline;" (click)="deleteAddress(item.id)">删除&nbsp;<ion-icon style="color:#999999" name="ios-trash"></ion-icon></a>
      </div>
		</div>
	</div>
</div> 
<div class="dib_daoh_b">
	<div class="gouwuc_ Xinz">
		 <a [navPush]='AddaddressPage'>新添收货地址</a>
	</div>
</div>
</ion-content>

<!--<ion-list  class="address_list">
  <ion-item *ngFor="let item of list;let key=index">        
    <button ion-button clear item-start icon-only *ngIf="item.default_address">
        <ion-icon name="md-checkmark" color="danger"></ion-icon>
    </button>
   <div (tap)="changeAddress(item._id)" (press)="deleteAddress(key,item._id)">
      <h2>收货人姓名：{{item.name}}</h2>
      <h2 class="middle_h2">收货电话号码：{{item.phone}}</h2>
     <h2>收货地址：{{item.address}}</h2>
   </div>

    <button ion-button clear item-end icon-only (tap)="editAddress(item)">
      <ion-icon name="ios-create-outline"></ion-icon>
    </button>
    <button ion-button clear item-end icon-only (tap)="editAddress(item)">
      <ion-icon name="trash"></ion-icon>
    </button>
  </ion-item>

</ion-list>


</ion-content>



<ion-footer>
    <ion-toolbar>
      
      <div class="add_address" [navPush]='AddaddressPage'>
        新增收货地址<i class="icon ion-plus-circled"></i>
      </div>
    </ion-toolbar>
  </ion-footer>-->
  
