.address_list h2{
    font-size:1.7rem;

}
.add_address{
    background: #488aff;
    width:90%;
    height: 5rem;
    line-height: 5rem;
    color:#fff;
    text-align: center;
    margin: 0 auto;
    font-size: 1.7rem;
    margin: 1rem auto;
}
.middle_h2{
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.def{
    float: left;
}

page-address{
  .Xinz {
      background: #FF730F;
  }
  .shang{
      color: #333333;
  }
  .def{
      color:#999999;
      padding-top: 0.05rem;
  }
  .boanjk{
      padding-left: 2%;
  }
  input{
      width: 0.5rem;
      height: 0.22rem;
      display: block;
    float: left;
    margin-top: 0.02rem;
  }
  .shouh_dange_beijin .boanjk a{
      color: #999999;
  }
  .shouh_zk{
      background: white;
  }
  .shouh_dange_beijin .shang .mz em{
      color:#333333;
  }
  .shouh_dange_beijin .shang .mz p{
      color: #666666;
  }
  .logo_k_fanh{
  width: auto;
  position: absolute;
}
.zhongjain_daoh{
  width: 100%;
}
.jiu_feo{
  width: 100%;
}
.dib_daoh_b{
    height: 0.8rem;
}
}