page-shopping {

}
.clearfix:after {
    content: ".";
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#mallhome-content,
#goods-content{
    width: 100%;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(240, 240, 240);
    font-size: 0;
}

#mallhome-content .goods-type{
    padding-top: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
}

#mallhome-content .goods-type .goods-type-item{
    float: left;
    width: 6.24rem;
    height: 9.8rem;
    margin: 0 1rem;
}

#mallhome-content .goods-type a{
    width: 5.555555555555555rem;
    height: 5.555555555555555rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    /* border: 1px solid red; */
}

#mallhome-content .goods-type p{
    margin-top: 0.25rem;
    text-align: center;
}

#mallhome-content .goods-type li:nth-child(1) a{
    background: -webkit-linear-gradient(left, rgb(244, 204, 36), rgb(255, 172, 54));
    background: -moz-linear-gradient(left, rgb(244, 204, 36), rgb(255, 172, 54));
    background: linear-gradient(left, rgb(244, 204, 36), rgb(255, 172, 54));
}

#mallhome-content .goods-type li:nth-child(2) a{
    background: -webkit-linear-gradient(left, rgb(251, 90, 57), rgb(255, 42, 102));
    background: -moz-linear-gradient(left, rgb(251, 90, 57), rgb(255, 42, 102));
    background: linear-gradient(left, rgb(251, 90, 57), rgb(255, 42, 102));
}

#mallhome-content .goods-type li:nth-child(3) a{
    background: -webkit-linear-gradient(left, rgb(151, 107, 91), rgb(97, 69, 66));
    background: -moz-linear-gradient(left, rgb(151, 107, 91), rgb(97, 69, 66));
    background: linear-gradient(left, rgb(151, 107, 91), rgb(97, 69, 66));
}

#mallhome-content .goods-type li:nth-child(4) a{
    background: -webkit-linear-gradient(left, rgb(143, 71, 253), rgb(107, 70, 246));
    background: -moz-linear-gradient(left, rgb(143, 71, 253), rgb(107, 70, 246));
    background: linear-gradient(left, rgb(143, 71, 253), rgb(107, 70, 246));
}

#mallhome-content .goods-type li:nth-child(5) a{
    background: -webkit-linear-gradient(left, rgb(244, 204, 36), rgb(255, 172, 54));
    background: -moz-linear-gradient(left, rgb(244, 204, 36), rgb(255, 172, 54));
    background: linear-gradient(left, rgb(244, 204, 36), rgb(255, 172, 54));
}

#mallhome-content .goods-type li:nth-child(6) a{
    background: -webkit-linear-gradient(left, rgb(246, 69, 150), rgb(249, 14, 97));
    background: -moz-linear-gradient(left, rgb(246, 69, 150), rgb(249, 14, 97));
    background: linear-gradient(left, rgb(246, 69, 150), rgb(249, 14, 97));
}

#mallhome-content .goods-type li:nth-child(7) a{
    background: -webkit-linear-gradient(left, rgb(246, 69, 150), rgb(249, 14, 97));
    background: -moz-linear-gradient(left, rgb(246, 69, 150), rgb(249, 14, 97));
    background: linear-gradient(left, rgb(246, 69, 150), rgb(249, 14, 97));
}

#mallhome-content .goods-type li:nth-child(8) a{
    background: -webkit-linear-gradient(left, rgb(168, 229, 53), rgb(110, 209, 40));
    background: -moz-linear-gradient(left, rgb(168, 229, 53), rgb(110, 209, 40));
    background: linear-gradient(left, rgb(168, 229, 53), rgb(110, 209, 40));
}

#mallhome-content .goods-type li:nth-child(9) a,
#mallhome-content .goods-type li:nth-child(10) a{
    background: -webkit-linear-gradient(left, rgb(165, 86, 206), rgb(127, 77, 199));
    background: -moz-linear-gradient(left, rgb(165, 86, 206), rgb(127, 77, 199));
    background: linear-gradient(left, rgb(165, 86, 206), rgb(127, 77, 199));
}

#mallhome-content .goods-list{
    margin-top: 0.8888888888888888rem;
    background: #fff;
}

#mallhome-content .goods-list .goods-item{
    padding: 1.1111111111111112rem 1.3333333333333333rem;
    border-bottom: 1px solid #EFEDED;
}

#mallhome-content .goods-list .goods-item img{
    width: 13.333333333333334rem;
    height: 10rem;
    float: left;
    border-radius: 2px;
}

#mallhome-content .goods-list .goods-item .information{
    float: left;
    margin-left: 1.3333333333333333rem;
    width: 10rem;
    word-break:break-all; 
}

#mallhome-content .goods-list .goods-item .information .name{
    width: 23.88888888888889rem;
    font-size: 1.7777777777777777rem;
    color: rgb(42, 42, 42);
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

#mallhome-content .goods-list .goods-item .information .tip{
    width: 23.88888888888889rem;
    margin-top: 0.2222222222222222rem;
    font-size: 1.5555555555555556rem;
    color: rgb(107, 107, 107);
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
}

#mallhome-content .goods-list .goods-item .information .price{
    margin-top: 0.2222222222222222rem;
    font-size: 1.5555555555555556rem;
    color: rgb(246, 60, 60);
}

#mallhome-content .goods-list .goods-item .information .sales-count{
    margin-top: 0.3333333333333333rem;
    font-size: 1.5555555555555556rem;
    color: rgb(107, 107, 107);
}

#mallhome-content .main-nav{
    width: 5rem;
    position: fixed;
    right: 1.4rem;
    bottom: 9rem;
}

#mallhome-content .main-nav li{
    width: 5rem;
    height: 5rem;
    border-radius: 28px;
    border: 1px solid gray; 
    margin-top: 1.5rem;
}

#mallhome-content .main-nav li a{
    width: 2.3333333333333335rem;
    height: 2.3333333333333335rem;
    margin: 0.3888888888888889rem;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mallhome-content .main-nav .mall a{
    background-image: url('../images/mall.png');
}

#mallhome-content .main-nav .cart a{
    background-image: url('../images/cart.png');
}

#mallhome-content .main-nav .order a{
    background-image: url('../images/order.png');
}


/* 商品详情页 */
#goods-content .swipper-container img{
    width: 100%;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#goods-content .information{
    padding: 1rem 0.5555555555555556rem;
    background-color: #fff;
    word-break: break-all;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#goods-content .information .name{
    font-size: 1.7777777777777777rem;
    color: rgb(42, 42, 42);
}

#goods-content .information .tip{
    margin-top: 0.4444444444444444rem;
    font-size: 1.3333333333333333rem;
    color: red;
}

#goods-content .information .price{
    margin-top: 0.6666666666666666rem;
    font-size: 2rem;
    color: red;
}

#goods-content .information .o-price{
    margin-top: 0.1111111111111111rem;
    font-size: 1.5555555555555556rem;
    color: gray;
}

#goods-content .information .o-price span{
    text-decoration: line-through;
}

#goods-content .spec{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    margin-top: 0.1111111111111111rem;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    vertical-align: middle;
}

#goods-content .spec span{
    float: left;
    font-size: 1.5555555555555556rem;
    line-height: 1.7777777777777777rem;
    color: gray;
}

#goods-content .spec ul{
    float: left;
}

#goods-content .spec ul li{
    font-size: 1.5555555555555556rem;
    height: 1.7777777777777777rem;
    float: left;
    padding: 0.2222222222222222rem 0.3333333333333333rem;
    margin-right: 0.6666666666666666rem;
    border: 1px solid gray;
}


#goods-content .address{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    color: gray;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    font-size: 1.5555555555555556rem;
}

#goods-content .address span{
    color: #000;
}

#goods-content .tags{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    background-color: #fff;
}

#goods-content .tags .tag{
    float: left;
    margin-right: 1.3333333333333333rem;
}

#goods-content .tags .tag span{
    float: left;
    color: #000;
    line-height: 1.1111111111111112rem;
    font-size: 1.1111111111111112rem;
}

#goods-content .tags .tag img{
    width: 1.1111111111111112rem;
    height: 1.1111111111111112rem;
    float: left;
    margin: 0 0.2222222222222222rem 0 0 ;
}

#goods-content .seller-inf{
    padding: 1.7777777777777777rem 0.5555555555555556rem;
    margin-top: 0.8888888888888888rem;
    position: relative;
    background-color: #fff;
}

#goods-content .seller-inf img{
    width: 6.666666666666667rem;
    height: 5.555555555555555rem;
    float: left;
}

#goods-content .seller-inf .inf{
    margin: 0.4444444444444444rem 0 0 0.6666666666666666rem;
    float: left;
}

#goods-content .seller-inf .name{
    height: 1.5555555555555556rem;
    font-size: 1.5555555555555556rem;
    color: #000;
    font-weight: bold;
}

#goods-content .seller-inf .sales-count{
    height: 1.5555555555555556rem;
    margin-top: 0.8888888888888888rem;
    font-size: 1.5555555555555556rem;
    color: #000;
}

#goods-content .seller-inf .enter-store-btn{
    padding: 0.4444444444444444rem 2.3333333333333335rem;
    line-height: 1.3333333333333333rem;
    font-size: 1.3333333333333333rem;
    color: gray;
    border: 1px solid gray;
    border-radius: 4px;
    position: absolute;
    right: 1.3333333333333333rem;
    bottom: 3.5rem;
}

#goods-content .seller-inf .enter-store-btn img{
    width: 1.3333333333333333rem;
    height: 1.3333333333333333rem;
    margin-right: 0.2222222222222222rem;
}
.main-nav ion-icon{
    font-size: 3rem !important;
    margin: 0.3rem 0 0 0.8rem;
}

.jd_header{
    position: relative;
	height:3.8rem;
	width:100%;
	overflow: hidden;
	z-index: 50;
    float: left;
    margin-bottom: 0.2rem;
    background-color: white;
}
.classlist{
     font-size:2rem;
     float:left;
     margin:0.1rem 0 0 1rem;
}
.search_box{
    margin: auto;
    height: 4.5rem;
    border: 1px solid gray;
    border-radius: 0.8rem;
}
.search_box #s { 
    float: left; 
    padding: 0; 
    margin: 3px 0 0 6px; 
    border: 0; 
    width: 80%; 
    background: none; 
    font-size: 2rem;
    height:3rem; 
} 
.tupian-div{
    position: relative;
    margin-top: 0.5rem;
    float:left;
}
.tupian-div img:nth-child(1){
    width: 50%;
    height: 25rem;
    float:left;
    background-color: white
}
.tupian-div2 img:nth-child(1){
    width: 50%;
    height: 12.5rem;

}
.tupian-div2 img:nth-child(2){
    width: 50%;
    height: 12.5rem;
}
.facediv{
    background-color: white;
    height: 10rem;
    display: -webkit-box;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    border-bottom: 1px solid ghostwhite;
    font-size: 1.5rem;
}
.facediv div{
   width: 6.5rem;
   height: 8.5rem;
    margin:1rem 0.5rem 0 0.5rem;
    text-align: center;
}
.facediv img{
    width:5.5rem;
    height: 5.5rem;
}
.arrow,.left-arrow{
    top:4.2rem;
}
.titleshop{
    margin-top: 1rem;
    background-color: white;
    padding-bottom: 1rem;
    border-bottom: 1px solid #efeded;
    padding:1rem;
}
.p_shop{
    font-size: 2rem;
     border-left: 3px solid orange;
}
.p_shop2{
    color: #0e90d2;
    font-size: 2rem;
    float: right;
}
.special{
    font-size: 1.5rem;
    color: white;
    margin-top: 0.4rem;
    width: 23.88888888888889rem;
}
.special span{
    background-color: orange;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}
.prev1{
    height:10rem;
    float: left;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    position:absolute;
    width:3rem;
    z-index:100;
}
.next1{
    height:10rem;
    right:0;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    position:absolute;
    width:3rem;
    z-index:100;
}
.location{
    height:4rem;
    font-size: 2rem;
    padding-top:0.8rem;
    right: 0.5rem;
}
.classify{
     float:left;
     padding:1rem;
     font-size: 2rem;
}
.classify img{
    width:2.2rem;
    height:2rem;
    margin-right: 0.5rem;
    padding-top: 0.1em;
}

.facediv::-webkit-scrollbar {
        display: none;
    }