page-shopping {
.clearfix:after {
    content: ".";
    display: block;
    width: 0;
    height: 0;
    line-height: 0;
    font-size: 0;
    clear: both;
    visibility: hidden;
}

#mallhome-content,
#goods-content{
    width: 100%;
    border-bottom: 1px solid gainsboro;
    background-color: rgb(240, 240, 240);
    font-size: 0;
}

#mallhome-content .goods-type{
    padding-top: 1rem;
    font-size: 1.2rem;
    background-color: #fff;
}

#mallhome-content .goods-type .goods-type-item{
    float: left;
    width: 6.24rem;
    height: 9.8rem;
    margin: 0 1rem;
}

#mallhome-content .goods-type a{
    width: 5.555555555555555rem;
    height: 5.555555555555555rem;
    display: block;
    margin: 0 auto;
    border-radius: 50px;
    /* border: 1px solid red; */
}

#mallhome-content .goods-type p{
    margin-top: 0.25rem;
    text-align: center;
}

#mallhome-content .goods-list{
    background: #fff;
}

#mallhome-content .goods-list .goods-item{
    padding: 3px 1.3px;
    border-bottom: 1px solid #EFEDED;
}

#mallhome-content .goods-list .goods-item img{
    width: 30%;
    height: 1.6rem;
    float: left;
    border-radius: 2px;
}

#mallhome-content .goods-list .goods-item .information{
    margin-left: 32%;
    width: 68%;
    word-break:break-all; 
}

#mallhome-content .goods-list .goods-item .information .name{
    font-size: 0.28rem;
    color: #FF971C;
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    line-height: 0.5rem;
    font-weight:600;
}

#mallhome-content .goods-list .goods-item .information .tip{
    width: 70%;
    color: rgb(107, 107, 107);
    white-space: nowrap;
    text-overflow:ellipsis;
    overflow:hidden;
    font-size:0.2rem;
    color:rgba(158,158,158,1);
    line-height:0.37rem;
    font-family:MicrosoftYaHei;
    span{
        float:right;
        color:white;
        background: #FF971C;
        border-radius: 0.05rem;
        position: absolute;
        margin-right: 5%;
        margin-top: 0.15rem;
        padding: 0.06rem;
        right: 0;
    }
}

#mallhome-content .goods-list .goods-item .information .price{
    font-size: 0.28rem;
    color: rgba(253,53,37,1);
    line-height: 0.3rem
}

#mallhome-content .goods-list .goods-item .information .price span{
    font-size: 0.3rem;
}

#mallhome-content .goods-list .goods-item .information .sales-count{
   font-family:MicrosoftYaHei;
    font-size: 0.2rem;
    color: rgba(158,158,158,1);
    line-height:0.37rem;
}

#mallhome-content .main-nav{
    width: 5rem;
    position: fixed;
    right: 1.4rem;
    bottom: 9rem;
}

#mallhome-content .main-nav li{
    width: 5rem;
    height: 5rem;
    border-radius: 28px;
    border: 1px solid gray; 
    margin-top: 1.5rem;
}

#mallhome-content .main-nav li a{
    width: 2.3333333333333335rem;
    height: 2.3333333333333335rem;
    margin: 0.3888888888888889rem;
    display: block;
    background-repeat: no-repeat;
    background-size: 100% 100%;
}

#mallhome-content .main-nav .mall a{
    background-image: url('../images/mall.png');
}

#mallhome-content .main-nav .cart a{
    background-image: url('../images/cart.png');
}

#mallhome-content .main-nav .order a{
    background-image: url('../images/order.png');
}


/* 商品详情页 */
#goods-content .swipper-container img{
    width: 100%;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#goods-content .information{
    padding: 1rem 0.5555555555555556rem;
    background-color: #fff;
    word-break: break-all;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#goods-content .information .name{
    font-size: 1.7777777777777777rem;
    color: rgb(42, 42, 42);
}

#goods-content .information .tip{
    margin-top: 0.4444444444444444rem;
    font-size: 1.3333333333333333rem;
    color: red;
}

#goods-content .information .price{
    margin-top: 0.6666666666666666rem;
    font-size: 2rem;
    color: red;
}

#goods-content .information .o-price{
    margin-top: 0.1111111111111111rem;
    font-size: 1.5555555555555556rem;
    color: gray;
}

#goods-content .information .o-price span{
    text-decoration: line-through;
}

#goods-content .spec{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    margin-top: 0.1111111111111111rem;
    color: #000;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    vertical-align: middle;
}

#goods-content .spec span{
    float: left;
    font-size: 1.5555555555555556rem;
    line-height: 1.7777777777777777rem;
    color: gray;
}

#goods-content .spec ul{
    float: left;
}

#goods-content .spec ul li{
    font-size: 1.5555555555555556rem;
    height: 1.7777777777777777rem;
    float: left;
    padding: 0.2222222222222222rem 0.3333333333333333rem;
    margin-right: 0.6666666666666666rem;
    border: 1px solid gray;
}


#goods-content .address{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    color: gray;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    font-size: 1.5555555555555556rem;
}

#goods-content .address span{
    color: #000;
}

#goods-content .tags{
    padding: 1.3333333333333333rem 0.5555555555555556rem;
    background-color: #fff;
}

#goods-content .tags .tag{
    float: left;
    margin-right: 1.3333333333333333rem;
}

#goods-content .tags .tag span{
    float: left;
    color: #000;
    line-height: 1.1111111111111112rem;
    font-size: 1.1111111111111112rem;
}

#goods-content .tags .tag img{
    width: 1.1111111111111112rem;
    height: 1.1111111111111112rem;
    float: left;
    margin: 0 0.2222222222222222rem 0 0 ;
}

#goods-content .seller-inf{
    padding: 1.7777777777777777rem 0.5555555555555556rem;
    margin-top: 0.8888888888888888rem;
    position: relative;
    background-color: #fff;
}

#goods-content .seller-inf img{
    width: 6.666666666666667rem;
    height: 5.555555555555555rem;
    float: left;
}

#goods-content .seller-inf .inf{
    margin: 0.4444444444444444rem 0 0 0.6666666666666666rem;
    float: left;
}

#goods-content .seller-inf .name{
    height: 1.5555555555555556rem;
    font-size: 1.5555555555555556rem;
    color: #000;
    font-weight: bold;
}

#goods-content .seller-inf .sales-count{
    height: 1.5555555555555556rem;
    margin-top: 0.8888888888888888rem;
    font-size: 1.5555555555555556rem;
    color: #000;
}

#goods-content .seller-inf .enter-store-btn{
    padding: 0.4444444444444444rem 2.3333333333333335rem;
    line-height: 1.3333333333333333rem;
    font-size: 1.3333333333333333rem;
    color: gray;
    border: 1px solid gray;
    border-radius: 4px;
    position: absolute;
    right: 1.3333333333333333rem;
    bottom: 3.5rem;
}

#goods-content .seller-inf .enter-store-btn img{
    width: 1.3333333333333333rem;
    height: 1.3333333333333333rem;
    margin-right: 0.2222222222222222rem;
}
.main-nav ion-icon{
    font-size: 3rem !important;
    margin: 0.3rem 0 0 0.8rem;
}

.jd_header{
    position: relative;
	height:3.8rem;
	width:100%;
	overflow: hidden;
	z-index: 50;
    float: left;
    margin-bottom: 0.2rem;
    background-color: white;
}
.classlist{
     font-size:2rem;
     float:left;
     margin:0.1rem 0 0 1rem;
}
.search_box{
    margin: auto;
    height: 4.5rem;
    border: 1px solid gray;
    border-radius: 0.8rem;
}
.search_box #s { 
    float: left; 
    padding: 0; 
    margin: 3px 0 0 6px; 
    border: 0; 
    width: 80%; 
    background: none; 
    font-size: 2rem;
    height:3rem; 
} 
.tupian-div{
    position: relative;
    margin-top: 10px;
    float:left;
    height:3.5rem;
    background-color: white;
    padding:7px;
}
.tupian-div img:nth-child(1){
    width: 45%;
    float:left;
    height:100%;
}
.tupian-div2 {
    height:100%;
}
.tupian-div2 img:nth-child(1){
    width: 55%;
    height: 50%;
}
.tupian-div2 img:nth-child(2){
    width: 55%;
    height: 50%;
}
.facediv{
    background-color: white;
    display: -webkit-box;
    overflow-y: hidden;
    overflow-x: scroll;
    -webkit-overflow-scrolling:touch;
    border-bottom: 1px solid ghostwhite;
    font-size: 0.23rem;
    padding: 0 0.3rem;
    height:1.6rem;
}
        .facediv::-webkit-scrollbar {/*滚动条整体样式*/
            width: 30px;     /*高宽分别对应横竖滚动条的尺寸*/
            height: 30px;
        }
.facediv li{
    float:none;
    width: 1rem;
    height: 1.4rem;
    margin:0.2rem 0.09rem 0 0.09rem;
    text-align: center;
    p{
        font-family:MicrosoftYaHei;
        color:#818181;
    }
}
.activety {
border-bottom: 3px solid #FF971C;
}
.facediv img{
    width:0.8rem;
    height: 0.8rem;
    margin-bottom: 0.1rem;
    margin-left: 0.07rem;
}
.arrow,.left-arrow{
    top:4.2rem;
}
.titleshop{
    margin-top: 10px;
    background-color: white;
    border-bottom: 1px solid #efeded;
    padding: 0.22rem 0.2rem 0 0.2rem;
    height:0.76rem;
    img{
        float: left;
        margin-top: -0.1rem;
        width: 0.35rem;
        height: 0.5rem;
    }
}
.p_shop{
    font-size: 0.32rem;
    font-family: MicrosoftYaHei-Bold;
    font-weight: Bold;
    color: #FF971C;
}
.p_shop2{
    color: #FF971C;
    font-size: 0.3rem;
    float: right;
}
.special{
    font-size: 1.5rem;
    color: white;
    margin-top: 0.4rem;
    width: 23.88888888888889rem;
}
.special span{
    background-color: orange;
    padding: 0.3rem;
    margin-right: 0.5rem;
    border-radius: 0.2rem;
}
.prev1{
    height:10rem;
    float: left;
    padding-top: 1.5rem;
    padding-left: 0.5rem;
    position:absolute;
    width:3rem;
    z-index:100;
}
.next1{
    height:10rem;
    right:0;
    padding-right: 0.5rem;
    padding-top: 1.5rem;
    position:absolute;
    width:3rem;
    z-index:100;
}
.location{
    height:4rem;
    font-size: 2rem;
    padding-top:0.8rem;
    right: 0.5rem;
}
.classify{
     float:left;
     padding:1rem;
     font-size: 2rem;
}
.classify img{
    width:2.2rem;
    height:2rem;
    margin-right: 0.5rem;
    padding-top: 0.1em;
}

.facediv::-webkit-scrollbar {
        display: none;
    }
.jiantou_button{
    width: 4rem !important;
    height: 2rem !important;

}
.shous_k{
    background: #ffb661;
    border-radius: 0.25rem;
    width: 64%;
}
.logo_k{
    width:18%;
}
.logo_k img{
    height:0.48rem;
    width:0.48rem;
    float:left;
    margin-right: 0.03rem;
}
.logo_k p{
    color: #ffffff;
    font-size: 0.23rem;
    margin-top: 0.24rem;
    margin-left: 0.1rem;
}
.dengl{
    width:18%;
}
.dengl .caid_img img{
    height:0.37rem;
    width:0.37rem;
    margin-top: 0.16rem;
    float:left;
}
.dengl .caid_img{
    width:100%;
    float: left;
}
.caid_img p{
    color: #ffffff;
    font-size: 0.23rem;
    margin-top: 0.24rem;
    white-space:nowrap;
    word-break: keep-all;
    overflow: hidden;
    text-overflow: ellipsis;
}
.shous_k img{
    float: right;
    height:0.4rem;
    width:0.4rem;
    margin-top:0.04rem;
    margin-right:0.04rem;
}
.shous_k input{
    width: 80%;
    height:0.45rem;
    margin-left: 3%;
}
ion-slides{
     height: 3rem;;
     margin-top: 10px;
     background-color: white;
}
.slide-zoom{
    height:100%;
    }
.remen_sos{
    margin: 0;
    padding: 0.2rem;
    height: 100%;
    position: absolute;
    top: 0;
    z-index: 100;
    margin-top: 48px;
    background-color: white;
    display:none;
}
.history{
    margin-bottom: 0.2rem;
    ion-icon{
        position: absolute;
        right: 0.5rem;
        margin-top: -0.3rem;
    }
}
.remen_sos .history ul li{
    padding-right: 0.1rem;
}
}
