
<ion-content  style="background-color:#f5f5f5">

<div class="toub_beij toub_beij_zy" style="background-color:#ff971c;height:48px;">
	<div class="zhongj_k">
		<div class="logo_k"><img src="assets/imgs/class.png"><p>分类</p></div>
		<div class="shous_k"><input id="sos_tanc"  type="search" input_key="" placeholder="限时疯抢，好物低至1元">
        <img src="assets/imgs/sos.png">
        </div>
		<div class="dengl">
			<div class="caid_img" id="zhu_caid"><img src="assets/imgs/location.png"><p>西安市</p></div>
		</div>
	</div>
</div>

<!-- 轮播图 -->
        <ion-slides>    
            <ion-slide *ngFor="let item of l">
               <img class="img1" src="{{item}}" />
           </ion-slide>         
        </ion-slides>

  
   <!-- 团购图标-->
  <div class="tupian-div">
        <img [navPush]="SalePage" src="assets/imgs/qianggou.png">
        <div class="tupian-div2">
            <img src="assets/imgs/renmai.png" [navPush]="GroupbuylistPage"   class="div2">
            <img src="assets/imgs/tuangou.png" [navPush]="GroupbuylistPage" class="div3">
        </div> 
  </div>
  <div style="clear:both"></div>
            
            <div class="titleshop">
                <img src="assets/imgs/recommend.png">
                <span class="p_shop">&ensp;推荐分类</span>
                <span class="p_shop2">更多>></span>
            </div>               
        <!--<div class="prev1" id="prev2"><img src="assets/imgs/index_tab_l.png" alt=""></div>
		<div class="next1" id="next2"><img src="assets/imgs/index_tab_r.png" alt=""></div>-->
              <!--图标遍历-->             
        <ul class="facediv" >
            <li *ngFor= "let item of tubList">   
                    <div>
                    <a href="#"><img index="0" src="{{item.img}}"/></a>
                    <p index="0">{{item.name}}</p>                   
                    </div>
            </li>
        </ul>
        <!--<div (click)="clickEvent()"> <img class="jiantou_button" style="position:relative;" src="assets/imgs/jiantou.png"/></div>-->
        
<div id="mallhome-content" style="margin-top:10px">
   <ul class="goods-list">
            <li class="goods-item clearfix">
                <img src="assets/imgs/yibao.jpg" alt="" srcset="">
                <div class="information">
                    <p class="name">怡宝矿泉水</p>
                    <p class="price">￥<span>2</span></p>
                    <p class="sales-count"><span>235</span>人已付款</p>
                    <p class="special"><span>热销产品</span><span>人气推荐</span></p>
                </div>
            </li>
            <li class="goods-item clearfix">
                <img src="assets/imgs/mac.jpg" alt="" srcset="">
                <div class="information">
                    <p class="name">Apple Macbook Pro 15.4英寸笔记本电脑 深空灰色（Core i5处理器）</p>
                    <p class="price">￥<span>12888</span></p>
                    <p class="sales-count"><span>155</span>人已付款</p>
                    <p class="special"><span>热销产品</span></p>
                </div>
            </li>
            <li class="goods-item clearfix">
                <img src="assets/imgs/surfacepro.jpg" alt="" srcset="">
                <div class="information">
                    <p class="name">【灰钴蓝键盘套装】微软（Microsoft）新Surface Pro 二合一平板电脑</p>
                    <p class="price">￥<span>12888</span></p>
                    <p class="sales-count"><span>155</span>人已付款</p>
                    <p class="special"><span>热销产品</span></p>
                </div>
            </li>
            <li class="goods-item clearfix">
                    <img src="assets/imgs/yibao.jpg" alt="" srcset="">
                    <div class="information">
                        <p class="name">怡宝矿泉水</p>
                        <p class="price">￥<span>2</span></p>
                        <p class="sales-count"><span>235</span>人已付款</p>
                    </div>
                </li>
                <li class="goods-item clearfix">
                    <img src="assets/imgs/mac.jpg" alt="" srcset="">
                    <div class="information">
                        <p class="name">Apple Macbook Pro 15.4英寸笔记本电脑 深空灰色（Core i5处理器）</p>
                        <p class="tip">好用的电脑</p>
                        <p class="price">￥<span>12888</span></p>
                        <p class="sales-count"><span>155</span>人已付款</p>
                    </div>
                </li>
                <li class="goods-item clearfix">
                    <img src="assets/imgs/surfacepro.jpg" alt="" srcset="">
                    <div class="information">
                        <p class="name">【灰钴蓝键盘套装】微软（Microsoft）新Surface Pro 二合一平板电脑</p>
                        <p class="tip">笔记本平板工作站三合一</p>
                        <p class="price">￥<span>12888</span></p>
                        <p class="sales-count"><span>155</span>人已付款</p>
                    </div>
                </li>
        </ul>
        <div style="padding-top:1rem" class="bangding">
            <span class="p_more">查看更多</span>
        </div>
</div>
   <div style="clear:both"></div>

    <div class="titleshop">
        <span class="p_shop">&nbsp;精品推荐</span>
        <span class="p_shop2">更多></span>
    </div>
    <!--<ul>
        <li *ngFor= "let item of tuijList">
            <a href="#">
               <div><img src= "{{item.url}}"> </div>
            </a>
        </li>
    </ul>-->
       <div style="padding-top:1rem" class="bangding">
            <span class="p_more">查看更多</span>
        </div>
   <br />
   <br />
   <br />
   <br />
  <!--  <div id="mallhome-content">
        <ul class="goods-type clearfix">
            <li class="variaty goods-type-item" [navPush]="ShopsortPage">
                <a></a>
                <p>旅游服务</p>
            </li>
            <li class="favourable goods-type-item">
                <a href="javascript:;"></a>
                <p>酒水饮料</p>
            </li>
            <li class="variaty goods-type-item">
                <a href="javascript:;"></a>
                <p>儿童教育</p>
            </li>
            <li class="investment goods-type-item">
                <a href="javascript:;"></a>
                <p>个护美妆</p>
            </li>
            <li class="variaty goods-type-item">
                <a href="javascript:;"></a>
                <p>汇超市</p>
            </li>
            <li class="favourable goods-type-item">
                <a href="javascript:;"></a>
                <p>鲜花绿植</p>
            </li>
            <li class="variaty goods-type-item">
                <a href="javascript:;"></a>
                <p>日用工艺</p>
            </li>
            <li class="investment goods-type-item">
                <a href="javascript:;"></a>
                <p>汽车服务</p>
            </li>
            <li class="variaty goods-type-item">
                <a href="javascript:;"></a>
                <p>粮油副食</p>
            </li>
            <li class="investment goods-type-item">
                <a href="javascript:;"></a>
                <p>更多</p>
            </li>
        </ul>

        <ul class="goods-list">
            <li class="goods-item clearfix">
                <img src="assets/imgs/yibao.jpg" alt="" srcset="">
                <div class="information">
                    <p class="name">怡宝矿泉水</p>
                    <p class="tip">好喝的矿泉水</p>
                    <p class="price">￥<span>2</span></p>
                    <p class="sales-count"><span>235</span>人已付款</p>
                </div>
            </li>
            <li class="goods-item clearfix">
                <img src="assets/imgs/mac.jpg" alt="" srcset="">
                <div class="information">
                    <p class="name">Apple Macbook Pro 15.4英寸笔记本电脑 深空灰色（Core i5处理器）</p>
                    <p class="tip">好用的电脑</p>
                    <p class="price">￥<span>12888</span></p>
                    <p class="sales-count"><span>1555</span>人已付款</p>
                </div>
            </li>
            <li class="goods-item clearfix">
                <img src="assets/imgs/surfacepro.jpg" alt="" srcset="">
                <div class="information">
                    <p class="name">【灰钴蓝键盘套装】微软（Microsoft）新Surface Pro 二合一平板电脑</p>
                    <p class="tip">笔记本平板工作站三合一</p>
                    <p class="price">￥<span>12888</span></p>
                    <p class="sales-count"><span>1555</span>人已付款</p>
                </div>
            </li>
            <li class="goods-item clearfix">
                    <img src="assets/imgs/yibao.jpg" alt="" srcset="">
                    <div class="information">
                        <p class="name">怡宝矿泉水</p>
                        <p class="tip">好喝的矿泉水好喝的矿泉水好喝的矿泉水好喝的矿泉水好喝的矿泉水好喝的矿泉水</p>
                        <p class="price">￥<span>2</span></p>
                        <p class="sales-count"><span>235</span>人已付款</p>
                    </div>
                </li>
                <li class="goods-item clearfix">
                    <img src="assets/imgs/mac.jpg" alt="" srcset="">
                    <div class="information">
                        <p class="name">Apple Macbook Pro 15.4英寸笔记本电脑 深空灰色（Core i5处理器）</p>
                        <p class="tip">好用的电脑</p>
                        <p class="price">￥<span>12888</span></p>
                        <p class="sales-count"><span>1555</span>人已付款</p>
                    </div>
                </li>
                <li class="goods-item clearfix">
                    <img src="assets/imgs/surfacepro.jpg" alt="" srcset="">
                    <div class="information">
                        <p class="name">【灰钴蓝键盘套装】微软（Microsoft）新Surface Pro 二合一平板电脑</p>
                        <p class="tip">笔记本平板工作站三合一</p>
                        <p class="price">￥<span>12888</span></p>
                        <p class="sales-count"><span>1555</span>人已付款</p>
                    </div>
                </li>
        </ul>
    
         右下角导航 
        <ul class="main-nav">
            <li class="mall"><a href="javascript:;"><ion-icon name="home"></ion-icon></a></li>
            <li class="cart"><a href="javascript:;"> <ion-icon name="cart"></ion-icon></a></li>
            <li class="order"><a href="javascript:;"><ion-icon name="paper"></ion-icon></a></li>
        </ul>
    </div> -->
    <!--<div>
     <div style="margin-top: 1rem">
        <span  class="span1">精品推荐</span> <a href="#" class="span"> 更多>> </a>
     </div>
   </div>
   <div style="margin-top: 0.5rem">
       <img src="assets/imgs/08.jpg" alt="sss" class= "tj-img" />
        <img src="assets/imgs/hongjiu.jpg" alt="sss" class="tj-img" />
   </div>-->

</ion-content>
