<ion-content style="background-color:#f5f5f5">

<ion-fab right top>
    <button ion-fab color="light"><img class="fanh_ann closearea" src="assets/imgs/moreamor.png"></button>
    <ion-fab-list side="bottom">
		<div class="qipao"></div>
      <button (click)="backToHome()"><span>返回物业首页</span></button>
    </ion-fab-list>
</ion-fab>

	<div class="spinnerbox"></div>
	<div class="spinner">
		<div class="bar1"></div>
		<div class="bar2"></div>
		<div class="bar3"></div>
		<div class="bar4"></div>
		<div class="bar5"></div>
		<div class="bar6"></div>
		<div class="bar7"></div>
		<div class="bar8"></div>
		<div class="bar9"></div>
		<div class="bar10"></div>
		<div class="bar11"></div>
		<div class="bar12"></div>
	</div>
 <div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh" (click)="backTo()"><a href="javascript:;">
				<img class="fanh_ann" src="assets/imgs/fanh.png">
				<!--<img (click)="backToHome()" class="fanh_ann closearea" src="assets/imgs/closearea.png">-->
				</a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a href="javascript:;" class="px24 zyyge">商品详情</a></li>  
				</ul>
			</div>
			<div class="chacha" [navPush]="CartPage">
				<img class="fanh_ann" src="assets/imgs/gouwuche.png">
			</div>
		</div> 
	</div>
</div>

<!--详情界面-->
<!--图片-->
<div class="lunbo_item">
		<ion-slides *ngIf="strs.length>0" pager loop="true" autoplay="3000">
			<ion-slide *ngFor="let item of strs">
				<img [src]="item" />
			</ion-slide>
		</ion-slides>
	</div>

<!--商品名称-->
<div class="xiangq_shangp_m">
	<a href="javascript:;">
	<p class="px30" style="font-size:0.28rem ;color:#222;margin-bottom:0.3rem;">
		<span style="font-size:0.28rem ;color:#ff971c;line-height:0.35rem;">
		【{{goodMlist.groupnum}}人团】</span>{{goodMlist.title}}</p>
	
	<div class="xq_jiaq"><p>￥{{jiage}}</p>
	<span>¥{{prejiage}}</span></div>
	</a>
</div>

<div style="height:auto;margin: 6px 0;padding: 0.2rem 0.2rem 0.1rem 0.2rem;" class="banb" *ngIf="dataGlist.length>0">
	<div class="gtitle">可直接参与拼团</div>
	<ul *ngFor="let itemg of dataGlist">
		<img style="height:0.45rem;position: absolute;left: 0.2rem;" src="assets/imgs/groupperson.png">		
		<p class="font"><em class="guige" style="font-size:0.24rem">{{itemg.usermobile}}</em></p>
		<p class="font2">
			<em class="guige" style="display:block;margin-bottom:0.05rem;">还差{{itemg.left_num}}人成团</em>
			<em class="guige" style="color: #666666">剩余{{itemg.distime}}</em></p>
			<span class="salespan">去拼团&nbsp;<img src="assets/imgs/tuanfanh.png"></span>
	</ul>
</div>

<!--规格-->
<div class="banb" id="banb">
	<ul>					
		<p style="float:left"><em class="guige" style="font-size:0.24rem">商品规格：</em></p>
	<form class="choose">
          <select id="guige" name="mar" [(ngModel)]="guigeId" (ngModelChange)="changeId()" style="-webkit-appearance:none;padding: 0 2%;;width:auto;float:right;font-size: 0.24rem;line-height: 0.28rem;direction: rtl;" >
          <option value="pre1" selected="selected">请选择商品规格</option>
          <option *ngFor="let sitem of dataSlist" value={{sitem.id}}>{{sitem.name}}</option>
          </select>
    </form>
	</ul>
</div>


<div class="banb">
	<ul>					
		<p style="float:left"><em class="guige" style="font-size:0.24rem">购买数量：</em></p>
		<div class="goum_sl">
			<div class="counter_box">
				<!--数量-->
				<i class="jian" (tap)="decCount(item)">-</i>
				<input type="text" readonly="readonly" [(ngModel)]="buylist.goodsNum" name="num" id="num">
				<i class="jia" (tap)="incCount(item)">+</i>
			</div>
		</div>
	</ul>
</div>

<!--配送-->
<div class="banb">
	<ul>					
		<p style="float:left"><em class="guige" style="font-size:0.24rem">配&nbsp;送&nbsp;至：</em></p>
		<p style="float:right"><em class="guige" style="font-size:0.24rem">{{goodMlist.uaddName}}（支持配送）</em></p>
	</ul>
</div>

<!--店铺-->
<div class="xiangq_dp_k">
	<div class="dianpulogo">
		<h1><img src="assets/imgs/shopping.png"></h1>
		<div class="dianp_pf">
			<p class="px24" style="font-size:0.22rem;color:#222222">{{goodMlist.shop_name}}<img style="margin-left: 0.05rem;margin-bottom: 0.04rem;" src="assets/imgs/enshop.png"></p>
			<p class="px22" style="font-size:0.18rem;color:#666666">近期成交：{{goodMlist.shop_salenum}}</p>
		</div>
	</div>
	<div class="guangguang">
		<a class="a1" (click)="enterShop(wid,sid)"><h1><img src="assets/imgs/shopping2x.png"><div>进店逛逛</div></h1></a>

	</div>
</div>

<!--图文&评价-->

<div class="jiss_df" id="swdh">
	<h1><ul>
		<li  class="d" (click)="switch(0)">图文详情</li>
		<li (click)="switch(1)">产品评价</li>
		</ul>
	</h1>
</div>
<!--图文-->
<div class="tuwen" id="tuwen">
	<!--{{goodMlist.detail}}-->
	<div style="clear:both"></div>
</div>

<!--评价-->
<div class="pengl_k" id="pinglun">
	<ul>
		<li>
			<div class="pj_k"><h1>评价列表： </h1>
				<div class="toux_k"><h1><img src="assets/imgs/6565.jpg"></h1>
					<span>Aa***hg</span>
					<div class="sd"><p></p><p></p><p></p><p></p></div>
				</div>
				<div class="pjtp_img">
					<p><img src="assets/imgs/21465.jpg"></p>
				</div>
				<p class="px22">123收到后用了几天才来评价，机子确实不错，秒开机，没噪音，外观也漂亮，完美的一次购物。五分</p>
				<p class="guig px22">规格：玫瑰金 I5/8G 256G固态</p>
			</div>
		</li>
		<li>
			<div class="pj_k"> 
				<div class="toux_k"><h1><img src="assets/imgs/6565.jpg"></h1>
					<span>Aa***hg</span>
					<div class="sd"><p></p><p></p><p></p><p></p></div>
				</div>
				<p class="px22">222收到后用了几天才来评价，联想的机子确实不错，秒开机，没噪音，外观也漂亮，完美的一次购物。</p>
				<p class="guig px22">规格：玫瑰金 I5/8G 256G固态</p>
			</div>
		</li>
		<li>
			<div class="pj_k"> 
				<div class="toux_k"><h1><img src="assets/imgs/6565.jpg"></h1>
					<span>Aa***hg</span>
					<div class="sd"><p></p><p></p><p></p><p></p></div>
				</div>
				<div class="pjtp_img">
					<p><img src="assets/imgs/21465.jpg"></p>
					<p><img src="assets/imgs/21465.jpg"></p>
					
				</div>
				<p class="px22">收到后用了几天才来评价，联想的机子确实不错，秒开机，没噪音，外观也漂亮，完美的一次购物。五分</p>
				<p class="guig px22">规格：玫瑰金 I5/8G 256G固态</p>
			</div>
		</li>

	</ul>
</div>
<!--推荐商品-->
<div class="shopnomore"><img src="assets/imgs/leftbar.png">
	<span style="font-size:0.23rem;color:#FF971C">&nbsp;&nbsp;为您推荐&nbsp;&nbsp;</span>
		<img src="assets/imgs/rightbar.png">
</div>
<div id="yemnr">
<!--商品列表--> 


<br />
<ul class="shangp_lieb_k" style="padding:10px;">
		<li *ngFor="let item of rlist"  [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
			<a href="javascript:;">
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao">{{item.title}}</p>
					<p class="bend">已售数量：{{item.soldnum}}</p>
					<p class="px26">¥ {{item.pricemin}}</p>
					
				</div>
			</a>
		</li>	
	</ul>
</div>
<div class="shopnomore" style="margin-bottom: 1rem;">
	<img src="assets/imgs/leftbar.png">
	<span style="font-size:0.17rem;color:#FF971C">&nbsp;&nbsp;到底了&nbsp;&nbsp;</span>
	<img src="assets/imgs/rightbar.png">
</div>

<!--底部导航-->

<div class="dib_daoh_b">
	<div class="gouwuc_ gouwuc_yem jiesy"> 
		
		<div style="background-color: white;" id="sbuy" class="you">
			<div class="goum" >
				<a style="color:#FF971C" (click)="buygoods()" >单独购买(￥{{jiage}})</a>  
			</div>
		</div>
		<div id="gbuy" class="you">
			<div class="goum">
				<a (click)="gbuygoods()">{{goodMlist.groupnum}}人团(￥{{goodMlist.groupgoods_price}})</a>  
			</div>
		</div>
	</div>
</div>


</ion-content>
