page-shopgoodsinfo {
ion-slides{
     height: 4rem;;
     margin-top: 10px;
     background-color: white;
}
.xiangq_shangp_m .px24{
    height: initial;
    margin-bottom: 0.2rem;
}
.xiangq_shangp_m .xq_jiaq span{
    text-decoration:line-through
}
.xiangq_dp_k .dianpulogo h1{
    width: 0.55rem;
    padding-top: 0.2rem;
}
.dianpulogo{
    float:left;
}
.xiangq_dp_k{
    height:1.3rem;
    background-color: white;
}
.guangguang{
   overflow: hidden;
   text-align: center;
   float:right;
   margin-top: 0.2rem;
    height: 0.5rem; 

}
.guangguang a{
    overflow: hidden;
    display: inline-block;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    margin: 0 0.2rem;
    border: solid 1px #e2e2e2;
    border-radius: 0.05rem;
    color: #a1a1a1;
    line-height: 0.3rem;
    font-size: 0.22rem;
    height: 0.5rem;
    width: 2rem;
}
.a1 h1{
    width: 90%;
    height:0.4rem;
    margin-right: 0.1rem;
}
.guangguang a h1 img{

    float:left;
}
.dib_daoh_b{
        height: 0.8rem;
}
.gouwuc_ .you .goum a{
    height: 0.3rem;
    line-height: 0.8rem;
}
.gouwuc_yem .you{
    background-color: #ff971c;
    width: 50%
}
.goum a{
    background-color: transparent;
}
.tuwen{
    margin-bottom: 1rem;
    background-color: white;
}

.showMore{
    padding: 0.2rem;
    font-size: 0.3rem;
    font-family: sans-serif;
    text-align: center;
    color: gray;
    display:none;
}

.shangp_lieb_k li .lieb_txt p.bend {
    color: #979797;
    font-size: 0.17rem;
    float: right;
    margin-top: 0.1rem;
}
.shangp_lieb_k li .lieb_txt p.px26 {
    font-size: 0.28rem;
    color: #e10601;
}

.shangp_lieb_k li .lieb_img img {
    width: 100%;
    min-height: 1.14rem;
}

.shangp_lieb_k li .lieb_img{
  height:2rem;
  width:100%;
  padding-left: 0;
}
.shangp_lieb_k li{
  padding:0;
  margin-left: 0;
  width:48%;
  background-color: white;
  margin: 0 1%;
  margin-bottom: 10px;
  border: none;
  border-radius: 3px;
}
.shangp_lieb_k li .lieb_txt p{
  font-size: 0.18rem;
  color: #808080;
}
.shangp_lieb_k li .lieb_txt p.px26{
  color: #FF730F;
  font-size:0.24rem;
  margin-top: 0.1rem;
}
.shangp_lieb_k li .lieb_txt{
  margin:0.15rem;
}
.shangp_lieb_k_er li .lieb_img{
  width:35%
}
.shangp_lieb_k_er li .lieb_txt{
   width:64%
}

.shangp_lieb_k li .lieb_txt p.biao {
    height: 0.7rem;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
    font-size:0.18rem;
    line-height: 0.35rem;
    color: #333333;
}

.shangp_lieb_k li .lieb_txt p {
    color: #555;
    font-size: 0.28rem;
    line-height: 0.35rem;
}

.xiangq_dp_k .dianp_pf .px24{
    line-height: 0.5rem;
}

.jiss_df p a.d{
    border: solid 2px #FF971C;
    color: #666666;
}

.jiss_df{
    margin: 0.3rem 0.2rem;
    background-color: white;
}

.xiangq_shangp_m{
    background-color: white;
}

.goum_sl{
    background-color: white;
}


}
