page-shopgoodsinfo {
ion-slides{
     height: 4rem;;
     margin-top: 10px;
     background-color: white;
}
.xiangq_shangp_m .px24{
    height: initial;
    margin-bottom: 0.2rem;
}
.xiangq_shangp_m .xq_jiaq span{
    text-decoration:line-through
}
.xiangq_dp_k .dianpulogo h1{
    width: 0.8rem;
}
.guangguang{
   overflow: hidden;
    text-align: center;
    height: 0.5rem; 

}
.guangguang a{
    overflow: hidden;
    display: inline-block;
    padding: 0.1rem 0.2rem 0.1rem 0.2rem;
    margin: 0 0.2rem;
    border: solid 1px #e2e2e2;
    border-radius: 0.05rem;
    color: #a1a1a1;
    line-height: 0.3rem;
    font-size: 0.22rem;
    height: 0.5rem;
}
.a1 h1{
    width: 0.4rem !important;
    height:0.4rem;
    margin-right: 0.1rem;
}
.guangguang a h1 img{
    width: 0.4rem !important;
    height:0.4rem;
}
.dib_daoh_b{
        height: 0.7rem;
}
.gouwuc_ .you .goum a{
    height: 0.7rem;
    line-height: 0.7rem;
}
.gouwuc_yem .you{
    background-color: #ff971c;
    width: 50%
}
.goum a{
    background-color: transparent;
}
.tuwen{
    margin-bottom: 1rem;
}
}
