
<ion-content>


<div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">商品详情</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<!--详情界面-->
<!--图片-->
<div class="lunbo_item">
		<ion-slides *ngIf="strs.length>0" pager loop="true" autoplay="3000">
			<ion-slide *ngFor="let item of strs">
				<img [src]="item" />
			</ion-slide>
		</ion-slides>
	</div>

<!--商品名称-->
<div class="xiangq_shangp_m">
	<a [navPush]='ShopbuyPage'>
	<p class="px24">{{goodMlist.title}}</p>
	<div class="xq_jiaq"><p>￥{{dataSlist.preprice}}</p>
	<span>原价:¥{{goodMlist.price}}</span></div>
	</a>
</div>

<!--数量-->
<div class="goum_sl">
	<p class="px26 jiaq">购买数量</p>
	<div class="counter_box">
		<i class="jian" (tap)="decCount()">-</i>
		<input type="text" readonly="readonly" [(ngModel)]="addcarList.goodsNum" name="num" id="num">
		<i class="jia" (tap)="incCount()">+</i>
	</div>
</div>
<!--配送-->
			<div class="goum_sl">
				<p class="px22">配送至：{{goodMlist.uaddName}}<em>支持配送</em></p>
			</div>

<!--店铺-->
<div class="xiangq_dp_k">
	<div class="dianpulogo">
		<h1><img src="goodMlist.shopimg"></h1>
		<div class="dianp_pf">
			<p class="px24">{{goodMlist.shop_name}}</p>
			<p class="px22">近期成交：{{goodMlist.shop_salenum}}</p>
		</div>
	</div>
	<div class="guangguang">
		<a class="a1"(click)="enterShop(wid,sid)"><h1><img src="assets/imgs/dainp01.png"><div>进店逛逛</div></h1></a>

	</div>
</div>



<!--图文&评价-->

<div class="jiss_df">
	<h1>
		<p><a class="d" href="javascript:;">图文详情</a></p>
		<p><a  href="javascript:;">产品评价</a></p>
	</h1>
</div>
<!--图文-->
<div class="tuwen" id="tuwen"></div>

<!--评价-->

<!--推荐商品-->
<div class="rem_shangp_bt_b">
	<div class="waik">
		<em></em>
		<div class="mingz"><p class="px26">为您推荐</p></div>
		<em></em>
	</div>
</div>

<div id="yemnr" style="margin-bottom:1rem;">
<ul class="shangp_lieb_k">
		<li *ngFor="let item of rlist"  [navPush]='ShopgoodsinfoPage' [navParams]="{id:item['id']}">
			<a>
				<div class="lieb_img"><img src={{item.img}}></div>
				<div class="lieb_txt">
					<p class="biao">{{item.title | cutPipe}}</p>
					<p class="bend">已售数量：{{item.soldnum}}</p>
					<p class="px26">¥ {{item.pricemin}}</p>
					
				</div>
			</a>
		</li>
		
	</ul>

</div>


<!--底部导航-->

<div class="dib_daoh_b">
	<div class="gouwuc_ gouwuc_yem jiesy"> 
		
		<div id="cart" class="you">
			<div class="goum">
				<a (click)="addcart()">加入购物车</a>  
			</div>
		</div>
		<div id="buy" class="you">
			<div class="goum">
				<a (click)="buygoods()">立即购买</a>  
			</div>
		</div>
		</div>
	</div>



</ion-content>
