<!--王慧敏-->
<ion-header>
  <ion-navbar>
    <ion-title>商品订单</ion-title>
  </ion-navbar>
</ion-header>


<ion-content>
    <!--商品订单列表--> 
  <div id="order-content">
        <ul class="order-nav clearfix" id="test">
            <li class={{tabTest.li00}} data-nav="all" (click)="paymentEvent(0)"><a href="javascript:;">全部</a></li>
            <li class={{tabTest.li01}} data-nav="payment" (click)="paymentEvent(1)"><a href="javascript:;">待付款</a></li>
            <li class={{tabTest.li02}} data-nav="receive" (click)="paymentEvent(2)"><a href="javascript:;">待发货</a></li>
            <li class={{tabTest.li03}} data-nav="done" (click)="paymentEvent(3)"><a href="javascript:;">待收货</a></li>
            <li class={{tabTest.li04}} data-nav="cancel" (click)="paymentEvent(4)"><a href="javascript:;">待评价</a></li>
        </ul>
        <div class="order-list">
            <div class="order-item">
            <li *ngFor="let item of list" >
			    <a href="XiangQ_Y.html" [navPush]='GoodsoderdetailPage' [navParams]="{id:item['trade_id']}">
			    	<div class="lieb_img"><img src={{item.img}}></div>
			    	<div class="lieb_txt">
		    		<p class="biao">{{item.trade_id}}</p>
                    <p class="biao">{{item.statename}}</p>
                    <p class="biao">订单状态——{{item.trade_state}}</p>
                    <!--<p class="biao">{{item.goods_list[0].goods_title}}</p>
                    <p class="biao">{{item.goods_list[0].refundstate}}</p>-->
                    <p class="bend"><i>{{item.goods_list[0].goods_title}}</i></p>
                    <p class="bend">购买数量<i>{{item.goods_list[0].goods_num}}</i></p>
		    		</div>
		    	</a>
                 <div class="evaluation" *ngIf="item.trade_state==1">
                <p (click)="obligationEvent(item.trade_id)">商品付款：<span>待付款按钮！</span></p>
                <p (click)="cancelpaymentEvent(item.trade_id)">取消订单：<span>取消付款按钮！</span></p>
                </div>
                <div class="evaluation" *ngIf="item.trade_state==3" (click)="receiveEvent(item.trade_id)">
                <p>商品收货：<span>确认收货按钮！</span></p>
                </div>
                <div class="evaluation" *ngIf="item.trade_state==4" >
                <p (click)="evaluationEvent(item.trade_id)">商品评价：<span>添加评价按钮！</span></p>
                <p (click)="evaluationdetailEvent(item.trade_id)">商品评价详情：<span>评价详情按钮！</span></p>
                </div>
                <div class="refund" *ngIf="item.trade_state==2" >
                <p (click)="addrefundEvent(item.trade_id)">商品退款：<span>添加退款按钮！</span></p>
                <p (click)="refundEvent(item.trade_id)">商品退款：<span>退款按钮——显示退款详情！</span></p>
                <p (click)="modifyaddressEvent(item.trade_id)">修改地址：<span>修改地址按钮！</span></p>
                </div>
		    </li> 
                
            </div>
        </div>

    </div>


</ion-content>
