page-shoppinglist {
    .dingd_hao{
    margin: 0.15rem 0.4rem 0.15rem 0.2rem;
}
.qqq_jia .zuo p{
        color: #666666;
}
.gouwuc_kk .diannao_shanp .you .xh{
    color: #666666;
}
#order-content .order-nav{
    font-size: 1.6666666666666667rem;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    position: sticky;
    top: 0.8rem;
}
#group-content .order-nav{
    font-size: 1.6666666666666667rem;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
    position: sticky;
    top: 0.8rem;
}

#order-content .order-nav .type{
    width: 20%;
    text-align: center;
    float: left;
    margin-bottom: 0;
    height: 0.87rem;
}

#order-content .order-nav .type a{
    height:0.7rem;
    padding: 0.3rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    border-bottom: 1px solid #fff;
}

#order-content .order-nav .type.current a{
    color: #FF720E;
    border-bottom: 2px solid #FF720E;
}

#order-content .order-item{
    margin-bottom: 0.1rem;
    background-color: #fff;
}

#order-content .order-item .seller{
    border-bottom: 1px solid rgb(239, 237, 237);
    padding: 0.8888888888888888rem;
}

#order-content .order-item .seller .name{
    float: left;
    font-size: 1.5555555555555556rem;
}

#order-content .order-item .seller .state{
    float: right;
    font-size: 1.5555555555555556rem;
    color: red;
}


#order-content .order-item .goods{
    border-bottom: 1px solid rgb(239, 237, 237);
    padding: 1.3333333333333333rem 0.8888888888888888rem;
}

#order-content .order-item .goods img{
    width: 6.666666666666667rem;
    height: 6.666666666666667rem;
    float: left;
}

#order-content .order-item .goods .name{
    width: 70%;
    height: 6.666666666666667rem;
    margin-left: 1.3333333333333333rem; 
    float: right;
    font-size: 1.3333333333333333rem;
    vertical-align: middle;
}

#order-content .order-item .sub-inf{
    border-bottom: 1px solid rgb(239, 237, 237);
    padding: 0.8888888888888888rem;
}

#order-content .order-item .sub-inf .time{
    float: left;
    font-size: 1.5555555555555556rem;
}

#order-content .order-item .sub-inf .buy-count{
    float: right;
    font-size: 1.5555555555555556rem;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 0.5rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
#order-content ul{
    background-color: #f5f5f5;
}
#order-content ul li{
    margin: 0 0 10px 0;
    background-color: white;
    padding: 5px 0 0 0;
}
// 团购CSS
#group-content .order-nav{
    font-size: 1.6666666666666667rem;
    background-color: #fff;
    border-bottom: 1px solid rgb(239, 237, 237);
}

#group-content .order-nav .type{
    height:0.87rem;
    margin-bottom: 0;
    width: 25%;
    text-align: center;
    float: left;
}

#group-content .order-nav .type a{
    height:0.7rem;
    padding: 0.3rem 0;
    display: inline-block;
    vertical-align: middle;
    color: #000;
    border-bottom: 1px solid #fff;
}

#group-content .order-nav .type.current a{
    color: #FF720E;
    border-bottom: 2px solid #FF720E;
}

#group-content .order-item{
    margin-bottom: 0.8888888888888888rem;
    background-color: #fff;
}

#group-content .order-item .seller{
    border-bottom: 1px solid rgb(239, 237, 237);
    padding: 0.8888888888888888rem;
}

#group-content .order-item .seller .name{
    float: left;
    font-size: 1.5555555555555556rem;
}

#group-content .order-item .seller .state{
    float: right;
    font-size: 1.5555555555555556rem;
    color: red;
}


#group-content .order-item .goods{
    border-bottom: 1px solid rgb(239, 237, 237);
    padding: 1.3333333333333333rem 0.8888888888888888rem;
}

#group-content .order-item .goods img{
    width: 6.666666666666667rem;
    height: 6.666666666666667rem;
    float: left;
}

#group-content .order-item .goods .name{
    width: 70%;
    height: 6.666666666666667rem;
    margin-left: 1.3333333333333333rem; 
    float: right;
    font-size: 1.3333333333333333rem;
    vertical-align: middle;
}

#group-content .order-item .sub-inf{
    border-bottom: 1px solid rgb(239, 237, 237);
    padding: 0.8888888888888888rem;
}

#group-content .order-item .sub-inf .time{
    float: left;
    font-size: 1.5555555555555556rem;
}

#group-content .order-item .sub-inf .buy-count{
    float: right;
    font-size: 1.5555555555555556rem;
}
.toolbar-title-ios {
    text-align: center;
    font-size: 0.5rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
#group-content ul{
    background-color: #f5f5f5;
}
#group-content ul li{
    padding: 0 0 10px 0;
    background-color: white;
    padding: 5px 0 20px 0;
}
#group-content .zhongjain_daoh ul li.qbdd{
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-top-right-radius: 0.08rem;
    border-bottom-right-radius: 0.08rem;
}
#group-content .zhongjain_daoh ul li.qbdd_you{
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0.08rem;
    border-top-left-radius: 0.08rem;
}
.toub_beij_zy{
    height:0.96rem
}

    .nomore{
        font-size: 0.2rem;
        text-align: center;
        color: gray;
    }
    .gouwuc_kk_ddxq .diannao_shanp{
        padding: 0 0.2rem 0 0.2rem;
    }
        .qqq_jia .you p a{
        background: white;
        color: #FF730F;
        border: 1px solid #FF730F;
    }

.qqq_jia .you p a.color_1 {
    background: #FF730F;
}

.qqq_jia .you p a{
        padding: 0.1rem 0.16rem;
}
.gouwuc_kk .diannao_shanp h1 img{
    width: 100% !important;
    height: 100%;
}
.gouwuc_kk .diannao_shanp h1{
    width: 1.8rem;
    height: 1.8rem;
    margin-right: 2%;
}
.gouwuc_kk_ddxq .diannao_shanp .you{
    width: auto;
    float: none;
    height: 1.8rem;
}

.qqq_jia .zuo p{
    float: left;
    margin:0;
}
.qqq_jia .zuo{
    width: 100%;
    padding: 0 0.2rem;
}
.qqq_jia .you{
    width: 100%;
}
.qqq_jia{
    height: auto;
}
.gouwuc_kk .diannao_shanp .you .bt{
    height: 1rem
}
.logo_k_fanh{
  width: auto;
  position: absolute;
}
.zhongjain_daoh{
  width: 100%;
}
.jiu_feo{
  width: 100%;
}

}
.totalmoney{
    float: right !important;
}
.ensurestate{
    float: right;
    color: #FF730F !important;
}
.gouwuc_kk .diannao_shanp .you .bt{
        overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
    word-break: break-all;
}

.goodsul{
    li{
        margin: 0 0 3px 0 !important;
    }
}

