
<ion-content style="background-color:#f5f5f5">

 <div style="background-color:#ff971c" class="toub_beij toub_beij_zy">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">退款详情</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<div class="jies_qian">
	<div class="shangpjis">
		<img style="float:left" src="assets/imgs/money.png">
		<div class="money">已申请退款</div>
	</div>

</div>

<div class="jies_qian">
		<div class="shangpjis">
		<h1>退款金额</h1>
		<p>
        	<span style="color: #FF730F;">{{list.preprice}}</span>
		</p> 
	</div>
	<div class="shangpjis">
		<h1>退款类型</h1>
		<p>
			<span *ngIf="list.refund_mode == 1">仅退款(无需退货)</span>
			<span *ngIf="list.refund_mode == 2">退货退款</span>
			<span *ngIf="list.refund_mode == 3">售后退款</span>
			<span *ngIf="list.refund_mode == 4">售后退货</span>
		</p> 
	</div>
	<div class="shangpjis">
		<h1>退款原因</h1>
		<p> 
			<span>{{list.refund_type}}</span>
		</p> 
	</div>

</div>

<div class="gouwuc_kk gouwuc_kk_jies">
 	<ul>
 		<li> 
 			<div class="diannao_shanp"> 
 				<a><h1><img src="{{list.img}}"></h1></a>
 				<div class="you">
 					<a><p class="px24 bt">{{list.title}}</p></a>
 					<p class="px22 bt">{{list.size_name}}</p>
					<p class="xh">{{list.preprice}}</p>
 				</div>
 			</div> 
 		</li>
 	</ul>
</div>

	
</ion-content>