page-tradegoods-refund {
            .toolbar-title-ios {
    text-align: center;
    font-size: 0.5rem;
    font-weight: 600;
    color: #000;
    pointer-events: auto;
}
.gouwuc_kk .diannao_shanp h1 img{
    height: 1.7rem;
}
.gouwuc_kk_jies .diannao_shanp .you{
    height: 1.7rem;
    position: relative;
}
.gouwuc_kk .diannao_shanp .you .xh{
    position: absolute;
    bottom: 0;
}
.jies_qian .shangpjis h1{
    color: #333333;
}
.jies_qian{
    margin-top: 10px;
    border-bottom: 0;
    background-color: white;
}
.gouwuc_kk_jies{
    background-color: white;
    margin-top: 10px;
    width: 100%;
    padding: 0;
    border-bottom: none;
}
.money{
        margin-top: 0.03rem;
    margin-left: 0.5rem;
    color: #FF730F;
}
}
