page-onlinepayment {
.otherUser_content .item-ios{
        padding-left: 0;
    }
    .user_titlediv{
       padding: 0.1rem 0; 
    }
    .inputcheck {
        margin-top: 0.1rem;
    }
    .fee_num{
        color:#818181;
        margin-right: 4px;
        float: right;
        font-size: 0.26rem;
    }
    .otherUser_title{
        margin-top: 10px;
        background-color: white;
        padding: 0.25rem;
        font-size: 0.28rem;
    }
    .fee_time{
        color:#818181;
        float:left;
        width:60%;
        font-size: 0.23rem;
        padding-left: 15%;
        margin-left: 0.51rem;
        line-height: 0.28rem;
    }
    .fee_content{
        color:#818181;
        width:40%;
        font-size: 0.23rem;
        line-height: 0.24rem;
    }
    .user_title{
        display: inline;
        color:#818181;
        font-size: 0.22rem;
    }
    .appear{
        float: right;
        margin-right: 0.5rem;
        color:#818181;
        font-size: 0.22rem;
    }
    .list-ios{
        margin:0;
    }
    ion-list{
        margin-top: 0.2rem;
    }

        .toub_beij_zy{
    border-bottom: solid 1px #2979FF !important;
    }
    // .item-ios.item-block .item-inner{
    //     border-bottom: 0.55px solid #2979FF !important;
    // }
    .select-item{
        background-color:#2979FF;
        color:#F5F5F5;
        height: 0.5rem;
        margin-top: 0.08rem;
    }
    .shous_div{
        background-color:#2979FF;
        width:72%
    }
    .shous_k{
        height:0.6rem !important;
    }
    .logo_k_fanh{
        margin-top: 0.05rem;
    }
    .select-text{
        font-size: 0.23rem;
    }
    .label-ios{
        margin: 11px 0 11px 0;
    }
    .logo_k_fanh .fanh_ann{
        margin: 0.15rem 0 0 0.3rem;
    }
}
