
<ion-header>
    <div class="toub_beij toub_beij_zy"  style="background-color:#448AFF;height:0.96rem;">
		<div class="zhongj_k">
      <div class="logo_k logo_k_fanh" (click)="backTo()">
        <a href="#"><img class="fanh_ann" src="assets/imgs/fanh.png"></a>
        </div>
			<div class="shous_k  shous_div">
				<ion-item class="select-item">
					<ion-label>请选择房屋</ion-label>
					<ion-select class="select-goal" (ionChange)="changeRoom()" [(ngModel)]='roomid' cancelText="取消" okText="确认">
						<ion-option *ngFor="let item of roomidlist" value="{{item.id}}">{{item.name}}</ion-option>
						<ion-option value="add">--添加房屋--</ion-option>
					</ion-select>
				</ion-item>
			</div>
		</div>
	</div>
</ion-header>

<ion-content style="background-color:#f5f5f5">

<ion-refresher (ionRefresh)="doRefresh($event)">
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="下拉刷新"
        refreshingSpinner="circles"
        refreshingText="正在更新"
        top="1rem;"
        >
      </ion-refresher-content>
  </ion-refresher>

<!--<div class="select" style="background-color:white;margin-top:10px;">
    <ion-item>
      <ion-label>请选择房屋</ion-label>
        <ion-select (ionChange)="changeRoom()" style="max-width:74%;" [(ngModel)]='roomid' cancelText="取消" okText="确认">
        <ion-option  *ngFor="let item of roomidlist" value={{item.id}}>{{item.name}}</ion-option>
        <ion-option value="add">--添加房屋--</ion-option>
        </ion-select>
    </ion-item>
   </div>-->

  <div class="otherUser_content">

  <div class="otherUser_title" style="margin-bottom:10px" *ngFor="let item of dest;let i of index">
    <input style="float:left" type=checkbox class="inputcheck" [(ngModel)]="item.checked">
    <div class="user_titlediv">
      <div class="user_title">&nbsp;&nbsp;{{item.date}}</div>
      <div class="appear">￥{{item.totalNum}}&nbsp;&nbsp;<img class="little" src="assets/imgs/littlejiantou.png"></div>
    </div>
    <div class="otherUser_content" style="display:none">
      <ion-list>
        <ion-item *ngFor="let list of item.data">
          <div class="fee_time">{{list.name}}</div>
          <div class="fee_content">￥{{list.price}}<span *ngIf="list.wyj != 0">(包含违约金{{list.wyj}}元)</span></div>
        </ion-item>
      </ion-list>
    </div>
  </div>
    <!--<ion-list >
        <ion-item *ngFor="let item of list">
          <div class="fee_time"  (tap)="changePays()">
          <input  style="width: 20px;" type=checkbox  color="danger" [(ngModel)]="item.checked" (ionChange)="changePays()">
          </div>
          <div class="fee_content">{{item.date}}&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            {{item.name}}</div>
          <div class="fee_num">￥{{item.price}}</div>
        </ion-item>
      </ion-list>-->
  </div>

  <div class="dib_daoh_b">
	<div class="gouwuc_ gouwuc_yem">
		<div class="zuo" >
			<i class="i1" (tap)="checkAll()">
				<ion-checkbox style="padding:0.25rem"  disabled="true" color="danger" [(ngModel)]='isChencked'></ion-checkbox>
			</i>
		</div>
		<div class="zhong"><p style="float:left;margin-left:2px">全选</p><p>总计：<em>{{allprice}}</em></p></div>
		<div class="you">
			<div class="goum">
				<a style="background-color:#488aff" (tap)="clickme()">去结算</a>  
			</div>
		</div>
	</div>
</div>
	<div class="nomore" style="display: none">没有更多数据了...</div>
</ion-content>
