page-payfee {
    .otherUser_title{
        margin-top: 10px;
        background-color: white;
        padding: 0.25rem;
        font-size: 0.28rem;
    }
    .user_title{
        display: inline;
        font-size: 0.29rem;
        color: #818181;
    }
    .appear{
        float: right;
        img{
            width: 0.25rem;
            height:0.25rem;
            transform: rotate(180deg);
            margin-right: 0.25rem;
        }
    }
    .hrdiv{
        background: radial-gradient(black -30%, white 100%);
        height: 1px;
        margin: 0.3rem 0;
    }
    .otherUser_content{
        margin-top: 0.3rem;
        font-size: 0.28rem;
    }
    .otherUser_content .item-ios{
        padding-left: 0;
    }

    .list-ios{
        margin: -1px 0 0px;
    }
    
    .bottom_button{
        bottom: 0;
        float: left;
        position: fixed;
        width: 100%;
        height:0.8rem;
    }
    .loginBtn {
        left:0.05%;
        background-color: #488aff;
        width: 50%; 
        float:left;
        height:0.8rem;
        font-size:0.3rem;
        border-radius: 0.05rem;
        color:white
    }
    .registerBtn { 
        right:0.05%;
        background-color: #488aff;
        width: 50%; 
        position: absolute;
        height:0.8rem;
        font-size:0.3rem;
        border-radius: 0.05rem;
        color:white
    }
    .fee_time{
        float:left;
        width:30%;
        font-size: 0.22rem;
        color: #818181;
        margin-left: 0.51rem;
    }
    .fee_content{
        float:left;
        width:40%;
        font-size: 0.22rem;
        line-height: 0.23rem;
        color: #818181;
    }
    .fee_num{
        font-size: 0.22rem;
        color: #818181; 
    }

    .list-ios > .item-block:first-child{
        border-top: none;
    }
    .list-ios .item-block .item-inner{
        border-bottom: 0.55px solid #F5F5F5;
    }
    .list-ios > .item-block:last-child, .list-ios > .item-wrapper:last-child .item-block{
        border-bottom: none;
    }

    .toub_beij_zy{
    border-bottom: solid 1px #2979FF !important;
    }
    .item-ios.item-block .item-inner{
        border-bottom: 0.55px solid #2979FF;
    }
    .feelistcon.item-ios.item-block .item-inner{
        border-bottom: 0.55px solid #F5F5F5 !important;
    }
    .select-item{
        background-color:#2979FF;
        color:#F5F5F5;
        height: 0.5rem;
        margin-top: 0.08rem;
    }
    .shous_div{
        background-color:#2979FF;
        width:72%
    }
    .shous_k{
        height:0.6rem !important;
    }
    .logo_k_fanh{
        margin-top: 0.05rem;
    }
    .select-text{
        font-size: 0.23rem;
    }
    .label-ios{
        margin: 11px 0 11px 0;
    }
    .logo_k_fanh .fanh_ann{
        margin: 0.15rem 0 0 0.3rem;
    }

}
.toub_beij_zy{
    position: sticky;
    // background-color: #62a0f5; 
    // box-shadow: inset 0 0 10px 10px #6c9ae9;
}
.select-text{
        font-size: 0.28rem;
    }
    .select-ios{
    min-width: 100%;
        width: 100%; 
    }
