page-addaddress {
    .choose {
        float: right;
        cursor: pointer;
        height: 32px;
        width: 75%;
        display: inline-block;
        position: relative;
        line-height: 32px;
        font-size: 18px;
        text-align: center;
        padding-right: 10px;
    }
    .denglu_k .denglk_l .mz{
        width: 25%;
    }
}
