page-addaddress {
    .choose {
        float: right;
        cursor: pointer;
        height: 32px;
        width: 75%;
        display: inline-block;
        position: relative;
        line-height: 32px;
        font-size: 18px;
        text-align: center;
        padding-right: 10px;
    }
    .denglu_k .denglk_l .mz{
        width: 22%;
        color: #333333;
    }
    div.dk{
        background:#FF730F;
        height: 0.8rem;
        position: absolute;
        bottom: 0;
        width: 100%;
    }
    div.dk a{
        font-size:0.29rem;
        line-height: 0.8rem;
    }
    .addressdiv{
        margin-top: 10px;
        background-color: white;
    }
    .denglu_k_k{
        margin: 0;
    }
    .shouh_dange_beijin{
        background: #f5f5f5;
        border-radius: 0rem;
        margin-top: 0;     
        padding: 0;
    }
    .denglu_k .denglk_l{
        margin: 0;
        height: 0.75rem;
        width: 96%;
        margin-left: 2%;
        border-bottom: solid 1px #F5F5F5;
        padding-top: 0.1rem;
    }
    dt{
        width: auto;
        float: right;
        margin-top: 0.07rem;
        margin-right: 0.15rem; 
    }

    .checkbox-ios-danger .checkbox-checked{
        border-color: #ff971c;
        background-color: #ff971c;
    }
    .shouhdz_hk{
        height: auto
    }
    select{
            font-size: 0.22rem !important;
    color: #999999;
    }
}
    .chooseimg{
        position:absolute;
        margin-top:0.25rem;
        right:0.3rem;
        width:0.16rem;
        height:0.13rem;
    }
