
<ion-content>


  <!--头部--> 
<div class="toub_beij toub_beij_zy" style="background-color:#ff971c">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backToAddress()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li><a class="px24 zyyge">新添收货地址</a></li>  
				</ul>
			</div>
		</div> 
	</div>
</div>

<!--内容-->
<div class="shouhdz_hk">
	<div class="shouh_zk">
		<div class="shouh_dange_beijin">
			<div class="denglu_k denglu_k_k">
				<div class="denglk denglk_l">
					<div class="mz px24">收货人：</div>
					<input type="text" [(ngModel)]='addressList.name'>
				</div>
				<div class="denglk denglk_l">
					<div class="mz px24">联系方式：</div>
					<input type="text" [(ngModel)]='addressList.mobile'>
				</div>
				<div class="denglk denglk_l">
					<div class="mz px24">所在省份：</div>
					<form class="choose">
							<img src="assets/imgs/jiantou.png" style="position:absolute;margin-top:0.12rem;right:5px;width:0.3rem;height:0.3rem;">
							<select name="provinces" [(ngModel)]="addressList.provinceVal" (ngModelChange)="getCities()" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
								<option *ngFor="let provs of provinces"  value={{provs.code}}>{{provs.name}}</option>
							</select>
					</form>
				</div>
				<div class="denglk denglk_l">
					<div class="mz px24">所在城市：</div>
					<form class="choose">
							<img src="assets/imgs/jiantou.png" style="position:absolute;margin-top:0.12rem;right:5px;width:0.3rem;height:0.3rem;">
							<select name="cities" [(ngModel)]="addressList.cityVal"  (ngModelChange)="getDistricts()" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
								<option *ngFor="let city of cities" value={{city.code}}>{{city.name}}</option>
							</select>
					</form>
				</div>
				<div class="denglk denglk_l">
					<div class="mz px24">所在县区：</div>
					<form class="choose">
							<img src="assets/imgs/jiantou.png" style="position:absolute;margin-top:0.12rem;right:5px;width:0.3rem;height:0.3rem;">
							<select name="districts"  [(ngModel)]="addressList.districtVal" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
								<option *ngFor="let dis of districts" value={{dis.code}}>{{dis.name}}</option>
							</select>
					</form>
				</div>
				<div class="denglk denglk_l">
					<div class="mz px24">详细地址：</div>
					<input type="text" [(ngModel)]='addressList.address'>
				</div> 
				<div class="denglk denglk_l">
					<div class="mz px24">邮编：</div>
					<input type="text" [(ngModel)]='addressList.code'>
				</div> 
			</div>
		</div>
		<div class="shouh_dange_beijin dk" (click)="addAddress()"><a href="#">提交收货地址</a></div>
	</div>
</div>  

  </ion-content>
  