page-repairdetails {

.step-container {  
            margin: 0;  
            padding: 0;  
            width: 100%; 
            margin-bottom: 5rem; 
        }  
        .step-container li {  
            display: inline-block;  
            float: left;  
            position: relative;  
            margin: 0;  
            padding: 0;  
            width: 33%;  
            height: 30px;  
            line-height: 30px;  
            font-size: 12px;  
            text-align: center;  
            background-color: #ccc;  
            color: #ffffff;  
        }  
        .step-container li.step-past {  
            background-color: #9cddf5;  
            width: 34%;  
        }  
        .step-container li.step-current {  
            background-color: #00a2ca;  //第二个
        }  
  
        .arrow {  
            position: absolute;  
            right: -7.5px;  
            height: 30px;  
            background-color: #ffffff;  
            z-index: 1;  
        }  
        .arrow span {  
            display: inline-block;
            border-left: 15px solid transparent;
            border-top: 15px solid transparent;  
            border-bottom: 15px solid transparent;  
        }  
        .arrow-next {  
            margin-left: -15px;  
        }  
        .arrow-past .arrow-pre {  
            border-left: 15px solid #9cddf5;
        }  
        .arrow-past .arrow-next {  
            border-top: 15px solid #00a2ca;  //第二个
            border-bottom: 15px solid #00a2ca;  //第二个
        }  
        .arrow-current .arrow-pre {  
            border-left: 15px solid #cccccc;  //第二个
            background-color: #00a2ca;
        }  
        .arrow-current .arrow-next {  
            border-top: 15px solid #cccccc;  
            border-bottom: 15px solid #cccccc;  
        } 

.repair-ion{
    padding-top:0.3rem;
    margin-left: 0.35rem;
    display: inline !important;
    font-size: 0.25rem !important;
}
.repair-ion+p{
    display: inline;
    color:#488aff;
    font-size: 0.25rem;
    line-height: 0.5rem;
}
.detail{
    padding:0.1rem 0.3rem;
    font-size: 0.2rem;
    line-height: 0.4rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.pic{
   padding:0.1rem 0.1rem;
   margin-left: 0.2rem;
}
.detail1{
    padding-left:0.3rem;
    font-size: 0.2rem;
    line-height: 0.4rem;
    margin-top: 0.1rem;
    margin-bottom: 0.1rem;
}
.repair-state{
    float:right;
    margin-right: 0.3rem;
    color:#488aff;
    font-size: 0.25rem;
    line-height: 0.5rem;
}
.repair-type{
    margin-right: 0.3rem;
    color:#488aff;
    font-size: 0.2rem;
}
.back {  
    display: none;  
    position: fixed;  
    left: 0;  
    top: 0;  
    width: 100%;  
    height: 100%;  
    background-color: rgba(0,0,0,0.6);
    z-index: 5;
}
.content1 {  
    background:#eeeeee;  
    width: 70%;  
    z-index: 1;  
    margin: 30% auto;  
    overflow: auto;
    border-radius: 0.1rem;
}

.closs1 {  
    padding: 0.15rem;  
    background: #428bca;
    text-align: center; 
}  
  
.closs1-button {  
    float: right;  
    font-size: 0.6rem;
    margin-top: -0.05rem; 
}
.div2 {  
    background:#eeeeee;  
    margin: auto;  
    height: 200px;  
    padding: 0 20px;
    margin-top: 15px;
}
.foot {  
    padding: 0.24rem 0;  
    text-align: center;  
    background: #428bca;  
    color: white;
    font-size: 0.32rem;  
} 
.closs1>h2{
    font-size: 0.32rem;
     padding: 0.09rem 0;
}
img{
    height:1.7rem;
    width:1.7rem;
    margin:0 0.05rem;
}

    #app p{font-size: 0.28rem; line-height: 0.4rem;}
    #app li{list-style: none;padding: 0 20px 10px 20px;border-left: 2px solid #999;position: relative;}
    #app li:before{content: "";width: 10px;height: 10px;display: block;background: #257cff;position: absolute;left: 0;top: 0;margin-left: -6px;border-radius: 50%;}
    #app ul{width: 80%;margin: 0 auto;}

    // .button-inner{
    //     font-size: 0.32rem;
    // }
    .button-ios{
        height:0.8rem;
    }
    .item-block{
        min-height:0.5rem;
    }
    textarea{
        font:menu;
        height: 2rem;
    width: 100%;
    }
}



