page-repairadd {

}
.repair_button{
    width: 28rem;
}
.add-some{
    height: 8rem;
}
.imgUpload{
    background-image: url(../assets/imgs/imgUpload.jpg);
    background-repeat:no-repeat;
    height: 10rem;
    width: 10rem;
    background-size: 10rem 10rem;
}
