page-repairevaluate {
.pjnr_txt{
   height: 2.5rem;
    border: 1px solid #9a9a9a;
    border-radius: 0.1rem;
    margin: 0 0.3rem; 
    background-color: white;
    padding: 0
}
.pjnr_txt span{
    margin-right: 0.15rem;
}
.gouwuc_kk_pjsd .diannao_shanp .you .pj_xx p.no{
    background: no-repeat center url(../assets/imgs/Scorebutton.png);
}
}
