<ion-header>
<div class="toub_beij toub_beij_zy" style="background-color:#448AFF">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh" (click)="backTo()">
        <a href="#"><img class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ul>
					<li *ngIf="act=='zx'"><a class="px24">最新资讯</a></li> 
					<li *ngIf="act=='gs'"><a class="px24">公示公告</a></li>   
				</ul>
			</div>
		</div> 
	</div>
</div>
</ion-header>

<ion-content>

<div class="spinnerbox"></div>
<div class="spinner">
    <div class="bar1"></div>
    <div class="bar2"></div>
    <div class="bar3"></div>
    <div class="bar4"></div>
    <div class="bar5"></div>
    <div class="bar6"></div>
    <div class="bar7"></div>
    <div class="bar8"></div>
    <div class="bar9"></div>
    <div class="bar10"></div>
    <div class="bar11"></div>
    <div class="bar12"></div>
</div>

<ion-refresher (ionRefresh)="doRefresh($event)" pullMax=500>
      <ion-refresher-content
        pullingIcon="arrow-dropdown"
        pullingText="释放刷新"
        refreshingSpinner="circles"
        refreshingText="正在更新"
        top="1rem;"
        >
      </ion-refresher-content>
  </ion-refresher>

  <div class="searchdiv">
    <div class="searchTool">
        <form class="choose">
           <img src="assets/imgs/jiantou.png" style="position:absolute;margin-top:0.23rem;right:5px;width:0.17rem;height:0.15rem;margin-right: 0.08rem;">
          <select name="type" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;" [(ngModel)]="type" (ngModelChange)="getNewsList()" >
          <option  selected  value="0"> 全部</option>
          <option class = "11" value="1">通知</option>
          <option class = "22" value="2">温馨提示</option>
          <option class = "33"value="3" >公摊公式</option>
          <option  class = "44"value="4">社区资讯</option>
          <option class = "55"value="5">生活资讯</option>
          </select>
        </form>
        <input type="search" [(ngModel)]="keywords" (keyup)="onSearchKeyUp($event)" class="searchTextInit">
        <input type="button" value class="searchBtn">
        <ion-icon (click)="getNewsList()" class="searchicon" name="ios-search-outline"></ion-icon>
    </div>
  </div>

		 <!--<div class="searchdiv">
    <div class="searchTool">
        <form class="choose">
           <img src="assets/imgs/jiantou.png" style="position:absolute;margin-top:0.12rem;right:5px;width:0.3rem;height:0.3rem;">
          <select name="type" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;" [(ngModel)]="type"  (ngModelChange)="getNewsList()">
          <option  selected  value="0"> 全部</option>
          <option *ngIf="act==gs" value="1">通知</option>
          <option *ngIf="act==gs" value="2">温馨提示</option>
          <option *ngIf="act==gs" value="3" >公摊公式</option>
          <option *ngIf="act==zx" value="4">社区资讯</option>
          <option *ngIf="act==zx" value="5">生活资讯</option>
          </select>
        </form>
        <input type="search" [(ngModel)]="keywords" (keyup)="onSearchKeyUp($event)" placeholder="请输入关键词" class="searchTextInit">
        <input type="button" value class="searchBtn">
    </div>
  </div>-->


<div *ngIf="act=='zx'">

    <div class="zixun_content2" *ngFor="let newList of newsList">
		<div (click)="getNewInfo(newList.id)" class="zixun_li">
		
	<img  style="width:100%;height:3rem;" src="{{config.img}}{{newList.imgurl}}"/>
  <div style="width:100%;height:0.48rem;float:left;background-color: rgba(129,129,129,0.8);color:white;padding-top:0.1rem;margin-top: -0.48rem;"><span style="margin:0 0 0 0.2rem">{{newList.topic}}</span></div>
		</div>
	</div>

  </div>


<div *ngIf="act=='gs'">
    <div class="zixun_content" *ngFor="let newList of newsList">
		<div (click)="getNewInfo(newList.id)" class="zixun_li">
		
		<div class="content">	<span>{{newList.topic}}</span></div>
     <div  class="remark"> <span class="time">时间：{{newList.adddate | pipeTime}}</span><span class="apartment">通知部门：物业管理局</span></div>
		<br/>
    	<span class="line"  style="clear:both"></span>
		</div>
</div>

  </div>
	<div style="clear:both"></div>
	<div class="nomore" style="display: none">没有更多数据了...</div>
	  <ion-infinite-scroll (ionInfinite)="doLoadMore($event)">
    <ion-infinite-scroll-content></ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>
