page-changeaddr{
  .Xinz {
      background: #FF730F;
  }
  .shang{
      color: #333333;
  }
  .def{
      color:#999999;
      padding-top: 0.05rem;
  }
  .boanjk{
      padding-left: 2%;
  }
  input{
      width: 0.5rem;
      height: 0.22rem;
      display: block;
    float: left;
    margin-top: 0.02rem;
  }
  .shouh_dange_beijin .boanjk a{
      color: #999999;
  }
  .shouh_zk{
      background: white;
  }
  .shouh_dange_beijin .shang .mz em{
      color:#333333;
  }
  .shouh_dange_beijin .shang .mz p{
      color: #666666;
  }
}