<ion-content style="background-color:#f5f5f5">
  <div class="toub_beij toub_beij_zy"  style="background-color:#448AFF">
	<div class="zhongj_k zhongj_k_z">
		<div class="jiu_feo">
			<div class="logo_k logo_k_fanh"><a href="#"><img (click)="backTo()" class="fanh_ann" src="assets/imgs/fanh.png"></a></div>
			<div class="zhongjain_daoh">
				<ion-item class="select-item">
					<ion-label>请选择房屋</ion-label>
					<ion-select class="select-goal" (ionChange)="changeRoom(roomid)" [(ngModel)]='roomid' cancelText="取消" okText="确认">
						<ion-option [selected]="room.id==defRoomId"*ngFor="let room of roomidlist" value="{{room.id}}">{{room.name}}</ion-option>
						<ion-option value="add">--为其他房屋缴费--</ion-option>
					</ion-select>
				</ion-item>
			</div>
		</div>
	</div>
  </div>

<div id="selectOther" style="margin-top:10px;display:none">
      <!--<ion-item>
      <ion-label>请选择房屋</ion-label>
        <ion-select [(ngModel)]="projectId" (ngModelChange)="getEdifice(projectId)"  style="max-width:74%;" cancelText="取消" okText="确认">
        <ion-option selected >请选择小区</ion-option>
        <ion-option *ngFor="let list of projectlist" value={{list.id}}>{{list.name}}</ion-option>
        <ion-option value="add">--为其他房屋缴费--</ion-option>
        </ion-select>
    </ion-item>
          <ion-item>
           
      <ion-label>请选择房屋</ion-label>
        <ion-select  [(ngModel)]="edificeId" (ngModelChange)="getRoom(edificeId)" style="max-width:74%;" cancelText="取消" okText="确认">
        <ion-option selected value="qxz">请选择楼栋</ion-option>
        <ion-option *ngFor="let edificelist of edificelist" value={{edificelist.id}}>{{edificelist.name}}</ion-option>
        </ion-select>
    </ion-item>
          <ion-item>
           
      <ion-label>请选择房屋</ion-label>
        <ion-select   [(ngModel)]="roomId"  style="max-width:74%;" cancelText="取消" okText="确认">
        <ion-option selected >请选择房屋</ion-option>
        <ion-option *ngFor="let item of roomlist"  value={{item.id}}> {{item.code}}</ion-option>
        <ion-option value="add">--为其他房屋缴费--</ion-option>
        </ion-select>
    </ion-item>-->
<div class="addressdiv">
  <div class="denglu_k" id="base">
    	<div class="denglk denglk_l">
		<div class="mz px24">请选择小区：</div>
    <form class="choose">
        <img src="assets/imgs/jiantou.png" class="chooseimg">
        <select name="project" [(ngModel)]="projectId" (ngModelChange)="getEdifice(projectId)" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option *ngFor="let list of projectlist" value={{list.id}}>{{list.name}}</option>
        </select>
    </form>
	</div>
  	<div class="denglk denglk_l">
		<div class="mz px24">请选择楼栋：</div>
    <form class="choose">
        <img src="assets/imgs/jiantou.png" class="chooseimg">
        <select name="edifice" [(ngModel)]="edificeId" (ngModelChange)="getRoom(edificeId)" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option *ngFor="let edificelist of edificelist" value={{edificelist.id}}>{{edificelist.name}}</option>
        </select>
    </form>
	</div>
  	<div class="denglk denglk_l">
		<div class="mz px24">请选择房间：</div>
    <form class="choose">
        <img src="assets/imgs/jiantou.png" class="chooseimg">
        <select name="room" [(ngModel)]="roomId" (ngModelChange)="getEdifice()" style="-webkit-appearance:none;padding-left:0.2rem;font-size: 14px;width: 100%;">
          <option *ngFor="let item of roomlist"  value={{item.id}}> {{item.code}}</option>
        </select>
    </form>
	</div>
</div>
</div>
</div>

<div class="otherUser_title">
    <div class="user_titlediv">
      <div class="user_title">请填写预存款项金额</div>
    </div>
    <div class="otherUser_content">
      <ion-list>
        <ion-item>
          <div class="fee_list"><span>管理费：</span></div>
          <input class="fee_input" type="number" [(ngModel)]="management" />
          <div class="fee_num">元</div>
        </ion-item>
        <ion-item>
          <div class="fee_list"><span>水费：</span></div>
          <input class="fee_input" type="number" [(ngModel)]="water" />
          <div class="fee_num">元</div>
        </ion-item>
        <ion-item>
          <div class="fee_list"><span>电费：</span></div>
          <input class="fee_input" type="number" [(ngModel)]="electricity"/>
          <div class="fee_num">元</div>
        </ion-item>
        <ion-item>
          <div class="fee_list"><span>车位管理费：</span></div>
          <input class="fee_input" type="number" [(ngModel)]="parking"/>
          <div class="fee_num">元</div>
        </ion-item>
        <ion-item>
          <div class="fee_list"><span>生活垃圾处理费：</span></div>
          <input class="fee_input" type="number" [(ngModel)]="rubbish"/>
          <div class="fee_num">元</div>
        </ion-item>
      </ion-list>
    </div>
  </div>

  <div class="otherUser_title">
    <div class="user_titlediv">
      <div class="user_bigo">提示：您可根据往月费用，向不同账户预存一定金额，系统会根据您的具体消费金额定向扣除。</div>
    </div>
  </div>

<div class="dib_daoh_b">
	<div class="gouwuc_ gouwuc_yem">
		<div class="zhong"><p>总计：<em>{{allPrice}}</em>&nbsp;元</p></div>
		<div class="you" style="position:absolute;right:0;">
			<div class="goum">
				<a style="background-color:#488aff" (click)="clickme()">去结算</a>
			</div>
		</div>
	</div>
</div>

</ion-content>
